<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.saale"
   name="KalypsoSaalePlugin"
   version="1.0.0"
   provider-name="kalypso.org">
   <runtime>
      <library name="kalypsoSaale.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.kalypso.core"/>
      <import plugin="org.kalypso.jwsdp"/>
      <import plugin="org.kalypso.services.calculation.local"/>
      <import plugin="org.kalypso.ui"/>
   </requires>
   <extension
         point="org.kalypso.services.calculation.local.calcJob">
      <calcJob
            typeID="Saale_SA_V1"
            catalogClass="org.kalypso.lhwsachsenanhalt.saale.SaaleUrlCatalog"
            jobClass="org.kalypso.lhwsachsenanhalt.saale.SaaleCalcJob"/>
   </extension>
</plugin>
