<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.kalypso.model.wspm.ui.preferences.KalypsoWspmPreferencePage"
            class="org.kalypso.model.wspm.pdb.ui.internal.preferences.WspmPdbPreferencePage"
            id="WspmPdbPreferencePage"
            name="Cross Section Database">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.kalypso.model.wspm.pdb.ui.viewCategory"
            name="Cross Section Database"
            parentCategory="org.kalypso.ui.kalypso">
      </category>
      <view
            allowMultiple="false"
            category="org.kalypso.model.wspm.pdb.ui.viewCategory"
            class="org.kalypso.model.wspm.pdb.ui.internal.preferences.PdbView"
            icon="icons/pdb.gif"
            id="PdbView"
            name="Profildatenbank"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
        <menuContribution
              allPopups="false"
              locationURI="toolbar:org.kalypso.model.wspm.tuhh.ui.light.WspmMapViewPart?before=widgets" >
             <command label="" commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.SelectPdbProfiles" style="radio"/>
          </menuContribution>
    </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.kalypso.model.wspm.pdb.ui.commands.categories.MapCategory"
            name="Cross Sections Map Commands">
      </category>
      <command
            categoryId="org.kalypso.model.wspm.pdb.ui.commands.categories.MapCategory"
            id="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.SelectPdbProfiles"
            name="Select Cross Sections">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.SelectPdbProfiles">
         <class
               class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.model.wspm.pdb.ui.internal.wspm.SelectPdbProfilesWidget">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.icon"
                  value="icons/selectProfileWidget.gif">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.tooltip"
                  value="Select Cross Sections">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
                  value="org.kalypso.model.wspm.pdb.ui">
            </parameter>
         </class>
      </handler>
    </extension>         
   
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="WspmLightPerspective">
          <view
                closeable="false"
                id="PdbView"
                minimized="false"
                moveable="false"
                relationship="stack"
                relative="org.kalypso.model.wspm.tuhh.ui.light.WspmGmvViewPart"
                showTitle="true"
                standalone="false"
                visible="true">
          </view>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="org.kalypso.model.wspm.pdb.ui.internal.PdbStartup">
       </startup>
    </extension>

  <!-- GML TREE -->
  <extension point="org.eclipse.ui.commands">
     <command
           categoryId="org.kalypso.ogc.gml.gmltree.category"
           description="Uploads WSPM data into the cross section database as a new state"
           id="org.kalypso.model.wspm.pdb.ui.gmvtree.command.checkinState"
           name="Upload Data into Cross Section Database"/>
  </extension>
  <extension point="org.eclipse.ui.commandImages">
     <image commandId="org.kalypso.model.wspm.pdb.ui.gmvtree.command.checkinState" icon="icons/checkinState.gif"/>
  </extension>
  <extension point="org.eclipse.ui.handlers">
     <handler commandId="org.kalypso.model.wspm.pdb.ui.gmvtree.command.checkinState" class="org.kalypso.model.wspm.pdb.ui.internal.wspm.CheckinStateHandler"/>
  </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="toolbar:org.kalypso.model.wspm.tuhh.ui.light.WspmGmvViewPart?after=data">
       <command commandId="org.kalypso.model.wspm.pdb.ui.gmvtree.command.checkinState" style="push"/>
    </menuContribution>
  </extension>
  <extension point="org.kalypso.ui.exportWizards">
     <wizard
           category="exportWizards/profileExportWizards"
           class="org.kalypso.model.wspm.pdb.ui.internal.wspm.LocalDataProjectExport"
           icon="icons/exportLocalAsWspm.gif"
           id="org.kalypso.model.wspm.pdb.ui.internal.wspm.LocalDataProjectExport"
           name="KalypsoWSPM">
     </wizard>
  </extension>
  <extension point="org.kalypso.contribs.eclipsercp.wizardEnablement">
        <wizardEnablement wizardID="org.kalypso.model.wspm.pdb.ui.internal.wspm.LocalDataProjectExport">
           <enablement>
           <!-- FIXME: instead: rootFeature is wspm model --> 
           <!-- AND: we are in WSM light mode... -->
              <and>
                 <test
                       property="org.kalypso.model.wspm.pdb.ui.localData.localProjectPresent">
                 </test>
                 <with variable="activePart">
                    <instanceof value="org.kalypso.model.wspm.tuhh.ui.light.WspmGmvViewPart"/>
                 </with>
                 <with variable="selection">
                    <iterate ifEmpty="false" operator="or">
                       <test property="org.kalypso.gml.rootQName" value="{org.kalypso.model.wspmproj}WspmProject"/>
                    </iterate>
                 </with>
                 <with variable="activeWorkbenchWindow.activePerspective">
                    <equals value="WspmLightPerspective"/>
                 </with>
              </and>
           </enablement>
        </wizardEnablement>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.kalypso.model.wspm.pdb.ui.internal.wspm.LocalDataPropertyTest"
           id="org.kalypso.model.wspm.pdb.ui.propertyTester"
           namespace="org.kalypso.model.wspm.pdb.ui.localData"
           properties="localProjectPresent"
           type="java.lang.Object">
     </propertyTester>
  </extension>
  
  <extension point="org.eclipse.core.expressions.definitions">
     <definition id="onePdbElementSelected">
           <and>
              <with variable="activePart">
                 <instanceof value="org.kalypso.model.wspm.pdb.ui.internal.content.IConnectionViewer"/>
              </with>
              <with variable="selection">
                 <and> 
                    <count value="1"/>
                    <iterate ifEmpty="false" operator="and">
                        <or>
                           <instanceof value="org.kalypso.model.wspm.pdb.db.mapping.WaterBody"/>
                           <instanceof value="org.kalypso.model.wspm.pdb.db.mapping.State"/>
                       </or>
                    </iterate>
                 </and>
              </with>
           </and>
     </definition>
  </extension>
  
  <extension point="org.kalypso.ui.importWizards">
      <category id="pdbWizardsCategory" name="Cross Section Database"/>
      <wizard category="pdbWizardsCategory" class="org.kalypso.model.wspm.pdb.ui.internal.admin.gaf.ImportGafWizard" id="org.kalypso.model.wspm.pdb.ui.internal.admin.gaf.ImportGafWizard" name="Import GAF">
        <description>Imports a new state from a GAF file</description>
      </wizard>
  </extension>
  <extension point="org.kalypso.contribs.eclipsercp.wizardEnablement">
    <wizardEnablement wizardID="org.kalypso.model.wspm.pdb.ui.internal.admin.gaf.ImportGafWizard">
       <enablement>
              <with variable="activePart">
                 <instanceof value="org.kalypso.model.wspm.pdb.ui.internal.content.IConnectionViewer"/>
              </with>
       </enablement>
    </wizardEnablement>
  </extension>
  
  <!-- Commands on PDB elements -->
  <extension point="org.eclipse.ui.commands">
     <category id="pdbCommands" name="PDB Commands"/>
     <command categoryId="pdbCommands" description="Edit the properties of the selected element" id="org.kalypso.model.wspm.pdb.ui.command.editElement" name="Edit..."/>
     <command categoryId="pdbCommands" description="Remove the selected element" id="org.kalypso.model.wspm.pdb.ui.command.removeElement" name="Remove..."/>
  </extension>
  <extension point="org.eclipse.ui.commandImages">
     <image commandId="org.kalypso.model.wspm.pdb.ui.command.editElement" icon="icons/editElement.gif"/>
     <image commandId="org.kalypso.model.wspm.pdb.ui.command.removeElement" icon="icons/removeElement.png"/>
  </extension>
  <extension point="org.eclipse.ui.handlers">
     <handler class="org.kalypso.model.wspm.pdb.ui.internal.content.EditElementHandler" commandId="org.kalypso.model.wspm.pdb.ui.command.editElement">
        <enabledWhen>
           <reference definitionId="onePdbElementSelected"/>
        </enabledWhen>
     </handler>
     <handler class="org.kalypso.model.wspm.pdb.ui.internal.content.RemoveElementHandler" commandId="org.kalypso.model.wspm.pdb.ui.command.removeElement">
        <enabledWhen>
           <reference definitionId="onePdbElementSelected"/>
        </enabledWhen>
     </handler>
  </extension>
  <extension point="org.eclipse.ui.menus">
     <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.editElement" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.removeElement" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
     </menuContribution>
     <menuContribution allPopups="false" locationURI="toolbar:org.kalypso.model.wspm.pdb.ui.content">
        <command commandId="org.kalypso.ui.command.import" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.editElement" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.removeElement" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
     </menuContribution>
  </extension>   
</plugin>
