<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.kalypso.model.wspm.ui.preferences.KalypsoWspmPreferencePage"
            class="org.kalypso.model.wspm.pdb.ui.preferences.internal.WspmPdbPreferencePage"
            id="WspmPdbPreferencePage"
            name="Cross Section Database">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.kalypso.model.wspm.pdb.ui.perspective.internal.PdbPerspective"
            fixed="true"
            icon="icons/pdb.gif"
            id="PdbPerspective"
            name="Profildatenbank">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.kalypso.model.wspm.pdb.ui.perspective.internal.PdbView"
            icon="icons/pdb.gif"
            id="PdbView"
            name="Profildatenbank"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="kalypsomodelwspmpdbui.LaunchConfigurationTab1"
            group="KalypsoModelWspmPdbUI.tab1"
            id="KalypsoModelWspmPdbUI.tab1"
            name="KalypsoModelWspmPdbUI.tab1">
      </tab>
   </extension>

</plugin>
