<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="demoProject" name="demoProject" schema="schema/demoProject.exsd"/>
   <extension
         point="org.kalypso.model.wspm.core.profilserializer">
      <source
            class="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSource"
            extension="prf"
            id="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSource"
            name="PrfSource"/>
      <sink
            class="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSink"
            extension="prf"
            id="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSink"
            name="PrfSink"/>
   </extension>
   <extension
         point="org.kalypso.model.wspm.core.profilePointFilter">
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.VorlandlinksProfilePointFilter"
            description="nur Profilpunkte links ausserhalb der Hauptöffnung (ausserhalb der Trennflächen)"
            id="org.kalypso.model.wspm.tuhh.core.profile.VorlandlinksProfilePointFilter"
            name="nur Vorland links"/>
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.FlussschlauchProfilePointFilter"
            description="nur Profilpunkte innerhalb der Hauptöffnung innerhalb der Trennflächen)"
            id="org.kalypso.model.wspm.tuhh.core.profile.FlussschlauchProfilePointFilter"
            name="nur Flussschlauch">
      </filter>
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.VorlandrechtsProfilePointFilter"
            description="nur Profilpunkte rechts ausserhalb der Hauptöffnung (ausserhalb der Trennflächen)"
            id="org.kalypso.model.wspm.tuhh.core.profile.VorlandrechtsProfilePointFilter"
            name="nur Vorland rechts">
      </filter>
   </extension>
   <extension
         point="org.kalypso.model.wspm.core.profilPointMarkerProvider">
      <pointMarkerProvider
            id="org.kalypso.model.wspm.tuhh.core.profile.DeviderProvider"
            profiletype="org.kalypso.model.wspm.tuhh.profiletype"
            provider="org.kalypso.model.wspm.tuhh.core.profile.DeviderProvider"/>
   </extension>
   <extension
         point="org.kalypso.model.wspm.core.profileObjectProvider">
      <objectProvider
            id="KalypsoModelWspmTuhhCore.objectProviderTUHH"
            profiletype="org.kalypso.model.wspm.tuhh.profiletype"
            provider="org.kalypso.model.wspm.tuhh.core.profile.buildings.TuhhBuildingProvider"/>
   </extension>
   <extension
         point="org.kalypso.model.wspm.core.profiletype">
      <profiletype
            class="org.kalypso.model.wspm.tuhh.core.profile.PointPropertyProviderTUHH"
            description="Profile nach dem 1D-stationären Rechenkern der TUHH (nach Prof. Pasche)"
            id="org.kalypso.model.wspm.tuhh.profiletype"
            name="Pasche">
      </profiletype>
   </extension>
   <extension
         point="org.kalypso.model.wspm.tuhh.core.demoProject">
      <project
            data="etc/demos/testDemo.zip"
            description="Dies ist ein leeres Testproject, welches Gernot hilft, diese neue Funktion zu implementieren."
            icon="icons/obj16/legend_col1.gif"
            label="Test (leer)"
            projectName="TestDemoTuhh">
      </project>
   </extension>

</plugin>
