<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Kalypso Simulation Platform">
         <property
               name="windowImages"
               value="etc/applicationicons/icon_16.gif,etc/applicationicons/icon_32.gif,etc/applicationicons/icon_48.gif,etc/applicationicons/icon_64.gif,etc/applicationicons/icon_128.gif">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="etc/aboutKalypso.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="0000A0">
         </property>
         <property
               name="startupProgressRect"
               value="0,220,400,15">
         </property>
         <property
               name="startupMessageRect"
               value="5,200,395,20">
         </property>
         <property
               name="appName"
               value="Kalypso Simulation Platform">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>


</plugin>
