<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogModelSimulationBase"
            id="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogModelSimulationBase"/>
      <catalog
            class="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogGmlImitations"
            id="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogModelGmlImitations"/>
      <catalog
            class="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogRoughness"
            id="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogRoughness"/>
   </extension>
   
   <extension
         id="org.kalypso.core.adapters"
         name="Kalypso Simulation-Base Adapter Factory"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.kalypsodeegree.model.feature.Feature"
            class="org.kalypso.kalypsosimulationmodel.core.KalypsoSimBaseFeatureFactory">
         <adapter type="org.kalypso.kalypsosimulationmodel.core.roughness.IRoughnessCls"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.util.math.IPolynomial1D"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.core.roughness.IRoughnessClsCorrection"/>
      </factory>
      
      <factory
            adaptableType="org.kalypsodeegree.model.feature.Feature"
            class="org.kalypso.kalypsosimulationmodel.core.KalypsoSimBaseFeatureFactory">
         <adapter type="org.kalypso.kalypsosimulationmodel.util.math.IPolynomial2D"/>
      </factory>
   </extension>
</plugin>
