<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogModelSimulationBase"
            id="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogModelSimulationBase"/>
      <catalog
            class="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogGmlImitations"
            id="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogModelGmlImitations"/>
      <catalog
            class="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogRoughness"
            id="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogRoughness"/>
   </extension>
   
   <extension
         id="org.kalypso.core.adapters"
         name="Kalypso Simulation-Base Adapter Factory"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.kalypsodeegree.model.feature.Feature"
            class="org.kalypso.kalypsosimulationmodel.core.KalypsoSimBaseFeatureFactory">
         <adapter type="org.kalypso.kalypsosimulationmodel.core.roughness.IRoughnessCls"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.util.math.IPolynomial1D"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.core.roughness.IRoughnessClsCorrection"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.core.terrainmodel.IRoughnessPolygon"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.core.terrainmodel.IRiverProfileNetworkCollection"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.core.terrainmodel.IRiverProfileNetwork"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.core.terrainmodel.ITerrainModel"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.core.terrainmodel.ITerrainElevationModel"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.core.terrainmodel.ITerrainElevationModelSystem"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.util.math.IPolynomial2D"/>
      </factory>
      
      <!--factory
            adaptableType="org.kalypsodeegree.model.feature.Feature"
            class="org.kalypso.kalypsosimulationmodel.core.KalypsoSimBaseFeatureFactory">
         <adapter type="org.kalypso.kalypsosimulationmodel.util.math.IPolynomial2D"/>
      </factory-->
      
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.kalypso.kalypsosimulationmodel.ui.shapeimportwizards"
            name="Kalypso import wizards"/>
      <wizard
            category="org.kalypso.kalypsosimulationmodel.ui.shapeimportwizards"
            class="org.kalypso.ui.wizards.imports.roughness.ImportWizard"
            icon="etc/images/icons/kalypso_gmt.gif"
            id="org.kalypso.ui.wizards.imports.roughness.ImportWizard"
            name="Roughness import wizard"
            project="false"/>
      <wizard
            class="org.kalypso.ui.wizards.imports.baseMap.ImportBaseMapWizard"
            icon="etc/images/icons/kalypso_gmt.gif"
            id="org.kalypso.ui.wizards.imports.baseMap.ImportBaseMapWizard"
            name="BaseMap"
            project="false"/>
   </extension>
   <extension
         point="org.kalypso.deegree.functionProperty">
      <function
            class="org.kalypso.ui.wizards.imports.roughness.LinkedFeaturePropertyFunction"
            id="org.kalypso.ui.wizards.imports.roughness.LinkedFeaturePropertyFunction"
            name="Linked-Feature-Property-Fetcher"/>
   </extension>
</plugin>
