<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="repository.factories"
         name="repository.factories"
         point="org.kalypso.repository.factories">

         <!-- TODO: Marc: Remove 'class' Attribut because of compilation-problems under linux
         check if still everything works -->

      <repository
            factory="org.kalypso.services.ocs.repository.ObservationServiceRepositoryFactory"
            name="%Extension.repository.factories.timeseriesService">
      </repository>
   </extension>


</plugin>
