<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.kalypso.core.nativeObsAdapter">
      <adapter
            label="TUBIG-Import (Wasserstand)"
            class="org.kalypso.lhwsachsenanhalt.tubig.NativeObservationTubigAdapter"
            axisType="W"/>
      <adapter
            label="TUBIG-Import (Niederschlag)"
            class="org.kalypso.lhwsachsenanhalt.tubig.NativeObservationTubigAdapter"
            axisType="N"/>
      <adapter
            label="TUBIG-Import (Volumen)"
            class="org.kalypso.lhwsachsenanhalt.tubig.NativeObservationTubigAdapter"
            axisType="V"/>
      <adapter
            label="TUBIG-Import (Abfluss)"
            class="org.kalypso.lhwsachsenanhalt.tubig.NativeObservationTubigAdapter"
            axisType="Q"/>
   </extension>
   <extension
         point="org.kalypso.services.calculation.local.calcJob">
      <calcJob
            typeID="TubigV1.0"
            catalogClass="org.kalypso.lhwsachsenanhalt.tubig.TubigUrlCatalog"
            jobClass="org.kalypso.lhwsachsenanhalt.tubig.TubigCalcJob"/>
   </extension>

</plugin>
