<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.services.metadoc"
   name="KalypsoServiceMetaDoc"
   version="1.0.0"
   provider-name="kalypso.org">
   <requires>
      <import plugin="org.kalypso.contribs.java"/>
      <import plugin="org.kalypso.jwsdp"/>
      <import plugin="org.kalypso.commons"/>
      <import plugin="org.kalypso.services.core"/>
      <import plugin="org.kalypso.metadoc"/>
   </requires>

</plugin>
