<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.repository"
   name="KalypsoRepository"
   version="1.0.0"
   provider-name="kalypso.org">

   <runtime>
      <library name="lib/repositoryBinding.jar">
         <export name="*"/>
      </library>
      <library name="kalypsorepository.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime" export="true"/>
      <import plugin="org.kalypso.commons" export="true"/>
      <import plugin="org.kalypso.jwsdp"/>
      <import plugin="org.kalypso.contribs.java"/>
      <import plugin="org.junit"/>
   </requires>

   <extension-point id="factories" name="RepositoryFactories" schema="schema/repfactories.exsd"/>

</plugin>
