<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.kalypso.contribs.eclipseplatform.projectTemplate">
      <project
            category="org.kalypso.model.wspm.tuhh.demoProjects"
            data="/"
            description="%wspm.project.description"
            label="%wspm.project.label"
            projectName="%wspm.project.projectName">
      </project>
   </extension>

</plugin>
