<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
           point="org.kalypso.simulation.core.simulation">
        <simulation
              catalogClass="org.kalypso.lhwzsachsen.spree.SpreeUrlCatalog"
              simulationClass="org.kalypso.lhwzsachsen.spree.SpreeCalcJob"
              typeID="spree"/>
     </extension>

</plugin>
