<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="org.kalypso.repository.factories"
         name="Wiski Repository Factories"
         point="org.kalypso.repository.factories">
      <repository
            conf="rmi://193.23.163.115:10991/KiWWDataProvider#-#kmustermann#geheim#de"
            name="Wiski Data Provider"
            factory="org.kalypso.wiskiadapter.WiskiRepositoryFactory"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            objectClass="org.kalypso.wiskiadapter.WiskiRepository"
            id="repositoryItem">
         <action
               label="Wiski List Dump"
               class="org.kalypso.wiskiadapter.WiskiDump"
               style="push"
               id="wiskiListDump"/>
      </objectContribution>
   </extension>

</plugin>
