<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="scenarioData" name="Scenario data" schema="schema/scenarioData.exsd"/>   	
	<extension
         id="AFGUIApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.kalypso.afgui.AFGUIApplication">
         </run>
      </application>
   </extension>
   
   <extension
         id="org.kalypso.afgui.AFGUIApplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.kalypso.afgui.AFGUIApplication">
         </run>
      </application>
   </extension>
   <extension
         id="KalypsoAFGUIFramework_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.kalypso.afgui.AFGUIApplication"
            name="GUI Framework Test"/>
   </extension>
   <extension
         id="org.kalypso.afgui.ScenarioHandlingProjectNature"
         name="ScenarioHandlingProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.kalypso.afgui.ScenarioHandlingProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.kalypso.afgui.views.WorkflowView"
            icon="icons/nuvola_select/loop.png"
            id="org.kalypso.kalypso1d2d.pjt.views.WorklistView"
            name="Aktivitäten">
      </view>
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/tree.gif"
            id="org.kalypso.kalypso1d2d.pjt.views.ScenarioView"
            name="Szenarien">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.kalypso.kalypso1d2d.pjt.navigator.ScenarioContent">
            </contentExtension>
            <contentExtension
                  isRoot="false"
                  pattern="org.kalypso.kalypso1d2d.pjt.navigator.ScenarioResultContent">
            </contentExtension>
            <contentExtension
                  pattern="de.renew.workflow.connector.filters.kalypso.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.kalypso.afgui.views.ScenarioContentProvider"
            icon="icons/nuvola_select/ledblue.png"
            id="org.kalypso.kalypso1d2d.pjt.navigator.ScenarioContent"
            labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
            name="Szenario"
            priority="highest"
            providesSaveables="false">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
               <instanceof
                     value="org.kalypso.afgui.scenarios.Scenario">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            id="de.renew.workflow.connector.filters.kalypso.noresources"
            name="Ressourcen ausblenden">
         <filterExpression>
            <not>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <instanceof
                        value="org.kalypso.afgui.scenarios.Scenario">
                  </instanceof>
               </or>
            </not>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.kalypso.afgui.handlers.ActivateScenarioHandler"
            commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario">
      </handler>
      <handler
            class="org.kalypso.afgui.handlers.AddScenarioHandler"
            commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario">
      </handler>
      <handler
            class="org.kalypso.afgui.handlers.RemoveScenarioHandler"
            commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__RemoveScenario">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.renew.workflow.tasks.category"
            id="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario"
            name="Szenario hinzufügen">
      </command>
      <command
            categoryId="de.renew.workflow.tasks.category"
            id="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__RemoveScenario"
            name="Szenario löschen">
      </command>
      <command
            categoryId="de.renew.workflow.tasks.category"
            id="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario"
            name="Szenario aktivieren">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
         <command
               commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario"
               icon="icons/activate.gif"
               id="org.kalypso.kalypso1d2d.pjt.actions.ActivateScenario"
               label="Szenario aktivieren"
               tooltip="Das gewählte Szenario aktivieren">
            <visibleWhen>
               <reference
                     definitionId="oneScenario">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario"
               icon="icons/nuvola_select/edit_add.png"
               id="org.kalypso.kalypso1d2d.pjt.actions.AddScenario"
               label="Szenario hinzufügen"
               tooltip="Ein neues Szenario hinzufügen">
            <visibleWhen>
               <reference
                     definitionId="oneScenario">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__RemoveScenario"
               helpContextId="org.eclipse.ui.edit.delete"
               icon="icons/nuvola_select/edit_remove.png"
               id="org.kalypso.kalypso1d2d.pjt.actions.RemoveScenario"
               label="Szenario löschen"
               tooltip="Das gewählte Szenario löschen">
            <visibleWhen>
               <reference
                     definitionId="oneScenario">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="de.renew.workflow.model.contextHandlerFactories">
      <contextHandlerFactory
            class="org.kalypso.afgui.handlers.KalypsoContextHandlerFactory"
            id="kalypsoContextHandlerFactory">
      </contextHandlerFactory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneScenario">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.kalypso.afgui.scenarios.Scenario">
               </instanceof>
            </iterate>
         </and>
      </definition>
   </extension>
   
   
   <!--extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Framework Base Perspective"
            class="org.kalypso.afgui.Perspective"
            id="KalypsoAFGUIFramework.perspective">
      </perspective>
      <perspective
            name="Data Centric Perspective"
            class="org.kalypso.afgui.DataCentricPerspective"
            id="KalypsoAFGUIFramework.datacentricperspective">
      </perspective>
      
      <perspective
            name="Expert Perspective"
            class="org.kalypso.afgui.ExpertPerspective"
            id="KalypsoAFGUIFramework.Expert.perspective">
      </perspective>
   </extension>
   <extension
         id="KalypsoAFGUIFramework_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.kalypso.afgui.AFGUIApplication"
            name="GUI Framework Test"/>
   </extension>
   <extension
         id="org.kalypso.afgui.views.WorkflowViews"
         name="Workflow"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.kalypso.afgui.views.WorkflowView"
            id="org.kalypso.afgui.views.WorkflowView"
            name="Workflow"/>
      <view
            class="org.kalypso.afgui.views.WorkflowHelpView"
            id="org.kalypso.afgui.views.WorkflowHelpView"
            name="WorkflowHelpView"/>
      <view
            class="org.kalypso.afgui.views.ModelDataView"
            id="org.kalypso.afgui.views.ModelDataView"
            name="Model Data View"/>
   </extension -->
   
   <!-- Project extensions -->
   <!--extension
      point="org.eclipse.core.resources.natures"
      id="org.kalypso.pjt.Kalypso1D2DProjectNature"
      name="Kalypso1D2DProjectNature">
      <runtime>
         <run class="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"/>
      </runtime>
   </extension>

	<extension
       point="org.eclipse.ui.newWizards">
		<category
            id="org.kalypso.wizard"
            name="K1d2dPjt"
            parentCategory="org.kalypso.ui.newwizards.kalypso"/>
		<wizard name="Kalypso1D2DNewProjectWizard"
		icon="icons/kalypso1d2d.png"
		class="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DNewProjectWizard"
		project="true"
		id="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DNewProjectWizard">
		<description>
		Creates a new project
		</description>
		</wizard>
	</extension -->
</plugin>
