<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.core.catalogContribution">
      <catalogContribution
            class="org.kalypso.ui.rrm.catalog.RRMFeatureTypeStyleCatalogContribution"
            name="RRM-Style-Catalog"/>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.kalypso.ui.newwizards.kalypso.rrm"
            name="%Category.name"
            parentCategory="org.kalypso.ui.newwizards.kalypso"/>
      <wizard
            category="org.kalypso.ui.newwizards.kalypso/org.kalypso.ui.newwizards.kalypso.rrm"
            class="org.kalypso.ui.rrm.internal.newproject.KalypsoNAProjectWizard"
            finalPerspective="org.kalypso.ui.perspectives.ModelerPerspectiveFactory"
            hasPages="true"
            icon="icons/kalypso16.gif"
            id="org.kalypso.ui.rrm.wizards.KalypsoNAProjectWizard"
            name="%NewWizard.name"
            project="true">
         <description>
            %org.kalypso.ui.rrm.wizards.KalypsoNAProjectWizard.description
         </description>
      </wizard>
   </extension>

   <extension point="org.kalypso.module.kalypsoModule">
      <module class="org.kalypso.ui.rrm.KalypsoModuleRRM"/>
   </extension>

  <!-- Commands for the map or map outline -->
	<extension point="org.eclipse.ui.commands">
	    <!-- Map -->
	    <command categoryId="org.kalypso.ogc.gml.map.category" id="org.kalypso.ogc.gml.map.EditRelationsCommand" name="%org.kalypso.ui.editor.mapeditor.actiondelegates.EditRelationsWidgetDelegate.label" description="%org.kalypso.ui.editor.mapeditor.actiondelegates.EditRelationsWidgetDelegate.tooltip"/>

	    <!-- Map Outline -->
		<command categoryId="org.kalypso.ui.map.outline.category" id="org.kalypso.ui.map.outline.command.RRMCreateHydrotops" name="%command.name.3"/>
	</extension>

	 <extension  point="org.eclipse.ui.commandImages">
	    <image commandId="org.kalypso.ogc.gml.map.EditRelationsCommand" disabledIcon="icons/commands/edit_relation_gray.gif" icon="icons/commands/edit_relation.gif" />

	    <image commandId="org.kalypso.ui.map.outline.command.RRMCreateHydrotops" icon="icons/hydrotope/hydrotope.png"/>
	 </extension>

	<extension point="org.eclipse.ui.handlers">
        <handler commandId="org.kalypso.ogc.gml.map.EditRelationsCommand">
            <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
                <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" value="org.kalypso.ui.rrm.internal.map.editRelation.EditRelationWidget" />
            </class>
            <enabledWhen>
                <with variable="activeMapPanel">
                    <or>
                        <test property="org.kalypso.ui.test.map.activeTheme.qname" value="{http://www.tuhh.de/kalypsoNA}Node" />
                        <test property="org.kalypso.ui.test.map.activeTheme.qname" value="{http://www.tuhh.de/kalypsoNA}_Channel" />
                        <test property="org.kalypso.ui.test.map.activeTheme.qname" value="{http://www.tuhh.de/kalypsoNA}Catchment" />
                    </or>
                </with>
            </enabledWhen>
        </handler>

		<handler commandId="org.kalypso.ui.map.outline.command.RRMCreateHydrotops" class="org.kalypso.ui.rrm.internal.hydrotops.RRMCreateHydrotopsHandler">
			<activeWhen>
				<reference definitionId="org.kalypso.ui.rrm.definition.oneHydrotopeThemeSelected"/>
			</activeWhen>
		</handler>
	</extension>

	<extension point="org.eclipse.ui.menus">
   		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<command commandId="org.kalypso.ui.map.outline.command.RRMCreateHydrotops" style="push">
				<visibleWhen checkEnabled="false">
                   <reference definitionId="org.kalypso.ui.rrm.definition.oneHydrotopeThemeSelected"/>
				</visibleWhen>
			</command>
		</menuContribution>

   		<menuContribution locationURI="popup:org.kalypso.ui.views.mapView.outline?after=additions">
			<command commandId="org.kalypso.ui.map.outline.command.RRMCreateHydrotops" style="push">
				<visibleWhen checkEnabled="false">
                   <reference definitionId="org.kalypso.ui.rrm.definition.oneHydrotopeThemeSelected"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.kalypso.ui.rrm.definition.oneLanduseThemeSelected">
			<with variable="selection">
			    <!--
			    <or>
			    -->
					<iterate ifEmpty="false" operator="and">
					    <adapt type="org.kalypso.ogc.gml.IKalypsoTheme">
						  <test property="org.kalypso.ui.test.theme.qname" value="{http://sourceforge.kalypso.org/schemata/hydrology/landuse_v2}Landuse"/>
					    </adapt>
					</iterate>
					<!-- FIXME: introduce context/source for gis-table and implement tester against it
					<iterate ifEmpty="false" operator="and">
					   <instanceof value="org.kalypso.model.hydrology.binding.Landuse"/>
					</iterate>
    	       </or>
    	            -->
			</with>
		</definition>
		<definition id="org.kalypso.ui.rrm.definition.onePedologyThemeSelected">
			<with variable="selection">
				<and>
					<count value="1"/>
					<iterate ifEmpty="false" operator="and">
                        <adapt type="org.kalypso.ogc.gml.IKalypsoTheme">
						      <test property="org.kalypso.ui.test.theme.qname" value="{http://sourceforge.kalypso.org/schemata/hydrology/pedologie}Soiltype"/>
                        </adapt>
					</iterate>
				</and>
			</with>
		</definition>
		<definition id="org.kalypso.ui.rrm.definition.oneGeologyThemeSelected">
			<with variable="selection">
				<and>
					<count value="1"/>
					<iterate ifEmpty="false" operator="and">
                        <adapt type="org.kalypso.ogc.gml.IKalypsoTheme">
						  <test property="org.kalypso.ui.test.theme.qname" value="{http://sourceforge.kalypso.org/schemata/hydrology/geology}Geology"/>
                        </adapt>
					</iterate>
				</and>
			</with>
		</definition>
		<definition id="org.kalypso.ui.rrm.definition.oneOverlayThemeSelected">
            <with variable="selection">
                <and>
                    <count value="1"/>
                    <iterate ifEmpty="false" operator="and">
                        <adapt type="org.kalypso.ogc.gml.IKalypsoTheme">
                          <test property="org.kalypso.ui.test.theme.qname" value="{http://sourceforge.kalypso.org/schemata/hydrology/hydrotopeOverlay}OverlayElement"/>
                        </adapt>
                    </iterate>
                </and>
            </with>
        </definition>
		<definition id="org.kalypso.ui.rrm.definition.oneHydrotopeThemeSelected">
			<with variable="selection">
				<and>
					<count value="1"/>
					<iterate ifEmpty="false" operator="and">
                        <adapt type="org.kalypso.ogc.gml.IKalypsoTheme">
						  <test property="org.kalypso.ui.test.theme.qname" value="{http://sourceforge.kalypso.org/schemata/hydrology/hydrotope}Hydrotope"/>
                        </adapt>
					</iterate>
				</and>
			</with>
		</definition>
	</extension>

 <extension
       point="org.eclipse.ui.commands">
    <category
          description="%org.kalypso.ui.rrm.commandCategory.description"
          id="org.kalypso.ui.rrm.commandCategory"
          name="%org.kalypso.ui.rrm.commandCategory.name">
    </category>
    <command
          categoryId="org.kalypso.ui.rrm.commandCategory"
          id="org.kalypso.model.rrm.MergeScenariosCommand"
          name="%command.name">
    </command>
 </extension>

 <extension
         point="org.eclipse.ui.views">
      <view
            category="org.kalypso.ui.kalypso"
            class="org.kalypso.ui.rrm.internal.logviewer.LogViewer"
            icon="icons/logview/problems_view.gif"
            id="org.kalypso.ui.rrm.logviewer.LogViewer"
            name="%org.kalypso.ui.rrm.logviewer.LogViewer.name"/>
      <view
            category="org.kalypso.ui.kalypso"
            class="org.kalypso.ui.rrm.internal.timeseries.view.TimeseriesManagementView"
            icon="icons/timeseries/timeseriesManagementView.gif"
            id="org.kalypso.ui.rrm.internal.timeseries.view.TimeseriesManagementView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="org.kalypso.ui.kalypso"
            class="org.kalypso.ui.rrm.internal.cm.view.CatchmentModelsView"
            icon="icons/cm/catchmentModelsView.png"
            id="org.kalypso.ui.rrm.internal.cm.view.CatchmentModelsView"
            name="%view.name.0"
            restorable="true">
      </view>
      <view
            category="org.kalypso.ui.kalypso"
            class="org.kalypso.ui.rrm.internal.utils.featureTree.TreePropertiesView"
            icon="icons/timeseries/propertiesView.gif"
            id="org.kalypso.ui.rrm.internal.utils.featureTree.TreePropertiesView"
            name="%view.name.1"
            restorable="true">
      </view>
      <view
            category="org.kalypso.ui.kalypso"
            class="org.kalypso.ui.rrm.internal.diagram.RrmDiagramView"
            icon="icons/timeseries/table.gif"
            id="org.kalypso.ui.rrm.internal.diagram.RrmDiagramView"
            name="%view.name.2"
            restorable="true">
      </view>
      <view
            category="org.kalypso.ui.kalypso"
            class="org.kalypso.ui.rrm.internal.results.view.ResultManagementView"
            icon="icons/resultview/resultView.png"
            id="org.kalypso.ui.rrm.internal.results.view.ResultManagementView"
            name="%view.name.3"
            restorable="true">
      </view>
   </extension>

  <extension point="org.kalypso.module.conversion">
    <projectconversion module="KalypsRrmModel" class="org.kalypso.ui.rrm.internal.conversion.RrmProjectConverterFactory"/>
   </extension>

   <extension point="org.kalypso.ui.typeHandlers">
        <typeHandler factory="org.kalypso.ui.rrm.internal.gml.GuiTypeHandlerFactory"/>
   </extension>

   <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="menu:org.kalypso.ui.menus.mapMenu?before=widgetAdditions">
            <command commandId="org.kalypso.ogc.gml.map.EditRelationsCommand" style="radio"/>
        </menuContribution>
        <menuContribution locationURI="toolbar:org.kalypso.ui.menus.mapToolbar?before=widgetAdditions">
            <command commandId="org.kalypso.ogc.gml.map.EditRelationsCommand" style="radio">
                <visibleWhen checkEnabled="false">
                    <with variable="activeEditorId">
                        <equals value="org.kalypso.ui.editor.mapeditor.GisMapEditor" />
                    </with>
                </visibleWhen>
            </command>
        </menuContribution>
        <menuContribution
              locationURI="toolbar:org.kalypso.ui.rrm.internal.diagram.RrmDiagramView">
           <command
                 commandId="org.kalypso.chart.ui.commands.maximizeView"
                 style="push">
           </command>
           <command
                 commandId="org.kalypso.chart.ui.commands.export"
                 style="push">
           </command>
           <command
                 commandId="org.kalypso.chart.ui.commands.ExportClipboardCommand"
                 style="push">
           </command>
           <command
                 commandId="org.kalypso.ui.rrm.internal.open.diagramm.with.grafik.exe"
                 style="push">
           </command>
           <separator
                 name="diagram.view.seperator1"
                 visible="true">
           </separator>
           <command
                 commandId="org.kalypso.zml.ui.chart.layer.commands.change.visibility"
                 icon="icons/chart/stuetzstelle.png"
                 label="%command.label"
                 style="toggle"
                 tooltip="%command.tooltip">
              <parameter
                    name="layer.parameter"
                    value="content.stuetzstelle">
              </parameter>
              <parameter
                    name="layer.filter"
                    value="org.kalypso.chart.layer.filter.stuetzstelle">
              </parameter>
          </command>
          <command
             commandId="org.kalypso.zml.ui.chart.layer.commands.change.visibility"
             icon="icons/chart/fehlwert.png"
             label="%command.label.0"
             style="toggle"
             tooltip="%command.tooltip.0">
              <parameter
                    name="layer.parameter"
                    value="content.fehlwert">
              </parameter>
              <parameter
                    name="layer.filter"
                    value="org.kalypso.chart.layer.filter.fehlwerte">
              </parameter>
          </command>

          <command
             commandId="org.kalypso.zml.ui.chart.layer.commands.change.visibility"
             icon="icons/chart/quality.barLayer.png"
             label="%org.kalypso.zml.ui.chart.layer.commands.change.visibility.label"
             style="toggle"
             tooltip="%org.kalypso.zml.ui.chart.layer.commands.change.visibility.tooltip">
              <parameter
                    name="layer.parameter"
                    value="content.quality">
              </parameter>
          </command>
           <separator
                 name="diagram.view.seperator2"
                 visible="true">
           </separator>
           <command commandId="org.kalypso.zml.ui.chart.layer.commands.debug.dialog" label="%command.label.1" style="push">
               <visibleWhen checkEnabled="false">
                    <!-- Test against undefined 'value' == null means no debug option active -->
                    <not>
                        <test property="frameworkPropertyTester.property" args="osgi.debug" />
                    </not> 
               </visibleWhen>
           </command>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="toolbar:org.kalypso.ui.rrm.internal.timeseries.view.TimeseriesManagementView">
           <command
                 commandId="org.kalypso.ui.rrm.internal.view.clear.selection.stack"
                 style="push">
           </command>
           <command
                 commandId="org.kalypso.ui.rrm.internal.timeseries.view.expand.tree.items"
                 style="push">
           </command>
           <command
                 commandId="org.kalypso.ui.rrm.internal.timeseries.view.collapse.tree.items"
                 style="push">
           </command>
        </menuContribution>
        <menuContribution allPopups="false" locationURI="toolbar:org.kalypso.ui.rrm.internal.cm.view.CatchmentModelsView">
           <command commandId="org.kalypso.ui.rrm.internal.timeseries.view.expand.tree.items" style="push"/>
           <command commandId="org.kalypso.ui.rrm.internal.timeseries.view.collapse.tree.items" style="push"/>
        </menuContribution>
        <menuContribution allPopups="false" locationURI="toolbar:org.kalypso.ui.rrm.internal.results.view.ResultManagementView">
           <command
                 commandId="org.kalypso.ui.rrm.internal.view.clear.selection.stack"
                 style="push">
           </command>
           <!-- Removed because it is too dangerous: thousands of nodes may open which takes verrrry long.
           <command commandId="org.kalypso.ui.rrm.internal.result.view.expand.tree.items" style="push"/>
           -->
           <command commandId="org.kalypso.ui.rrm.internal.result.view.collapse.tree.items" style="push"/>
        </menuContribution>
   </extension>
   <extension point="org.kalypso.ui.importWizards">
      <wizard
            class="org.kalypso.ui.rrm.internal.hydrotops.ImportLanduseWizard"
            id="org.kalypso.ui.rrm.wizards.importLanduse.ImportLanduseWizard"
            name="%command.name.0">
      </wizard>
      <wizard
            class="org.kalypso.ui.rrm.internal.hydrotops.ImportPedologyWizard"
            id="org.kalypso.ui.rrm.wizards.importPedologyData.ImportPedologyWizard"
            name="%command.name.1">
      </wizard>
      <wizard
            class="org.kalypso.ui.rrm.internal.hydrotops.ImportGeologyWizard"
            id="org.kalypso.ui.rrm.wizards.importGeologyData.ImportGeologyWizard"
            name="%command.name.2">
      </wizard>
      <wizard
            class="org.kalypso.ui.rrm.internal.hydrotops.ImportOverlayWizard"
            id="org.kalypso.ui.rrm.wizards.importGeologyData.ImportOverlayWizard"
            name="%command.name.4">
      </wizard>
   </extension>
   <extension point="org.kalypso.contribs.eclipsercp.wizardEnablement">
      <wizardEnablement
            wizardID="org.kalypso.ui.rrm.wizards.importLanduse.ImportLanduseWizard">
         <enablement>
            <reference definitionId="org.kalypso.ui.rrm.definition.oneLanduseThemeSelected"/>
         </enablement>
      </wizardEnablement>
      <wizardEnablement
            wizardID="org.kalypso.ui.rrm.wizards.importPedologyData.ImportPedologyWizard">
         <enablement>
            <reference definitionId="org.kalypso.ui.rrm.definition.onePedologyThemeSelected">
            </reference>
         </enablement>
      </wizardEnablement>
      <wizardEnablement
            wizardID="org.kalypso.ui.rrm.wizards.importGeologyData.ImportGeologyWizard">
         <enablement>
            <reference definitionId="org.kalypso.ui.rrm.definition.oneGeologyThemeSelected">
            </reference>
         </enablement>
      </wizardEnablement>
      <wizardEnablement
            wizardID="org.kalypso.ui.rrm.wizards.importGeologyData.ImportOverlayWizard">
         <enablement>
            <reference definitionId="org.kalypso.ui.rrm.definition.oneOverlayThemeSelected">
            </reference>
         </enablement>
      </wizardEnablement>
   </extension>
   <extension
         point="org.kalypso.ui.featureViewExtensionControl">
      <extensionControl
            class="org.kalypso.ui.rrm.internal.gml.StorageChannelValidateControlFactory"
            id=".StorageChannelValidateFeatureControl">
      </extensionControl>
      <extensionControl
            class="org.kalypso.ui.rrm.internal.gml.feature.view.ChooseZmlLinkControlFactory"
            id="ChooseZmlLinkControlFactory">
      </extensionControl>
   </extension>
   <extension
         point="de.renew.workflow.model.workflowSystem">
      <workflowSystem
            definition="etc/workflow/workflow.xml"
            id="org.kalypso.model.rrm.workflow"
            name="%workflowSystem.name">
         <scenarioConfiguration
               derivedFolder="Scenarios">
            <ignoreFolder
                  folderName="Scenarios"
                  roleName="SetAsBaseScenario">
            </ignoreFolder>
            <ignoreFolder
                  folderName="Simulations"
                  roleName="SetAsBaseScenario">
            </ignoreFolder>
         </scenarioConfiguration>
      </workflowSystem>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.kalypso.kalypso1d2d.pjt.perspective.Perspective">
         <view
               moveable="true"
               closeable="false"
               id="org.kalypso.ui.rrm.internal.timeseries.view.TimeseriesManagementView"
               relationship="stack"
               relative="org.kalypso.ui.views.mapView"
               visible="false">
         </view>
         <view
               closeable="false"
               id="org.kalypso.ui.rrm.internal.results.view.ResultManagementView"
               relationship="stack"
               relative="org.kalypso.ui.views.mapView"
               visible="false">
         </view>
         <view
               moveable="true"
               closeable="false"
               id="org.kalypso.ui.rrm.internal.cm.view.CatchmentModelsView"
               relationship="stack"
               relative="org.kalypso.ui.views.mapView"
               visible="false">
         </view>
         <view
               moveable="true"
               closeable="false"
               id="org.kalypso.ui.editor.gistableeditor.GttViewPart"
               relationship="stack"
               relative="org.kalypso.ui.views.mapView"
               visible="false">
         </view>
         <view
               id="org.kalypso.ui.rrm.internal.utils.featureTree.TreePropertiesView"
               moveable="true"
               closeable="false"
               ratio="0.33"
               relationship="right"
               relative="org.kalypso.ui.rrm.internal.timeseries.view.TimeseriesManagementView"
               visible="false">
         </view>
         <view
         	   id="org.kalypso.ui.rrm.internal.diagram.RrmDiagramView"
               moveable="true"
               closeable="false"
               ratio="0.20"
               relationship="bottom"
               relative="org.kalypso.ui.rrm.internal.utils.featureTree.TreePropertiesView"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.kalypso.afgui.scenarioData">
      <dataSet id="org.kalypso.model.rrm.scenarioDataScope">
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.timeseries.IStationCollection" id="stations" modelPath="project://.model/timeseries/stations.gml"/>
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.cm.ICatchmentModel" id="catchmentModels" modelPath=".models/catchmentModels.gml"/>
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.model.NaModell" id="model" modelPath=".models/modell.gml"/>
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.control.SimulationCollection" id="simulations" modelPath=".models/simulations.gml"/>

         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.LanduseCollection" id="landuse" modelPath=".models/landuse.gml"/>
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.GeologyCollection" id="geologie" modelPath=".models/geologie.gml"/>
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.SoilTypeCollection" id="pedologie" modelPath=".models/pedologie.gml"/>
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.OverlayCollection" id="overlay" modelPath=".models/overlay.gml"/>
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.HydrotopeCollection" id="hydrotopes" modelPath=".models/hydrotop.gml"/>
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.timeseriesMappings.ITimeseriesMappingCollection" id="timeseriesMapppings" modelPath=".models/timeseriesMappings.gml"/>
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.parameter.Parameter" id="parameter" modelPath=".models/parameter.gml"/>
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.designRainfall.SynthN" id="designRainfall" modelPath=".models/synthN.gml"/>
         <scenarioDatum classKey="org.kalypso.model.hydrology.binding.control.NAModellControl" id="expertControl" modelPath=".models/expertControl.gml"/>
      </dataSet>
   </extension>

   <!-- Commands/Handlers for workflow -->
   <!-- REMARK: we define the commands here in order to avoid warning in this file -->
   <extension point="org.eclipse.ui.commands">
            <command id="org.kalypso.model.rrm.timeseriesManagement" name="%org.kalypso.model.rrm.timeseriesManagement.name" description="%org.kalypso.model.rrm.timeseriesManagement.description" />

            <command id="org.kalypso.model.rrm.parameterDefinition" name="%org.kalypso.model.rrm.parameterDefinition.name" description="%org.kalypso.model.rrm.parameterDefinition.description" />
            <command id="org.kalypso.model.rrm.snowDefinition" name="%org.kalypso.model.rrm.snowDefinition.name" description="%org.kalypso.model.rrm.snowDefinition.description" />
            <command id="org.kalypso.model.rrm.soilDefinition" name="%org.kalypso.model.rrm.soilDefinition.name" description="%org.kalypso.model.rrm.soilDefinition.description" />
            <command id="org.kalypso.model.rrm.landuseDefinition" name="%org.kalypso.model.rrm.landuseDefinition.name" description="%org.kalypso.model.rrm.landuseDefinition.description" />
            <command id="org.kalypso.model.rrm.drwbmDefinition" name="%org.kalypso.model.rrm.drwbmDefinition.name" description="%org.kalypso.model.rrm.drwbmDefinition.description" />
            <command id="org.kalypso.model.rrm.designRainfallDefinition" name="%org.kalypso.model.rrm.designRainfallDefinition.name" description="%org.kalypso.model.rrm.designRainfallDefinition.description" />


            <command id="org.kalypso.model.rrm.modelConstruction" name="%org.kalypso.model.rrm.modelConstruction.name" description="%org.kalypso.model.rrm.modelConstruction.description" />
            <command id="org.kalypso.model.rrm.editNetElements" name="%org.kalypso.model.rrm.editNetElements.name" description="%org.kalypso.model.rrm.editNetElements.description" />
            <command id="org.kalypso.model.rrm.editNetRelations" name="%org.kalypso.model.rrm.editNetRelations.name" description="%org.kalypso.model.rrm.editNetRelations.description" />
            <command id="org.kalypso.model.rrm.hydrotopes" name="%org.kalypso.model.rrm.hydrotopes.name" description="%org.kalypso.model.rrm.hydrotopes.description" />
            <command id="org.kalypso.model.rrm.completeNetElements" name="%org.kalypso.model.rrm.completeNetElements.name" description="%org.kalypso.model.rrm.completeNetElements.description" />

            <command id="org.kalypso.model.rrm.catchmentModels" name="%org.kalypso.model.rrm.catchmentModels.name" description="%org.kalypso.model.rrm.catchmentModels.description" />

            <command id="org.kalypso.model.rrm.editCalibration" name="%org.kalypso.model.rrm.editCalibration.name" description="%org.kalypso.model.rrm.editCalibration.description" />

            <command id="org.kalypso.model.rrm.simulationResultOutputManagement" name="%org.kalypso.model.rrm.simulationResultOutputManagement.name" description="%org.kalypso.model.rrm.simulationResultOutputManagement.description" />

            <command id="org.kalypso.model.rrm.simulationManagement" name="%org.kalypso.model.rrm.simulationManagement.name" description="%org.kalypso.model.rrm.simulationManagement.description"/>

			<!-- non workflow -->
            <command id="org.kalypso.model.rrm.simulationManagement.refreshSimulations" name="%command.name.5"/>
            <command
                  description="%org.kalypso.model.rrm.resultView.description"
                  id="org.kalypso.model.rrm.resultView"
                  name="%org.kalypso.model.rrm.resultView.name">
            </command>
            <command
                  id="org.kalypso.ui.rrm.internal.timeseries.view.expand.tree.items"
                  name="%command.name.6">
            </command>
            <command
                  id="org.kalypso.ui.rrm.internal.timeseries.view.collapse.tree.items"
                  name="%command.name.7">
            </command>
            <command
                  id="org.kalypso.ui.rrm.internal.result.view.expand.tree.items"
                  name="%command.name.8">
            </command>
            <command
                  id="org.kalypso.ui.rrm.internal.result.view.collapse.tree.items"
                  name="%command.name.9">
            </command>
            <command
                  id="org.kalypso.ui.rrm.internal.view.clear.selection.stack"
                  name="%command.name.10">
            </command>
   </extension>
   <extension point="org.eclipse.ui.commandImages">
            <image commandId="org.kalypso.model.rrm.timeseriesManagement" icon="icons/timeseries/timeseriesManagementView.gif"/>

            <image commandId="org.kalypso.model.rrm.parameterDefinition" icon="icons/parameters/parameters.gif"/>
            <image commandId="org.kalypso.model.rrm.snowDefinition" icon="icons/parameters/snow.png"/>
            <image commandId="org.kalypso.model.rrm.soilDefinition" icon="icons/parameters/soil.png"/>
            <image commandId="org.kalypso.model.rrm.landuseDefinition" icon="icons/parameters/landuse.png"/>
            <image commandId="org.kalypso.model.rrm.drwbmDefinition" icon="icons/parameters/drwbmDefinition.png"/>
            <image commandId="org.kalypso.model.rrm.designRainfallDefinition" icon="icons/parameters/designRainfall.png"/>

            <image commandId="org.kalypso.model.rrm.modelConstruction" icon="icons/model/1334146824_package_graphics.png"/>
            <image commandId="org.kalypso.model.rrm.editNetElements" icon="icons/model/network_elements.png"/>
            <image commandId="org.kalypso.model.rrm.editNetRelations" icon="icons/model/1334146981_Internet_link_02.png"/>

            <image commandId="org.kalypso.model.rrm.hydrotopes" icon="icons/hydrotope/hydrotope.png"/>
            <image commandId="org.kalypso.model.rrm.completeNetElements" icon="icons/parameters/parameters.gif"/>

            <image commandId="org.kalypso.model.rrm.catchmentModels" icon="icons/cm/catchmentModelsView.png"/>

            <image commandId="org.kalypso.model.rrm.editCalibration" icon="icons/calibration/calibration.png"/>

            <image commandId="org.kalypso.model.rrm.simulationResultOutputManagement" icon="icons/resultmanagement/resultOutputManagement.png"/>

            <image commandId="org.kalypso.model.rrm.simulationManagement" icon="icons/simulations/simulation.gif"/>

            <image commandId="org.kalypso.model.rrm.simulationManagement.refreshSimulations" icon="icons/simulations/refreshSimulations.gif"/>
            <image commandId="org.kalypso.model.rrm.resultView" icon="icons/resultview/resultView.png"/>
            
            
            
            <image commandId="org.kalypso.ui.rrm.internal.timeseries.view.expand.tree.items" icon="icons/timeseries/expandall.gif"/>
            <image commandId="org.kalypso.ui.rrm.internal.timeseries.view.collapse.tree.items" icon="icons/timeseries/collapseall.gif"/>
            <image commandId="org.kalypso.ui.rrm.internal.result.view.expand.tree.items" icon="icons/timeseries/expandall.gif"/>
            <image commandId="org.kalypso.ui.rrm.internal.result.view.collapse.tree.items" icon="icons/timeseries/collapseall.gif"/>
            <image commandId="org.kalypso.ui.rrm.internal.view.clear.selection.stack" icon="icons/resultview/resetSelectionStack.png"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler class="org.kalypso.ui.rrm.internal.timeseries.view.TimeseriesManagementTaskHandler" commandId="org.kalypso.model.rrm.timeseriesManagement"/>

      <handler class="org.kalypso.ui.rrm.internal.parameters.SnowTaskHandler" commandId="org.kalypso.model.rrm.snowDefinition"/>
      <handler class="org.kalypso.ui.rrm.internal.parameters.SoilTaskHandler" commandId="org.kalypso.model.rrm.soilDefinition"/>
      <handler class="org.kalypso.ui.rrm.internal.parameters.LanduseTaskHandler" commandId="org.kalypso.model.rrm.landuseDefinition"/>
      <handler class="org.kalypso.ui.rrm.internal.parameters.DRWBMMeasureDefinitionTaskHandler" commandId="org.kalypso.model.rrm.drwbmDefinition"/>
      <handler class="org.kalypso.ui.rrm.internal.parameters.DesignRainfallDefinitionTaskHandler" commandId="org.kalypso.model.rrm.designRainfallDefinition"/>

      <handler class="org.kalypso.ui.rrm.internal.modelConstruction.EditNetElementsTaskHandler" commandId="org.kalypso.model.rrm.editNetElements"/>
      <handler class="org.kalypso.ui.rrm.internal.modelConstruction.EditNetRelationsTaskHandler" commandId="org.kalypso.model.rrm.editNetRelations"/>
      <handler class="org.kalypso.ui.rrm.internal.hydrotops.HydrotopesTaskHandler" commandId="org.kalypso.model.rrm.hydrotopes"/>
      <handler class="org.kalypso.ui.rrm.internal.modelConstruction.CompleteNetElementsTaskHandler" commandId="org.kalypso.model.rrm.completeNetElements"/>

      <handler class="org.kalypso.ui.rrm.internal.cm.view.CatchmentModelsTaskHandler" commandId="org.kalypso.model.rrm.catchmentModels"/>

      <handler class="org.kalypso.ui.rrm.internal.calibration.EditCalibrationTaskHandler" commandId="org.kalypso.model.rrm.editCalibration"/>
      <handler class="org.kalypso.ui.rrm.internal.results.output.management.ResultOutputManagementTaskHandler" commandId="org.kalypso.model.rrm.simulationResultOutputManagement"/>
      <handler class="org.kalypso.ui.rrm.internal.simulations.SimulationManagementTaskHandler" commandId="org.kalypso.model.rrm.simulationManagement"/>
      <handler class="org.kalypso.ui.rrm.internal.results.view.ResultManagementTaskHandler" commandId="org.kalypso.model.rrm.resultView"/>

      <handler class="org.kalypso.ui.rrm.internal.simulations.RefreshSimulationsHandler" commandId="org.kalypso.model.rrm.simulationManagement.refreshSimulations">
         <enabledWhen>
         	<and>
	            <with variable="activeGmlTable">
	                <!-- -reference not null -->
	                <instanceof value="java.lang.Object"/>
	            </with>
	             <with variable="selection">
	                <iterate ifEmpty="false" operator="and">
	                   <or>
	                	 <test property="org.kalypso.gml.qname" value="{org.kalypso.na.control_v2}NAControl"/>
	                   </or>
	                </iterate>
	             </with>
         	</and>
         </enabledWhen>
      </handler>
      <handler
            class="org.kalypso.ui.rrm.internal.timeseries.view.actions.ExpandAllTreeItemsHandler"
            commandId="org.kalypso.ui.rrm.internal.timeseries.view.expand.tree.items">
      </handler>
      <handler
            class="org.kalypso.ui.rrm.internal.timeseries.view.actions.CollapseAllTreeItemsHandler"
            commandId="org.kalypso.ui.rrm.internal.timeseries.view.collapse.tree.items">
      </handler>
      <handler
            class="org.kalypso.ui.rrm.internal.results.view.actions.ExpandAllTreeItemsHandler"
            commandId="org.kalypso.ui.rrm.internal.result.view.expand.tree.items">
      </handler>
      <handler
            class="org.kalypso.ui.rrm.internal.results.view.actions.CollapseAllTreeItemsHandler"
            commandId="org.kalypso.ui.rrm.internal.result.view.collapse.tree.items">
      </handler>
      <handler
            class="org.kalypso.ui.rrm.internal.timeseries.view.actions.ResetSelectionStackHandler"
            commandId="org.kalypso.ui.rrm.internal.view.clear.selection.stack">
      </handler>
   </extension>

    <!-- View menu for GML-Table -->
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="toolbar:org.kalypso.ui.editor.gistableeditor.GttViewPart?after=additions">
            <command commandId="org.kalypso.model.rrm.simulationManagement.refreshSimulations" style="push">
            	<visibleWhen checkEnabled="true"/>
            </command>
        </menuContribution>
     </extension>

 <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="toolbar:org.kalypso.model.rrm.ui.thiessen.maptoolbar">
        <command commandId="org.kalypso.ogc.gml.map.SelectSingleFeatureCommand" style="radio">
            <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.kalypso.ogc.gml.map.ZoomInByRectCommand" style="radio" />
        <command commandId="org.kalypso.ogc.gml.map.PanToCommand" style="radio"  />
        <command commandId="org.kalypso.gml.ui.commands.OpenLegendCommand" style="push">
           <!--
           <visibleWhen checkEnabled="false">
              <with variable="activeMapPanel">
                 <test args="isCascading" property="org.kalypso.ui.test.map.themeProperty.hasProperty" value="movieTheme"/>
              </with>

           </visibleWhen>
           -->
        </command>
        <separator name="actions" visible="true"/>
        <command commandId="org.kalypso.ogc.gml.map.PanToSelectedFeatureCommand" style="push"/>
        <command commandId="org.kalypso.ogc.gml.map.FullExtentCommand" style="push"/>
        <command commandId="org.kalypso.ogc.gml.map.ZoomInStaticCommand" style="push" />
        <command commandId="org.kalypso.ogc.gml.map.ZoomOutCommand" style="push" />
        <separator name="mapExport" visible="true" />
        <command commandId="org.kalypso.ogc.gml.map.Screenshot" style="push"  />
        <command commandId="org.kalypso.ogc.gml.map.ExportClipboardCommand" style="push"/>

        <separator name="additions"/>
    </menuContribution>
    <menuContribution locationURI="toolbar:org.kalypso.model.rrm.ui.idw.maptoolbar">
        <command commandId="org.kalypso.ogc.gml.map.SelectSingleFeatureCommand" style="radio">
            <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.kalypso.ogc.gml.map.ZoomInByRectCommand" style="radio" />
        <command commandId="org.kalypso.ogc.gml.map.PanToCommand" style="radio"  />
        <command commandId="org.kalypso.gml.ui.commands.OpenLegendCommand" style="push">
           <!--
           <visibleWhen checkEnabled="false">
              <with variable="activeMapPanel">
                 <test args="isCascading" property="org.kalypso.ui.test.map.themeProperty.hasProperty" value="movieTheme"/>
              </with>

           </visibleWhen>
           -->
        </command>
        <separator name="actions" visible="true"/>
        <command commandId="org.kalypso.ogc.gml.map.PanToSelectedFeatureCommand" style="push"/>
        <command commandId="org.kalypso.ogc.gml.map.FullExtentCommand" style="push"/>
        <command commandId="org.kalypso.ogc.gml.map.ZoomInStaticCommand" style="push" />
        <command commandId="org.kalypso.ogc.gml.map.ZoomOutCommand" style="push" />
        <separator name="mapExport" visible="true" />
        <command commandId="org.kalypso.ogc.gml.map.Screenshot" style="push"  />
        <command commandId="org.kalypso.ogc.gml.map.ExportClipboardCommand" style="push"/>

        <separator name="additions"/>
    </menuContribution>
   </extension>
 <extension
       point="org.kalypso.core.layout">
    <layoutPartFactory
          class="org.kalypso.ui.rrm.internal.cm.thiessen.ThiessenWizardLayoutPartFactory"
          id="thiessenWizardPart">
    </layoutPartFactory>
    <layoutPartFactory
          class="org.kalypso.ui.rrm.internal.cm.idw.IdwWizardLayoutPartFactory"
          id="idwWizardPart">
    </layoutPartFactory>
    <layoutPartFactory
          class="org.kalypso.ui.rrm.internal.cm.idw.IdwOptionsLayoutPartFactory"
          id="idwOptionsPart">
    </layoutPartFactory>
    <layoutPartFactory
          class="org.kalypso.ui.rrm.internal.cm.thiessen.ThiessenOptionsLayoutPartFactory"
          id="thiessenOptionsPart">
    </layoutPartFactory>
 </extension>
 <extension
       point="org.kalypso.ui.featureViewExtensionControl">
    <extensionControl
          class="org.kalypso.ui.rrm.internal.cm.thiessen.ThiessenWizardFeatureControlFactory"
          id="thiesenWizardFeatureControl">
    </extensionControl>
    <extensionControl
          class="org.kalypso.ui.rrm.internal.cm.idw.IdwWizardFeatureControlFactory"
          id="idwWizardFeatureControl">
    </extensionControl>
    <extensionControl
          class="org.kalypso.ui.rrm.internal.simulations.SimulationCalculationFeatureControlFactory"
          id="simulationCalculationFeatureControl">
    </extensionControl>
    <extensionControl
          class="org.kalypso.ui.rrm.internal.simulations.SimulationDescriptionFeatureControlFactory"
          id="simulationDescriptionFeatureControl">
    </extensionControl>
    <extensionControl
          class="org.kalypso.ui.rrm.internal.simulations.InitialValueFeatureControlFactory"
          id="initialValueFeatureControl">
    </extensionControl>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
      <menuContribution
          locationURI="toolbar:org.kalypso.model.rrm.ui.zml.chart.menu.toolbar">
       <command
             commandId="org.kalypso.chart.ui.commands.maximizeView"
             style="push">
       </command>
       <command
             commandId="org.kalypso.chart.ui.commands.export"
             style="push">
       </command>
       <command
             commandId="org.kalypso.chart.ui.commands.ExportClipboardCommand"
             style="push">
       </command>
       <separator
             name="rrm.chart.seperator.1"
             visible="true">
       </separator>
       <command
             commandId="org.kalypso.zml.ui.chart.layer.commands.change.visibility"
             icon="icons/chart/stuetzstelle.png"
             label="%command.label.2"
             style="toggle"
             tooltip="%command.tooltip.1">
          <parameter
                name="layer.parameter"
                value="content.stuetzstelle">
          </parameter>
          <parameter
                name="layer.filter"
                value="org.kalypso.chart.layer.filter.stuetzstelle">
          </parameter>
       </command>
       <command
             commandId="org.kalypso.zml.ui.chart.layer.commands.change.visibility"
             icon="icons/chart/fehlwert.png"
             label="%command.label.3"
             style="toggle"
             tooltip="%command.tooltip.2">
          <parameter
                name="layer.parameter"
                value="content.fehlwert">
          </parameter>
          <parameter
                name="layer.filter"
                value="org.kalypso.chart.layer.filter.fehlwerte">
          </parameter>
       </command>
      <command
         commandId="org.kalypso.zml.ui.chart.layer.commands.change.visibility"
         icon="icons/chart/quality.barLayer.png"
         label="%org.kalypso.zml.ui.chart.layer.commands.change.visibility.label"
         style="toggle"
         tooltip="%org.kalypso.zml.ui.chart.layer.commands.change.visibility.tooltip">
          <parameter
                name="layer.parameter"
                value="content.quality">
          </parameter>
      </command>
       <separator
             name="rrm.chart.seperator.2"
             visible="true">
       </separator>
    </menuContribution>
    <!--
    <menuContribution
          allPopups="false"
          locationURI="toolbar:org.kalypso.model.rrm.ui.chart.debug">
       <command
             commandId="org.kalypso.zml.ui.chart.layer.commands.debug.dialog"
             style="push">
       </command>
    </menuContribution>
    -->
    <menuContribution
            allPopups="true"
            locationURI="toolbar:org.kalypso.model.rrm.ui.zml.table.menu.toolbar.instantaneous">
         <command
               commandId="org.kalypso.zml.ui.table.commands.toolbar.view.all"
               style="radio">
         </command>
         <command
               commandId="org.kalypso.zml.ui.table.commands.toolbar.view.stuetzstellen"
               style="radio">
         </command>
         <command
               commandId="org.kalypso.zml.ui.table.commands.toolbar.view.6.hours"
               style="radio">
         </command>
         <command
               commandId="org.kalypso.zml.ui.table.commands.toolbar.view.12.hours"
               style="radio">
         </command>
         <command
               commandId="org.kalypso.zml.ui.table.commands.toolbar.view.24.hours"
               style="radio">
         </command>
         <command
               commandId="org.kalypso.zml.ui.table.commands.toolbar.view.hour.minus"
               style="push">
         </command>
         <command
               commandId="org.kalypso.zml.ui.table.commands.toolbar.view.hour.add"
               style="push">
         </command>
          <separator
               name="separator_instantaneous"
               visible="true">
         </separator>
         <command
               commandId="org.kalypso.zml.ui.table.commands.toolbar.view.data.sources"
               style="toggle">
         </command>
         <command
               commandId="org.kalypso.zml.ui.table.commands.toolbar.tooltip"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.kalypso.model.rrm.ui.zml.table.menu.header.context.menu">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.kalypso.model.rrm.ui.zml.table.menu.context.menu">
         <menu
               label="%menu.label">
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.set.all"
                  label="%command.label.4"
                  style="push">
            </command>
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.set.selected"
                  label="%command.label.5"
                  style="push">
            </command>
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.set.above"
                  label="%command.label.6"
                  style="push">
            </command>
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.set.below"
                  label="%command.label.7"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.label.0">
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.adjust.selection"
                  style="push">
            </command>
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.interpolate"
                  style="push">
            </command>
         </menu>
         <separator
               name="separator_1"
               visible="true">
         </separator>
         <command
               commandId="org.kalypso.zml.ui.table.commands.value.copy"
               style="push">
         </command>
         <command
               commandId="org.kalypso.zml.ui.table.commands.value.set.paste"
               style="push">
         </command>
         <separator
               name="separator_2"
               visible="true">
         </separator>
         <command
               commandId="org.kalypso.zml.ui.table.commands.value.delete.stuetzstellen"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.kalypso.model.rrm.ui.zml.table.menu.sum.context.menu">
         <menu
               label="%menu.label.1">
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.set.all"
                  label="%command.label.8"
                  style="push">
            </command>
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.set.selected"
                  label="%command.label.9"
                  style="push">
            </command>
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.set.above"
                  label="%command.label.10"
                  style="push">
            </command>
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.set.below"
                  label="%command.label.11"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.label.2">
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.adjust.selection"
                  style="push">
            </command>
            <command
                  commandId="org.kalypso.zml.ui.table.commands.value.interpolate"
                  style="push">
            </command>
         </menu>
         <separator
               name="separator_1"
               visible="true">
         </separator>
         <command
               commandId="org.kalypso.zml.ui.table.commands.value.copy"
               style="push">
         </command>
         <command
               commandId="org.kalypso.zml.ui.table.commands.value.set.paste"
               style="push">
         </command>
      </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commandImages">
    <image commandId="org.kalypso.model.rrm.MergeScenariosCommand" icon="icons/commands/mergeScenarios.png"/>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler class="org.kalypso.ui.rrm.internal.scenarios.MergeScenariosHandler" commandId="org.kalypso.model.rrm.MergeScenariosCommand">
       <activeWhen>
             <reference definitionId="oneScenario"/>
       </activeWhen>
    </handler>
 </extension>

 <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.kalypso.kalypso1d2d.pjt.views.ScenarioView?after=additions">
       <command commandId="org.kalypso.model.rrm.MergeScenariosCommand">
          <visibleWhen checkEnabled="true"/>
       </command>
    </menuContribution>
    <menuContribution locationURI="popup:org.kalypso.afgui.breadcrumbs?after=additions">
       <command commandId="org.kalypso.model.rrm.MergeScenariosCommand">
          <visibleWhen checkEnabled="true"/>
       </command>
    </menuContribution>
 </extension>
    
  <extension point="org.eclipse.help.toc">
     <toc file="$nl$/toc.xml" primary="true"/>
  </extension>
  <extension point="org.eclipse.help.contexts">
     <contexts file="$nl$/contexts.xml"/>
  </extension>
 
</plugin>
