<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="org.kalypso.auth.authenticator"
         name="Kalypso User Service Authenticator"
         point="org.kalypso.auth.authenticator">
      <authenticator class="org.kalypso.services.user.client.UserServiceAuthenticator"/>
   </extension>
   <extension
         point="org.kalypso.services.core.client.serviceproxy">
      <serviceproxy
            class="org.kalypso.services.proxy.Kalypso_UserService_Impl"
            interfacename="IUserService"/>
   </extension>

</plugin>
