<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.services.calculation.local.calcJob">
      <calcJob
            typeID="Elbe_Polte_V1"
            catalogClass="org.kalypso.lhwzsachsen.elbepolte.ElbePolteUrlCatalog"
            jobClass="ElbePolteCalcJob"/>
   </extension>
   <extension
         point="org.kalypso.core.nativeObsAdapter">
      <adapter
            label="ElbePolte-Import (Messwerte)"
            class="org.kalypso.lhwzsachsen.elbepolte.NativeObservationAdapterElbePolte"
            axisType="Q"/>
      <adapter
            label="ElbePolte-Import (Modellwerte)"
            class="org.kalypso.lhwzsachsen.elbepolte.NativeObservationAdapterElbePolte"
            axisType="Q"/>
   </extension>

</plugin>
