<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   
   
   <!-- Project extensions -->
   <extension
      point="org.eclipse.core.resources.natures"
      id="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"
      name="Kalypso1D2DProjectNature">
      <runtime>
         <run class="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"/>
      </runtime>
   </extension>

	<extension
       point="org.eclipse.ui.newWizards">
		<category
            id="org.kalypso.wizard.Create1d2dpjt"
            name="1D-2D Modell"
            parentCategory="org.kalypso.ui.newwizards.kalypso"/>
		<wizard
        category="org.kalypso.ui.newwizards.kalypso/org.kalypso.wizard.Create1d2dpjt"
        class="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DNewProjectWizard"
        icon="icons/kalypso1d2d.png"
        id="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DNewProjectWizard"
        name="Kalypso 1D-2D gekoppeltes Modell"
        project="true">
		<description>
				Creates a new project
		</description>
		</wizard>
		<wizard
            class="org.kalypso.ui.wizards.imports.baseMap.ImportBaseMapWizard"
            icon="icons/kalypso_gmt.gif"
            id="org.kalypso.ui.wizards.imports.baseMap.ImportBaseMapWizard"
            name="BaseMap"
            project="false"/>
	  	<category
            id="org.kalypso.kalypsosimulationmodel.ui.shapeimportwizards"
            name="Kalypso import wizards"/>
      	<wizard
            category="org.kalypso.kalypsosimulationmodel.ui.shapeimportwizards"
            class="org.kalypso.ui.wizards.imports.roughness.ImportWizard"
            icon="icons/kalypso_gmt.gif"
            id="org.kalypso.ui.wizards.imports.roughness.ImportWizard"
            name="Roughness import wizard"
            project="false"/>
      	<wizard
            class="org.kalypso.ui.wizards.imports.elevationmodel.ImportElevationWizard"
            id="org.kalypso.ui.wizards.imports.elevationmodel.ImportElevationWizard"
            name="ElevationWizard"
            project="false"/>
      	<wizard
            class="org.kalypso.ui.wizards.imports.observation.ImportObservationWizard"
            id="org.kalypso.ui.wizards.imports.observation.ImportObservationWizard"
            name="Observation load"/>            
        <wizard
              class="org.kalypso.wizards.import1d2d.ImportWizard"
              icon="icons/elcl16/1d2d_edit_protocol_view.gif"
              id="org.kalypso.wizards.import1d2d.ImportWizard"
              name="Import 1D2D"
              project="false"/>
        <wizard
              class="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.wizardPageZmlImportWithPreview.WizardZmlChooser"
              id="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.wizardPageZmlImportWithPreview.WizardZmlChooser"
              name="ZmlChooser"/>                        
	</extension>	
	<!-- perspectives-->
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.kalypso.kalypso1d2d.pjt.perspective.Perspective"
            icon="icons/kalypso1d2d.png"
            id="org.kalypso.kalypso1d2d.pjt.perspective.Perspective"
            name="Kalypso 1d2d">
      </perspective>      
   </extension>
   
   <extension
         name="Workflow Views"
         point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             class="org.kalypso.kalypso1d2d.pjt.views.WorkflowView"
             icon="icons/nuvola_select/loop.png"
             id="org.kalypso.kalypso1d2d.pjt.views.WorkflowView"
             name="Aktivitäten"/>
       <view
             allowMultiple="false"
             class="org.eclipse.ui.navigator.CommonNavigator"
             icon="icons/tree.gif"
             id="org.kalypso.kalypso1d2d.pjt.views.ScenarioView"
             name="Szenarien">
       </view>               
   </extension>
   
   	     
     <extension point="org.eclipse.ui.handlers">
        <handler
			class="org.kalypso.kalypso1d2d.pjt.actions.ActivateScenarioHandler"
			commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#ActivateScenario"/>
			 		 		 		 		  			
        <handler
              class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler"
              commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand#SelectOneProfile">
           <activeWhen>
              <with
                    variable="activeContexts">
                 <iterate
                       operator="or">
                    <equals
                          value="{org.kalypso.model.wspmprofile}Profile">
                    </equals>
                 </iterate>
              </with>
           </activeWhen>
        </handler>
		 
     <!--*** _FlowRelationship (Parameters1D) context handler ***-->		 
		 <handler
	           class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler"
	           commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand#Parameters1D">
		     <activeWhen>
		         <with variable="activeContexts">
		            <iterate operator="or">
		               <equals value="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}_FlowRelationship"/>
		            </iterate>
		         </with>
		     </activeWhen>
		 </handler>
	
	 <!--*** BoundaryCondition context handler ***-->	 

 	 <!--*** handlers for scenario management ***-->			   
	     <handler
            class="org.kalypso.kalypso1d2d.pjt.actions.AddScenarioHandler"
            commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#AddScenario"/>      	 
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.RemoveScenarioHandler"
	           commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#RemoveScenario"/>	 	 	               

 	 <!--*** import handlers ***-->
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.ImportElevationHandler"
	           commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#ElevLoad"/>			   	           
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.ImportProfileHandler"
	           commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#ProfileImport"/>	
	           
 	 <!--*** general net editing handler ***-->	     
	     
 	 <!--*** 1D-editing handlers ***-->	     
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.ImportWSPMHandler"
	           commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#Net1DImportWspm"/>
	     <handler
               class="org.kalypso.kalypso1d2d.pjt.actions.AddProfileToMapHandler"
               commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#AddProfileNetworkToMap"/>	           	           
	     
 	 <!--*** 2D-editing handlers ***-->	     
	     <handler
	           commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#Chan2DGen">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.channeledit.CreateMainChannelWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     <handler
	           commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#BandGen">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.grid.CreateGridWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     
	     <!-- Roughness correction -->
	     <handler
	           commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#roughness_correction_modelling">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.roughness_cor.RoughnessCorrectionWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     
	     <handler
	     	   commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#AssignElevs">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.temsys.ApplyElevationWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     
		<!-- // Handler for "Berechnungseinheiten Modellieren"--> 
	     <handler
	       	   commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#CalculationUnit">
               <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.calculation_unit.CalculationUnitWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     
 	 <!--*** 1D/2D transition handlers CreateJunctionContext1dToCLineFromSelectedEdges ***-->	     	     	     	     	     	     	     
	     <!--handler commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#SetEltLineTrans">
	           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
		           <parameter
		                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
		                 value="org.kalypso.kalypsomodel1d2d.ui.map.junction1d2d.CreateJunctionFromClAnd1DEleWidget"/>
		           <parameter
		                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
		                 value="org.kalypso.model1d2d"/>
	        </class>
	     </handler-->	
	     
	    <handler commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#SetEltLineTrans">
	           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
		           <parameter
		                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
		                 value="org.kalypso.kalypsomodel1d2d.ui.map.junction1d2d.CreateJunctionContext1dToCLineFromSelectedEdges"/>
		           <parameter
		                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
		                 value="org.kalypso.model1d2d"/>
	        </class>
	     </handler>	
	          
	     <handler commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#SetEltEltTrans">
	           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
		           <parameter
		                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
		                 value="org.kalypso.kalypsomodel1d2d.ui.map.junction1d2d.CreateJunctionContext1DTo2DFromSelectedEdges"/>
		           <parameter
		                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
		                 value="org.kalypso.model1d2d"/>
	        </class>
	     </handler>
      <handler commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#RoughnessFENETColor">
         <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.kalypsomodel1d2d.ui.map.fenetRoughness.ApplyColorOnFENETWidget"/>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
                  value="org.kalypso.model1d2d"/>
         </class>
      </handler>
      <handler
            class="org.kalypso.kalypso1d2d.pjt.actions.StartCalculationHandler"
            commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#StartCalculation"/>  	     	     	     	     	     	     
	</extension>
    
   <extension
           point="org.eclipse.ui.intro.configExtension">
        <configExtension
              configId="org.kalypso.model.product.configId"
              content="content/ext.xml"/>
   </extension>
   <extension
         point="de.renew.workflow.model.contextHandlerFactories">
      <contextHandlerFactory
            class="org.kalypso.kalypso1d2d.pjt.actions.KalypsoContextHandlerFactory"
            id="kalypsoContextHandlerFactory"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.kalypso.kalypso1d2d.pjt.navigator.ScenarioContent"/>
            <contentExtension
                  pattern="de.renew.workflow.connector.filters.kalypso.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.kalypso.kalypso1d2d.pjt.views.contentprov.ScenarioContentProvider"
            icon="icons/nuvola_select/ledblue.png"
            id="org.kalypso.kalypso1d2d.pjt.navigator.ScenarioContent"
            labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
            name="Szenario"
            priority="highest"
            providesSaveables="false">
         <triggerPoints>
            <or>
	        	<and>
					<instanceof value="org.eclipse.core.resources.IProject"/>        
					<test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"/>
		        </and>
		        <instanceof value="org.kalypso.afgui.scenarios.Scenario"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.kalypso.afgui.scenarios.Scenario"/>
            </or>
         </possibleChildren>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            description="Nur Workflow-Projekte anzeigen"
            id="de.renew.workflow.connector.filters.kalypso.projects"
            name="Nur Workflow-Projekte anzeigen">
         <filterExpression>
    	    <and>
				<instanceof value="org.eclipse.core.resources.IProject"/>        
				<not>
					<test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"/>
                </not>
	        </and>
         </filterExpression>
      </commonFilter>
      <commonFilter
            id="de.renew.workflow.connector.filters.kalypso.noresources"
            name="Ressourcen ausblenden">
         <filterExpression>
            <and>
               <not>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
               </not>
               <not>
                  <instanceof
                        value="org.kalypso.afgui.scenarios.Scenario">
                  </instanceof>
               </not>
            </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.kalypso.kalypso1d2d.pjt.views.ScenarioView.popupActions"
            targetID="org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
         <action
               enablesFor="?"
               icon="icons/nuvola_select/edit_add.png"
               id="org.kalypso.kalypso1d2d.pjt.actions.AddScenario"
               label="Szenario hinzufügen"
               menubarPath="group.edit"
               tooltip="Ein neues Szenario hinzufügen">
           <class class="org.kalypso.ui.GenericCommandActionDelegate">
        	<parameter name="commandId" 
                 value="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#AddScenario"/>
           </class>
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="org.kalypso.kalypso1d2d.pjt.views.ScenarioView.actions"
            objectClass="org.kalypso.afgui.scenarios.Scenario">
         <action
               enablesFor="1"
               helpContextId="org.eclipse.ui.edit.delete"
               icon="icons/nuvola_select/edit_remove.png"
               id="org.kalypso.kalypso1d2d.pjt.actions.RemoveScenario"
               label="Szenario löschen"
               menubarPath="group.edit"
               tooltip="Das gewählte Szenario löschen">
           <class class="org.kalypso.ui.GenericCommandActionDelegate">
            	<parameter name="commandId" 
                     value="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#RemoveScenario"/>
           </class>
         </action>
         <action
               enablesFor="1"
               icon="icons/activate.gif"
               id="org.kalypso.kalypso1d2d.pjt.actions.ActivateScenario"
               label="Szenario aktivieren"
               menubarPath="group.edit"
               tooltip="Das gewählte Szenario aktivieren">
           <class class="org.kalypso.ui.GenericCommandActionDelegate">
            	<parameter name="commandId" 
                     value="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#ActivateScenario"/>
           </class>
         </action>
      </objectContribution>      
   </extension>     
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.renew.workflow.tasks.category"
            id="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#AddScenario"
            name="Szenario hinzufügen"/>
      <command
            categoryId="de.renew.workflow.tasks.category"
            id="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#RemoveScenario"
            name="Szenario löschen"/>      
   </extension>   
   <extension
         point="org.kalypso.deegree.functionProperty">
      <function
            class="org.kalypso.ui.wizards.imports.roughness.LinkedFeaturePropertyFunction"
            id="org.kalypso.ui.wizards.imports.roughness.LinkedFeaturePropertyFunction"
            name="Linked-Feature-Property-Fetcher"/>
      <function
            class="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            id="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            name="ComputeMergedRougnessProperties"/>
      <function
            class="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            id="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            name="RougnessValuesPropertyFunction"/>
   </extension>
   <extension
         point="org.kalypso.deegree.gmlWorkspaceListener">
      <listener
            class="org.kalypso.ui.wizards.imports.roughness.RoughnessStyleUpdater"
            id="org.kalypso.ui.wizards.imports.roughness.RoughnessStyleUpdater"
            name="RoughnessStyleUpdater"/>
   </extension>
</plugin>
