<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!-- Project extensions -->
   <extension
      point="org.eclipse.core.resources.natures"
      id="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"
      name="Kalypso1D2DProjectNature">
      <runtime>
         <run class="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"/>
      </runtime>
      <requires-nature
            id="org.kalypso.afgui.ScenarioHandlingProjectNature">
      </requires-nature>
      <requires-nature
            id="de.renew.workflow.connector.WorkflowProjectNature">
      </requires-nature>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.kalypso.kalypsosimulationmodel.core.resultmeta.IResultMeta"
            class="org.kalypso.kalypso1d2d.pjt.views.contentprov.ResultMetaAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>

	<extension
       point="org.eclipse.ui.newWizards">
		<category
            id="org.kalypso.wizard.Create1d2dpjt"
            name="1D-2D Modell"
            parentCategory="org.kalypso.ui.newwizards.kalypso"/>
		<wizard
        category="org.kalypso.ui.newwizards.kalypso/org.kalypso.wizard.Create1d2dpjt"
        class="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DNewProjectWizard"
        icon="icons/kalypso1d2d.png"
        id="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DNewProjectWizard"
        name="Kalypso 1D-2D gekoppeltes Modell"
        project="true">
		<description>
				Creates a new project
		</description>
		</wizard>
		<wizard
            class="org.kalypso.ui.wizards.imports.baseMap.ImportBaseMapWizard"
            icon="icons/kalypso_gmt.gif"
            id="org.kalypso.ui.wizards.imports.baseMap.ImportBaseMapWizard"
            name="BaseMap"
            project="false"/>
	  	<category
            id="org.kalypso.kalypsosimulationmodel.ui.shapeimportwizards"
            name="Kalypso import wizards"/>
      	<wizard
            category="org.kalypso.kalypsosimulationmodel.ui.shapeimportwizards"
            class="org.kalypso.ui.wizards.imports.roughness.ImportWizard"
            icon="icons/kalypso_gmt.gif"
            id="org.kalypso.ui.wizards.imports.roughness.ImportWizard"
            name="Roughness import wizard"
            project="false"/>
      	<wizard
            class="org.kalypso.ui.wizards.imports.elevationmodel.ImportElevationWizard"
            id="org.kalypso.ui.wizards.imports.elevationmodel.ImportElevationWizard"
            name="ElevationWizard"
            project="false"/>
      	<wizard
            class="org.kalypso.ui.wizards.results.ConfigureResultsWizard"
            id="org.kalypso.ui.wizards.results.ConfigureResultsWizard"
            	name="Result map handling"/>            
      	<wizard
            class="org.kalypso.ui.wizards.imports.observation.ImportObservationWizard"
            id="org.kalypso.ui.wizards.imports.observation.ImportObservationWizard"
            name="Observation load"/>            
        <wizard
              class="org.kalypso.wizards.import1d2d.ImportWizard"
              icon="icons/elcl16/1d2d_edit_protocol_view.gif"
              id="org.kalypso.wizards.import1d2d.ImportWizard"
              name="Import 1D2D"
              project="false"/>
        <wizard
              class="org.kalypso.wizards.export2d.ExportWizard"
              id="org.kalypso.wizards.export2d.ExportWizard"
              name="Export 2D"
              project="false"/>
	</extension>	
     <extension
           point="org.kalypso.ui.featureViewExtensionControl">
        <extensionControl
              class="org.kalypso.kalypso1d2d.pjt.wizards.RestartSelectorControlFactory"
              id="org.kalypso.kalypso1d2d.pjt.wizards.RestartSelectorControlFactory"/>
     </extension>
	<!-- perspectives-->
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.kalypso.kalypso1d2d.pjt.perspective.Perspective"
            icon="icons/kalypso1d2d.png"
            id="org.kalypso.kalypso1d2d.pjt.perspective.Perspective"
            name="Kalypso 1d2d">
      </perspective>      
   </extension>
   
   <extension
         name="Workflow Views"
         point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             class="org.kalypso.kalypso1d2d.pjt.views.WorkflowView"
             icon="icons/nuvola_select/loop.png"
             id="org.kalypso.kalypso1d2d.pjt.views.WorklistView"
             name="Aktivitäten"/>
       <view
             allowMultiple="false"
             class="org.eclipse.ui.navigator.CommonNavigator"
             icon="icons/tree.gif"
             id="org.kalypso.kalypso1d2d.pjt.views.ScenarioView"
             name="Szenarien">
       </view>
       <view
             allowMultiple="false"
             class="org.eclipse.ui.navigator.CommonNavigator"
             icon="icons/tree.gif"
             id="org.kalypso.kalypso1d2d.pjt.views.ResultNavigator"
             name="Ergebnisse">
       </view>
       <view
             allowMultiple="false"
             class="org.kalypso.ui.repository.view.RepositoryExplorerPart"
             icon="icons/obj16/repository.gif"
             id="org.kalypso.kalypso1d2d.pjt.views.TimeseriesRepositoryView"
             name="Zeitreihen Repositories">
       </view>               
   </extension>
   
   	     
     <extension point="org.eclipse.ui.handlers">
        <handler
			class="org.kalypso.kalypso1d2d.pjt.actions.ActivateScenarioHandler"
			commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario"/>
			 		 		 		 		  			
        <handler
              class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler"
              commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand#SelectOneProfile">
           <activeWhen>
              <with
                    variable="activeContexts">
                 <iterate
                       operator="or">
                    <equals
                          value="{org.kalypso.model.wspmprofile}Profile">
                    </equals>
                 </iterate>
              </with>
           </activeWhen>
        </handler>
		 
     <!--*** _FlowRelationship (Parameters1D) context handler ***-->		 
		 <handler
	           class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler"
	           commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand#Parameters1D">
		     <activeWhen>
		         <with variable="activeContexts">
		            <iterate operator="or">
		               <equals value="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}_FlowRelationship"/>
		            </iterate>
		         </with>
		     </activeWhen>
		 </handler>
	
	 <!--*** BoundaryCondition context handler ***-->	 

 	 <!--*** handlers for scenario management ***-->			   
	     <handler
            class="org.kalypso.kalypso1d2d.pjt.actions.AddScenarioHandler"
            commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario"/>      	 
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.RemoveScenarioHandler"
	           commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__RemoveScenario"/>	 	 	               

 	 <!--*** import handlers ***-->
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.ImportElevationHandler"
	           commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ElevLoad"/>			   	           
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.ImportProfileHandler"
	           commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ProfileImport"/>	
	           
 	 <!--*** general net editing handler ***-->	     
	     
 	 <!--*** 1D-editing handlers ***-->	     
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.ImportWSPMHandler"
	           commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__Net1DImportWspm"/>
	     <handler
               class="org.kalypso.kalypso1d2d.pjt.actions.AddProfileToMapHandler"
               commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddProfileNetworkToMap"/>	           	           
	     
 	 <!--*** 2D-editing handlers ***-->	     
	     <handler
	           commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__Chan2DGen">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.channeledit.CreateMainChannelWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     <handler
	           commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__BandGen">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.grid.CreateGridWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     
	     <handler
	     	   commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AssignElevs">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.temsys.ApplyElevationWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     
		<!-- // Handler for "Berechnungseinheiten Modellieren"--> 
	     <handler
	       	   commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__CalculationUnit">
               <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.calculation_unit.CalculationUnitWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     
	     <!-- // Handler for "Start Calculation Widget"--> 
	     <handler
	       	  commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__StartCalculationWithProblemsView">	       	  
               <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.calculationUnitView.CalculationUnitPerformWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
       <handler
            class="org.kalypso.kalypso1d2d.pjt.actions.StartCalculationHandler"
            commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__StartCalculation"/> 
       <handler
             class="org.kalypso.kalypso1d2d.pjt.actions.ResultProcessHydrographsHandler"
             commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ResultProcessHydropgrahs">
       </handler>
       <handler
             class="org.kalypso.kalypso1d2d.pjt.actions.SelectRoughnessThemeHandler"
             commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__RCDef">
       </handler>
       <handler
             class="org.kalypso.kalypso1d2d.pjt.actions.ConfigureResultMapHandler"
             commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ConfigureResultMap">
       </handler>
       <handler
             class="org.kalypso.kalypso1d2d.pjt.actions.ShowResultLengthSectionViewHandler"
             commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ShowResultLengthSectionView">
       </handler>
       <handler
             class="org.kalypso.kalypso1d2d.pjt.actions.ConfigureResultLengthSectionViewHandler"
             commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ConfigureResultLengthSectionView">
       </handler>
       <handler
             class="org.kalypso.kalypso1d2d.pjt.actions.GenerateResultDifferenceViewHandler"
             commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__GenerateDifferenceResultView">
       </handler>  	     	     	     	     	     	     
	</extension>
    
   <extension
           point="org.eclipse.ui.intro.configExtension">
        <configExtension
              configId="org.kalypso.model.product.configId"
              content="content/ext.xml"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.kalypso.kalypso1d2d.pjt.navigator.ScenarioContent"/>
            <contentExtension
                  isRoot="false"
                  pattern="org.kalypso.kalypso1d2d.pjt.navigator.ScenarioResultContent">
            </contentExtension>
            <contentExtension
                  pattern="de.renew.workflow.connector.filters.kalypso.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="org.kalypso.kalypso1d2d.pjt.views.ResultNavigator">
            <options>
            	<!-- Hide the "Link with Editor" action from the toolbar of the viewer -->
				<property name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
						  value="true"/>
				<!-- Hide the "Available Extensions" tab in the "Available Customizations" 
					dialog (available from the "Filters" action -->
				<!--<property name="org.eclipse.ui.navigator.hideAvailableExtensionsTab"
						  value="true"/>-->
			</options>
      </viewer>
   </extension>   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.kalypso.kalypso1d2d.pjt.views.contentprov.ScenarioContentProvider"
            icon="icons/nuvola_select/ledblue.png"
            id="org.kalypso.kalypso1d2d.pjt.navigator.ScenarioContent"
            labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
            name="Szenario"
            priority="highest"
            providesSaveables="false">
         <enablement>
            <or>
				<adapt type="org.eclipse.core.resources.IResource"/>        
		        <instanceof value="org.kalypso.afgui.scenarios.Scenario"/>
            </or>
         </enablement>         
      </navigatorContent>
      <commonFilter
            activeByDefault="false"
            description="Nur Workflow-Projekte anzeigen"
            id="de.renew.workflow.connector.filters.kalypso.projects"
            name="Nur Kalypso-1d/2d-Projekte anzeigen">
         <filterExpression>
    	    <and>
				<instanceof value="org.eclipse.core.resources.IProject"/>
				<not>				
					<test
                	    property="org.eclipse.core.resources.projectNature"
                    	value="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"/>
                </not>                
	        </and>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            id="de.renew.workflow.connector.filters.kalypso.noresources"
            name="Ressourcen ausblenden">
         <filterExpression>
         	<not>
            	<or>
                	<instanceof value="org.eclipse.core.resources.IProject"/>
               		<instanceof value="org.kalypso.afgui.scenarios.Scenario"/>
            	</or>
            </not>
         </filterExpression>
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.kalypso.kalypso1d2d.pjt.views.contentprov.ResultNavigatorContentProvider"
            id="org.kalypso.kalypso1d2d.pjt.navigator.ResultContent"
            labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
            name="Ergebnisse"
            priority="highest"
            providesSaveables="false">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IWorkspaceRoot">
               </adapt>
               <instanceof
                     value="org.kalypso.kalypsomodel1d2d.schema.binding.metadata.ISimulationDescriptor">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
      <commonFilter
            activeByDefault="false"
            description="Nur Ergebnisse des aktiven Szenarios anzeigen"
            id="org.kalypso.kalypso1d2d.pjt.navigator.ActiveScenarioFilter"
            name="Aktives Szenario">
         <filterExpression>
         	   <not>
               <test
                     forcePluginActivation="true"
                     property="org.kalypso.kalypso1d2d.activeCaseUri">
               </test>
               </not>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.renew.workflow.tasks.category"
            id="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario"
            name="Szenario hinzufügen"/>
      <command
            categoryId="de.renew.workflow.tasks.category"
            id="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__RemoveScenario"
            name="Szenario löschen"/>
      <command
            categoryId="de.renew.workflow.tasks.category"
            id="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario"
            name="Szenario aktivieren">
      </command>      
   </extension>   
   <extension
         point="org.kalypso.deegree.functionProperty">
      <function
            class="org.kalypso.ui.wizards.imports.roughness.LinkedFeaturePropertyFunction"
            id="org.kalypso.ui.wizards.imports.roughness.LinkedFeaturePropertyFunction"
            name="Linked-Feature-Property-Fetcher"/>
      <function
            class="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            id="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            name="ComputeMergedRougnessProperties"/>
      <function
            class="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            id="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            name="RougnessValuesPropertyFunction"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
         <command
               commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario"
               icon="icons/activate.gif"
               id="org.kalypso.kalypso1d2d.pjt.actions.ActivateScenario"
               label="Szenario aktivieren"
               tooltip="Das gewählte Szenario aktivieren">
            <visibleWhen>
               <reference
                     definitionId="oneScenario">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario"
               icon="icons/nuvola_select/edit_add.png"
               id="org.kalypso.kalypso1d2d.pjt.actions.AddScenario"
               label="Szenario hinzufügen"
               tooltip="Ein neues Szenario hinzufügen">
            <visibleWhen>
               <reference
                     definitionId="oneScenario">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__RemoveScenario"
               helpContextId="org.eclipse.ui.edit.delete"
               icon="icons/nuvola_select/edit_remove.png"
               id="org.kalypso.kalypso1d2d.pjt.actions.RemoveScenario"
               label="Szenario löschen"
               tooltip="Das gewählte Szenario löschen">
            <visibleWhen>
               <reference
                     definitionId="oneScenario">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.kalypso.kalypso1d2d.pjt.views.TimeseriesRepositoryView">
         <command
               commandId="org.kalypso.ui.command.repositoryReload">
         </command>
         <separator
               name="org.kalypso.kalypso1d2d.pjt.views.timeseriesRepository.separator.treeNavigation"
               visible="true">
         </separator>
         <command
               commandId="org.kalypso.ui.command.repositoryCollapseAll">
         </command>
         <separator
               name="org.kalypso.kalypso1d2d.pjt.views.timeseriesRepository.separator.export"
               visible="true">
         </separator>
         <command
               commandId="org.kalypso.ui.command.repositoryExportAsFile">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.kalypso.kalypso1d2d.pjt.views.contentprov.SimulationDescriptorTester"
            id="org.kalypso.kalypso1d2d.pjt.views.contentprov.SimulationDescriptorTester"
            namespace="org.kalypso.kalypso1d2d"
            properties="activeCaseUri"
            type="org.kalypso.kalypsomodel1d2d.schema.binding.metadata.ISimulationDescriptor">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="oneScenario">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.kalypso.afgui.scenarios.Scenario">
               </instanceof>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         point="de.renew.workflow.model.contextHandlerFactories">
      <contextHandlerFactory
            class="org.kalypso.kalypso1d2d.pjt.actions.KalypsoContextHandlerFactory"
            id="kalypsoContextHandlerFactory"/>
   </extension>
   <extension
         point="de.renew.workflow.model.workflowSystem">
      <workflowSystem
            definition="src/org/kalypso/kalypso1d2d/pjt/resources/workflow.xml"
            id="workflow1d2d"
            name="Workflow 1d2d-Model">
      </workflowSystem>
   </extension>
   <extension
         point="org.kalypso.ui.addlayer.addLayerWizard">
      <wizard
            class="org.kalypso.ui.wizards.results.AddResultThemeWizard"
            id="org.kalypso.kalypso1d2d.pjt.addThemeWizard.resultMeta"
            name="1D2D-Ergebnisse">
      </wizard>
   </extension>
</plugin>
