<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.kalypso.contribs.eclipseplatform.projectTemplate">
      <project
            category="org.kalypso.model.wspm.tuhh.demoProjects"
            data="etc/demos/WspmDemo.zip"
            description="%wspm.project.description"
            label="%wspm.project.label"
            projectName="%wspm.project.projectName">
      </project>
      <project
            category="org.kalypso.model.flood.demoProject"
            data="etc/demos/FloodDemo.zip"
            description="%flood.project.description"
            label="%flood.project.label"
            projectName="%flood.project.projectName">
      </project>
      <project
            category="org.kalypso.kalypso1d2d.pjt.demoProject"
            data="etc/demos/2DDemo.zip"
            description="%2d.project.description"
            label="%2d.project.label"
            projectName="%2d.project.projectName">
      </project>
      <project
            category="org.kalypso.kalypso1d2d.pjt.demoProject"
            data="etc/demos/1D2D_Demo.zip"
            description="%1d2d.project.description"
            label="%1d2d.project.label"
            projectName="%1d2d.project.projectName">
      </project>
      <project
            category="org.kalypso.model.flood.demoProject"
            data="etc/demos/FloodDemo_1D2D.zip"
            description="%flood.1d2d.project.description"
            label="%flood.1d2d.project.label"
            projectName="%flood.1d2d.project.projectName">
      </project>
      <project
            category="org.kalypso.model.risk.demoProject"
            data="etc/demos/RiskDemo_1D2D.zip"
            description="%risk.project.description"
            label="%risk.project.label"
            projectName="%risk.project.projectName">
      </project>
   </extension>

</plugin>
