<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            icon="icons/sample.gif"
            class="KalypsoPluginRasterImport.ImportRasterWizard"
            name="%KalypsoPluginRasterImport.wizard1.name"
            id="KalypsoPluginRasterImport.wizard1"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            icon="icons/sample.gif"
            class="KalypsoPluginRasterExport.ExportRasterWizard"
            name="%KalypsoPluginRasterExport.wizard1.name"
            id="KalypsoPluginRasterExport.wizard1"/>
   </extension>

</plugin>
