<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.kalypso.model.product.configId"
            content="content/ext.xml"/>
   </extension>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.model.flood.schema.UrlCatalogModelFlood"
            id="org.kalypso.model.flood.schema.UrlCatalogModelFlood"/>
   </extension>
   <extension
         point="org.kalypso.core.catalogContribution">
      <catalogContribution
            class="org.kalypso.model.flood.ui.catalog.FloodModelCatalogContribution"
            name="Flood Model Catalog"/>
   </extension>
   <extension
         point="de.renew.workflow.model.workflowSystem">
      <workflowSystem
            definition="src/org/kalypso/model/flood/ui/resources/workflow.xml"
            id="org.kalypso.model.flood.workflow"
            name="Flood-Modeller-Workflow">
      </workflowSystem>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">

	<!--*** manage waterlevel context handler ***-->
      <handler
            commandId="org.kalypso.model.flood.ManageWaterlevelData">
         <class
               class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.model.flood.ui.map.EventManagementWidget">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
                  value="org.kalypso.model.flood">
            </parameter>
         </class>
      </handler>
      <handler
            commandId="org.kalypso.model.flood.ManageDTMData">
         <class
               class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.gml.ui.map.CoverageManagementWidget">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
                  value="org.kalypso.gml.ui">
            </parameter>
         </class>
      </handler>
      <handler
            class="org.kalypso.model.flood.handlers.PolygonEditingHandler"
            commandId="org.kalypso.model.flood.PolygonEditing">
      </handler>
      <!--
      <handler
            commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.CreateElement">
         <activeWhen>
            <reference
                  definitionId="org.kalypso.model.flood.expression.def.abstractFloodPolygonContextActive">
            </reference>
         </activeWhen>
         <class
               class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.model.flood.ui.map.CreateFloodPolygonClipWidget">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.icon"
                  value="icons/elcl16/create_flood_polygon_clip.gif">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.tooltip"
                  value="Clip-Polygon erzeugen">
            </parameter>
         </class>
      </handler>
      -->
      <handler
            commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.DeleteElement">
         <activeWhen>
            <reference
                  definitionId="org.kalypso.model.flood.expression.def.abstractFloodPolygonContextActive">
            </reference>
         </activeWhen>
         <class
               class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.model.flood.ui.map.DeleteFloodPolygonWidget">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.icon"
                  value="icons/elcl16/delete_flood_polygon.gif">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.tooltip"
                  value="WSP-Anpassung löschen">
            </parameter>
         </class>
      </handler>
      <handler
            commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.EditElement">
         <activeWhen>
            <reference
                  definitionId="org.kalypso.model.flood.expression.def.abstractFloodPolygonContextActive">
            </reference>
         </activeWhen>
         <class
               class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.model.flood.ui.map.EditFloodPolygonWidget">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.icon"
                  value="icons/elcl16/edit_flood_polygon.gif">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.tooltip"
                  value="WSP-Anpassung editieren">
            </parameter>
         </class>
      </handler>
      <handler
            commandId="org.kalypso.model.flood.command.createExtrapolationPolygon">
         <activeWhen>
            <reference
                  definitionId="org.kalypso.model.flood.expression.def.abstractFloodPolygonContextActive">
            </reference>
         </activeWhen>
         <class
               class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.model.flood.ui.map.CreateFloodPolygonExtrapolationWidget">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.icon"
                  value="icons/elcl16/create_flood_polygon_extrapolation.gif">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.tooltip"
                  value="Extrapolationspolygon erzeugen">
            </parameter>
         </class>
      </handler>
      <handler
            commandId="org.kalypso.model.flood.command.createClipPolygon">
         <activeWhen>
            <reference
                  definitionId="org.kalypso.model.flood.expression.def.abstractFloodPolygonContextActive">
            </reference>
         </activeWhen>
         <class
               class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.model.flood.ui.map.CreateFloodPolygonClipWidget">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.icon"
                  value="icons/elcl16/create_flood_polygon_clip.gif">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.tooltip"
                  value="Clip-Polygon erzeugen">
            </parameter>
         </class>
      </handler>
      <handler
            class="org.kalypso.model.flood.handlers.ProcessFloodModelHandler"
            commandId="org.kalypso.model.flood.ProcessFloodModel">
      </handler>
      <handler
            class="org.kalypso.model.flood.handlers.VisualizeDepthDataHandler"
            commandId="org.kalypso.model.flood.VisualizeDepthData">
      </handler>
      <handler
            class="org.kalypso.model.flood.handlers.GenerateRiskModelHandler"
            commandId="org.kalypso.model.flood.GenerateRiskModel">
      </handler>
   </extension>
   <extension
         point="org.kalypso.afgui.scenarioData">
      <dataSet
            id="org.kalypso.model.flood.scenarioDataScope">
         <scenarioDatum
               bundle="org.kalypso.model.flood"
               classKey="org.kalypso.model.flood.binding.IFloodModel"
               modelPath="models/flood.gml">
         </scenarioDatum>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.kalypsodeegree.model.feature.Feature"
            class="org.kalypso.model.flood.binding.KalypsoFloodAdapterFactory">
         <adapter
               type="org.kalypso.model.flood.binding.IFloodModel">
         </adapter>
         <adapter
               type="org.kalypso.model.flood.binding.IFloodPolygon">
         </adapter>
         <adapter
               type="org.kalypso.model.flood.binding.IFloodExtrapolationPolygon">
         </adapter>
         <adapter
               type="org.kalypso.model.flood.binding.IFloodClipPolygon">
         </adapter>
         <adapter
               type="org.kalypso.model.flood.binding.IRunoffEvent">
         </adapter>
         <adapter
               type="org.kalypso.model.flood.binding.ITinReference">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.kalypso.model.flood.expression.def.abstractFloodPolygonContextActive">
         <with
               variable="activeContexts">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <equals
                     value="{org.kalypso.model.flood}AbstractFloodPolygon">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.kalypso.ogc.gml.map.category"
            id="org.kalypso.model.flood.command.createExtrapolationPolygon"
            name="Extrapolations-Polygon erzeugen">
      </command>
      <command
            categoryId="org.kalypso.ogc.gml.map.category"
            id="org.kalypso.model.flood.command.createClipPolygon"
            name="Clip-Polygon erzeugen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
 		<menuContribution
              locationURI="toolbar:org.kalypso.ui.views.mapView?before=actions">
           <command
                 commandId="org.kalypso.model.flood.command.createExtrapolationPolygon"
                 style="radio">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.kalypso.model.flood.expression.def.abstractFloodPolygonContextActive">
                 </reference>
              </visibleWhen>
           </command>
           <command
                 commandId="org.kalypso.model.flood.command.createClipPolygon"
                 style="radio">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.kalypso.model.flood.expression.def.abstractFloodPolygonContextActive">
                 </reference>
              </visibleWhen>
           </command>
        </menuContribution>
	</extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.kalypso.model.flood.newwizard"
            name="Flood Model"
            parentCategory="org.kalypso.ui.newwizards.kalypso">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.kalypso.ui.newwizards.kalypso/org.kalypso.model.flood.newwizard"
            class="org.kalypso.model.flood.ui.wizards.NewProjectWizard"
            descriptionImage="content/images/button_flood.gif"
            finalPerspective="org.kalypso.kalypso1d2d.pjt.perspective.Perspective"
            hasPages="true"
            id="org.kalypso.model.flood.ui.wizards.NewProjectWizard"
            name="Kalypso Flood Model"
            project="true">
         <description>
            Erzeugt ein neues Flood-Modeller Projekt zur Generierung von Fliesstiefenkarten anhand zuvor berechneter Wasserspiegel.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.kalypso.deegree.functionExpression">
      <function
            class="org.kalypso.model.flood.ui.map.EventFilterExpression"
            label="Event Filter"
            name="org.kalypso.model.flood.ui.map.EventFilterExpression">
      </function>
   </extension>
   <extension
         point="org.kalypso.core.gmlSourceProvider">
      <provider
            class="org.kalypso.model.flood.ui.map.ExternalFileGmlSourceProvider"
            id="org.kalypso.model.flood.ui.map.ExternalFileGmlSourceProvider"
            label="Externe Datei (.hmo, .shp, .gml)">
         <category
               id="org.kalypso.core.tin.waterlevelDISABLED">
         </category>
      </provider>
   </extension>
</plugin>
