<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.kalypso.model.product.configId"
            content="content/ext.xml"/>
   </extension>
   <extension
         id="editorActions"
         name="editorActions"
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.kalypso.model.flood.mapeditorContributions"
            targetID="org.kalypso.ui.editor.mapeditor.GisMapEditor">
         <action
               class="org.kalypso.model.flood.ui.map.CreateFeatureDelegate"
               icon="icons/elcl16/createFeature.gif"
               id="org.kalypso.model.flood.ui.map.CreateFeatureDelegate"
               label="Feature digitalisieren"
               menubarPath="org.kalypso.ui.editors.mapeditor.menu/edit"
               style="radio"
               toolbarPath="karte/edit"
               tooltip="Ein neues Feature durch digitalisieren auf der Karte erzeugen."/>
      </editorContribution>
   </extension>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.model.flood.schema.UrlCatalogModelFlood"
            id="org.kalypso.model.flood.schema.UrlCatalogModelFlood"/>
   </extension>
   <extension
         point="org.kalypso.core.catalogContribution">
      <catalogContribution
            class="org.kalypso.model.flood.ui.catalog.FloodModelCatalogContribution"
            name="Flood Model Catalog"/>
   </extension>
   <extension
         point="de.renew.workflow.model.workflowSystem">
      <workflowSystem
            definition="src/org/kalypso/model/flood/ui/workflow/workflow.xml"
            id="org.kalypso.model.flood.workflow"
            name="Flood-Modeller-Workflow">
      </workflowSystem>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
                  
	<!--*** manage waterlevel context handler ***-->	          
      <handler
            class="org.kalypso.model.flood.handlers.ManageWaterlevelDataHandler"
            commandId="org.kalypso.model.flood.ManageWaterlevelData">
      </handler>
      <handler
            commandId="org.kalypso.model.flood.ImportDTMData">
         <class
               class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.gml.ui.map.CoverageManagementWidget">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
                  value="org.kalypso.gml.ui">
            </parameter>
         </class>
      </handler>
   </extension>
   <extension
         point="org.kalypso.afgui.scenarioData">
      <dataSet
            id="org.kalypso.model.flood.scenarioData">
         <scenarioDatum
               bundle="org.kalypso.model.flood"
               classKey="org.kalypso.model.flood.binding.IFloodModel"
               modelPath="models/flood.gml">
         </scenarioDatum>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.kalypsodeegree.model.feature.Feature"
            class="org.kalypso.model.flood.binding.KalypsoFloodAdapterFactory">
         <adapter
               type="org.kalypso.model.flood.binding.IFloodModel">
         </adapter>
         <adapter
               type="org.kalypso.model.flood.binding.IFloodExtrapolationPolygon">
         </adapter>
         <adapter
               type="org.kalypso.model.flood.binding.IFloodClipPolygon">
         </adapter>
         <adapter
               type="org.kalypso.model.flood.binding.IRunoffEvent">
         </adapter>
      </factory>
   </extension>

</plugin>
