<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.kalypso.contribs.eclipseplatform.projectTemplate">
      <project
            category="org.kalypso.kalypso1d2d.pjt.demoProject"
            data="/"
            description="%1d2d.project.description"
            label="%1d2d.project.label"
            projectName="%1d2d.project.projectName">
      </project>
   </extension>



</plugin>
