<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.util"
   name="Kalypso - Util"
   version="1.0.0"
   provider-name="kalypso.org">

   <runtime>
      <library name="kalypsoutil.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-io-1.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/junit.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-lang-2.0.jar">
         <export name="*"/>
      </library>
      <library name="lib/shiftone-cache.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-1.6.2.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
