<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
           point="org.kalypso.simulation.core.simulation">
        <simulation
              catalogClass="org.kalypso.convert.namodel.schema.UrlCatalogNA"
              simulationClass="org.kalypso.convert.namodel.NaModelCalcJob"
              typeID="KalypsoNA"/>
     </extension>
     <extension
           point="org.kalypso.contribs.java.urlCatalog">
        <catalog
              class="org.kalypso.convert.namodel.schema.UrlCatalogNA"
              id="org.kalypso.convert.namodel.UrlCatalogNA"/>
     </extension>
     <extension
           point="org.kalypso.gmlschema.virtualProperty">
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}_Channel"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              isList="false"
              qname="{virtual}link_downStreamNodeMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}downStreamNodeMember">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Catchment"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              isList="false"
              qname="{virtual}link_entwaesserungsStrangMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}entwaesserungsStrangMember">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Catchment"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              isList="false"
              qname="{virtual}link_izkn_vers"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}izkn_vers">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Catchment"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              isList="false"
              qname="{virtual}link_izkn"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}izkn">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}StorageChannel"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              isList="false"
              qname="{virtual}link_iknotNodeMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}iknotNodeMember">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Catchment"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              isList="false"
              qname="{virtual}link_grundwasserabflussMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}grundwasserabflussMember">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Node"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              isList="false"
              qname="{virtual}link_downStreamChannelMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}downStreamChannelMember">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Node"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              isList="false"
              qname="{virtual}link_branchingMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}branchingMember">
           </property>
        </virtualProperty>
     </extension>
     <extension
           point="org.kalypso.deegree.functionProperty">
        <function
              class="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              id="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              name="FeatureAssociationFunctionProperty">
        </function>
     </extension>
     <extension
           point="org.kalypso.deegree.featureBinding">
        <feature
              class="org.kalypso.convert.namodel.schema.binding.LanduseCollection"
              qname="{http://sourceforge.kalypso.org/schemata/hydrology/landuse}LanduseCollection">
        </feature>
        <feature
              class="org.kalypso.convert.namodel.schema.binding.Landuse"
              qname="{http://sourceforge.kalypso.org/schemata/hydrology/landuse}Landuse">
        </feature>
     </extension>
</plugin>
