<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.NACalcJob"
   name="KalypsoNA"
   version="1.0.0">
   <requires>
      <import plugin="org.kalypso.deegree"/>
      <import plugin="org.kalypso.jwsdp"/>
      <import plugin="org.kalypso.services.calculation.local"/>
      <import plugin="org.kalypso.util"/>
      <import plugin="org.kalypso.dwd"/>
      <import plugin="org.kalypso.core"/>
      <import plugin="org.kalypso.optimize"/>
   </requires>
   <extension
         id="org.kalypso.services.calculation.local.calcJob.na"
         name="CalcJobs"
         point="org.kalypso.services.calculation.local.calcJob">
      <calcJob
            typeID="KalypsoNA"
            catalogClass="org.kalypso.convert.namodel.schema.UrlCatalogNA"
            jobClass="org.kalypso.convert.namodel.NaModelCalcJob"/>
   </extension>

</plugin>
