<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension-point id="profilPointsSource" name="profilPointsSource" schema="schema/profilPointsSource.exsd"/>
   <extension-point id="profilPointsTarget" name="profilPointsTarget" schema="schema/profilPointsTarget.exsd"/>
   
        <extension
           point="org.eclipse.ui.preferencePages">
        <page
              class="org.kalypso.model.wspm.ui.preferences.TablePreferencePage"
              category="com.bce.profil.eclipse.preferences.ProfileditorPreferencePage"
              name="Tabelle"
              id="org.kalypso.model.wspm.ui.preferences.TablePreferencePage"/>
     </extension>
   
        <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer class="org.kalypso.model.wspm.ui.preferences.PreferenceInitializer"/>
     </extension>
     <extension
           point="org.eclipse.ui.viewActions">
        <viewContribution
              id="com.bce.profil.eclipse.view.legendContribution"
              targetID="org.kalypso.model.wspm.ui.view.legend.LegendView">
           <action
                 class="org.kalypso.model.wspm.ui.view.legend.LayerViewActionDelegate"
                 disabledIcon="icons/dlcl16/profil_legend_props.gif"
                 enablesFor="1"
                 icon="icons/elcl16/profil_legend_props.gif"
                 id="com.bce.profil.eclipse.view.legend.LayerViewAction"
                 label="%com.bce.profil.eclipse.view.legend.LayerViewAction"
                 style="push"
                 toolbarPath="additions"
                 tooltip="%com.bce.profil.eclipse.view.legend.LayerViewAction.tooltip"/>
           <action
                 class="org.kalypso.model.wspm.ui.view.legend.RemoveLayerActionDelegate"
                 disabledIcon="icons/dtool16/delete_layer.gif"
                 enablesFor="1"
                 icon="icons/etool16/delete_layer.gif"
                 id="com.bce.profil.eclipse.view.legend.RemoveLayerAction"
                 label="%com.bce.profil.eclipse.view.legend.RemoveLayerAction"
                 style="push"
                 toolbarPath="additions"
                 tooltip="com.bce.profil.eclipse.view.legend.RemoveLayerAction.tooltip"/>
           <action
                 class="org.kalypso.model.wspm.ui.view.legend.AddLayerActionDelegate"
                 icon="icons/etool16/add_layer.gif"
                 id="com.bce.profil.eclipse.view.legend.AddLayerAction"
                 label="%com.bce.profil.eclipse.view.legend.AddLayerAction"
                 style="push"
                 toolbarPath="additions"
                 tooltip="%com.bce.profil.eclipse.view.legend.AddLayerAction.tooltip"/>
        </viewContribution>
        <viewContribution
              id="com.bce.profil.eclipse.view.tableContribution"
              targetID="org.kalypso.model.wspm.ui.view.table.TableView">
           <menu
                 id="tableViewMenu"
                 label="Profiltabelle">
              <groupMarker name="points"/>
              <separator name="additions"/>
           </menu>
           <action
                 class="org.kalypso.model.wspm.ui.view.table.InsertPointsActionDelegate"
                 icon="icons/elcl16/table_insert_points.gif"
                 id="com.bce.profil.eclipse.view.table.insertPoints"
                 label="%com.bce.profil.eclipse.view.table.insertPoints"
                 menubarPath="points"
                 style="push"
                 toolbarPath="points"
                 tooltip="%com.bce.profil.eclipse.view.table.insertPoints.tooltip"/>
           <action
                 class="org.kalypso.model.wspm.ui.view.table.DouglasPeuckerActionDelegate"
                 id="com.bce.profil.eclipse.view.table.douglasPeucker"
                 label="%com.bce.profil.eclipse.view.table.douglasPeucker"
                 menubarPath="points"
                 style="push"
                 tooltip="%com.bce.profil.eclipse.view.table.douglasPeucker.tooltip"/>
        </viewContribution>
     </extension>
        <extension
           point="org.eclipse.ui.editors">
        <editor
              class="org.kalypso.model.wspm.ui.editor.ProfilchartEditor"
              contributorClass="org.kalypso.model.wspm.ui.editor.ProfilchartEditorContributor"
              default="true"
              extensions="prf"
              icon="icons/eview16/profil_editor.gif"
              id="org.kalypso.model.wspm.ui.editor.ProfilchartEditor"
              matchingStrategy="org.kalypso.contribs.eclipse.ui.FileResourceEditorMatchingStrategy"
              name="%org.kalypso.model.wspm.ui.editor.ProfilchartEditor"/>
     </extension>
     <extension
           point="org.eclipse.ui.views">
        <category
              id="org.kalypso.model.wspm.profil.view.category"
              name="Profil"
              />
        <view
              allowMultiple="false"
              category="org.kalypso.model.wspm.profil.view.category"
              class="org.kalypso.model.wspm.ui.view.legend.LegendView"
              icon="icons/eview16/profil_legend.gif"
              id="org.kalypso.model.wspm.ui.view.legend.LegendView"
              name="%org.kalypso.model.wspm.ui.view.legend.LegendView"/>
        <view
              allowMultiple="false"
              category="org.kalypso.model.wspm.profil.view.category"
              class="org.kalypso.model.wspm.ui.view.LayerView"
              icon="icons/eview16/profil_panel.gif"
              id="org.kalypso.model.wspm.ui.view.LayerView"
              name="%org.kalypso.model.wspm.ui.view.LayerView"/>
        <view
              allowMultiple="false"
              category="org.kalypso.model.wspm.profil.view.category"
              class="org.kalypso.model.wspm.ui.view.table.TableView"
              icon="icons/eview16/profil_table.gif"
              id="org.kalypso.model.wspm.ui.view.table.TableView"
              name="%org.kalypso.model.wspm.ui.view.table.TableView"/>
        <view
              category="org.kalypso.model.wspm.profil.view.category"
              class="org.kalypso.model.wspm.ui.view.chart.ChartView"
              icon="icons/eview16/profil_table.gif"
              id="org.kalypso.model.wspm.ui.view.chart.ChartView"
              name="%org.kalypso.model.wspm.ui.view.chart.ChartView"/>
     </extension>
   
   
   <extension
         id="profilemarker"
         name="Profil Validierung"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="false"/>
   </extension>
   <extension
           point="org.eclipse.ui.preferencePages">
        <page
              class="org.kalypso.model.wspm.ui.preferences.ProfileditorPreferencePage"
              name="%org.kalypso.model.wspm.ui.preferences.ProfileditorPreferencePage"
              id="org.kalypso.model.wspm.ui.preferences.ProfileditorPreferencePage"/>
        <page
              category="org.kalypso.model.wspm.ui.preferences.ProfileditorPreferencePage"
              class="org.kalypso.model.wspm.ui.preferences.ValidatorPreferencePage"
              id="org.kalypso.model.wspm.ui.preferences.ValidatorPreferencePage"
              name="%org.kalypso.model.wspm.ui.preferences.ValidatorPreferencePage"/>
     </extension>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer class="org.kalypso.model.wspm.ui.preferences.PreferenceInitializer"/>
     </extension>
     <extension
           point="org.kalypso.model.wspm.ui.profilPointsSource">
        <profilPointsSource
              class="org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.FilePointsSource"
              description="%org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.FilePointsSource.description"
              id="org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.FilePointsSource"
              label="%org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.FilePointsSource"/>
        <profilPointsSource
              class="org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.SinglePointsSource"
              description="%org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.SinglePointsSource.description"
              id="org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.SinglePointsSource"
              label="%org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.SinglePointsSource"/>
     </extension>
     <extension
           point="org.kalypso.model.wspm.ui.profilPointsTarget">
        <profilPointTarget
              class="org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilStartTarget"
              description="%org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilStartTarget.description"
              id="org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilStartTarget"
              label="%org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilStartTarget"/>
        <profilPointTarget
              class="org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilMidTarget"
              description="%org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilMidTarget.description"
              id="org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilMidTarget"
              label="%org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilMidTarget"/>
        <profilPointTarget
              class="org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilEndTarget"
              description="%org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilEndTarget.description"
              id="org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilEndTarget"
              label="%org.kalypso.model.wspm.ui.profil.wizard.pointsInsert.impl.ProfilEndTarget"/>
     </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.kalypso.ui.editor.mapeditor.GisMapEditor"
            class="org.kalypso.model.wspm.ui.adapter.ProfileProviderAdapterFactory">
         <adapter type="org.kalypso.model.wspm.ui.profil.view.IProfilProvider2"/>
      </factory>
      <factory
            adaptableType="org.kalypso.ui.editor.gistableeditor.GisTableEditor"
            class="org.kalypso.model.wspm.ui.adapter.ProfileProviderAdapterFactory">
         <adapter type="org.kalypso.model.wspm.ui.profil.view.IProfilProvider2"/>
      </factory>
      <factory
            adaptableType="org.kalypso.ui.editor.gmleditor.ui.GmlEditor"
            class="org.kalypso.model.wspm.ui.adapter.ProfileProviderAdapterFactory">
         <adapter type="org.kalypso.model.wspm.ui.profil.view.IProfilProvider2"/>
      </factory>
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.kalypso.model.wspm.ui.objectContribution.showProfile"
            objectClass="org.kalypsodeegree.model.feature.Feature">
         <filter
               name="featureType"
               value="org.kalypso.model.wspm#ProfileReachSegment;org.kalypso.model.wspmprofile#Profile"/>
         <action
               class="org.kalypso.model.wspm.ui.action.ShowProfileAction"
               icon="icons/obj16/openProfile.gif"
               id="org.kalypso.model.wspm.ui.action.ShowProfileAction"
               label="%org.kalypso.model.wspm.ui.action.ShowProfileAction"
               tooltip="%org.kalypso.model.wspm.ui.action.ShowProfileAction.description"/>
      </objectContribution>
   </extension>
     <extension
           point="org.eclipse.ui.popupMenus">
        <viewerContribution
              id="com.bce.profil.eclipse.view.table.popup"
              targetID="org.kalypso.model.wspm.ui.view.table.TableView">
           <action
                 class="org.kalypso.model.wspm.ui.view.table.DeletePointDelegate"
                 enablesFor="+"
                 id="com.bce.profil.eclipse.view.table.deletepoint"
                 label="%com.bce.profil.eclipse.view.table.deletepoint"
                 menubarPath="additions"
                 tooltip="%com.bce.profil.eclipse.view.table.deletepoint.tooltip"/>
           <action
                 class="org.kalypso.model.wspm.ui.view.table.InsertPointDelegate"
                 enablesFor="?"
                 id="com.bce.profil.eclipse.view.table.insertpoint"
                 label="%com.bce.profil.eclipse.view.table.insertpoint"
                 menubarPath="additions"
                 tooltip="%com.bce.profil.eclipse.view.table.insertpoint.tooltip"/>
           <action
                 class="org.kalypso.model.wspm.ui.view.table.FillValuesDelegate"
                 enablesFor="+"
                 id="com.bce.profil.eclipse.view.table.fillvalues"
                 label="%com.bce.profil.eclipse.view.table.fillvalues"
                 menubarPath="additions"
                 tooltip="%com.bce.profil.eclipse.view.table.fillvalues.tooltip"/>
        </viewerContribution>
        <objectContribution
              adaptable="true"
              id="com.bce.profil.objectControbution.profilLayer"
              objectClass="com.bce.profil.ui.view.chart.layer.IProfilChartLayer">
           <action
                 class="org.kalypso.model.wspm.ui.action.ProfilLayerActionDelegate"
                 enablesFor="1"
                 icon="icons/elcl16/profil_legend_props.gif"
                 id="com.bce.profil.app.profilLayerContributions.showProperties"
                 label="%com.bce.profil.app.profilLayerContributions.showProperties"
                 menubarPath="additions"
                 style="push"
                 tooltip="%com.bce.profil.app.profilLayerContributions.showProperties.tooltip"/>
        </objectContribution>
     </extension>
     <extension
           point="org.kalypso.core.catalogContribution">
        <catalogContribution
              class="org.kalypso.model.wspm.ui.catalog.WspmFeatureTypeCatalogContribution"
              name="Wspm Style Catalog"/>
     </extension>
     <extension
           point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator class="org.kalypso.model.wspm.ui.profil.validation.ProfilMarkerResolutionGenerator"/>
     </extension>
     <extension
           point="org.eclipse.ui.newWizards">
        <category
              id="org.kalypso.wspm.ui"
              name="%org.kalypso.wspm.ui"
              parentCategory="org.kalypso.ui.newwizards.kalypso"/>
     </extension>
     <extension
           point="org.eclipse.ui.perspectives">
        <perspective
              class="org.kalypso.model.wspm.ui.product.WspmPerspectiveFactory"
              fixed="false"
              icon="icons/obj16/wspmPerspective.gif"
              id="org.kalypso.model.wspm.ui.product.WspmPerspectiveFactory"
              name="%org.kalypso.model.wspm.ui.product.WspmPerspectiveFactory"/>
        <perspective
              class="org.kalypso.model.wspm.ui.product.ProfileditorPerspective"
              icon="icons/eview16/wsp16.gif"
              id="org.kalypso.model.wspm.ui.product.ProfileditorPerspective"
              name="%org.kalypso.model.wspm.ui.product.ProfileditorPerspective"/>
     </extension>
</plugin>
