<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.kalypso.model.wspm.ui.objectContribution.showProfile"
            objectClass="org.kalypsodeegree.model.feature.Feature">
         <filter
               name="featureType"
               value="org.kalypso.model.wspm#ProfileReachSegment"/>
         <action
               class="org.kalypso.model.wspm.ui.action.ShowProfileAction"
               id="org.kalypso.model.wspm.ui.action.ShowProfileAction"
               label="Profil anzeigen"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.kalypso.ui.editor.mapeditor.GisMapEditor"
            class="org.kalypso.model.wspm.ui.adapter.ProfileProviderAdapterFactory">
         <adapter type="org.kalypso.model.wspm.ui.profil.view.IProfilProvider2"/>
      </factory>
      <factory
            adaptableType="org.kalypso.ui.editor.gistableeditor.GisTableEditor"
            class="org.kalypso.model.wspm.ui.adapter.ProfileProviderAdapterFactory">
         <adapter type="org.kalypso.model.wspm.ui.profil.view.IProfilProvider2"/>
      </factory>
      <factory
            adaptableType="org.kalypso.ui.editor.gmleditor.ui.GmlEditor"
            class="org.kalypso.model.wspm.ui.adapter.ProfileProviderAdapterFactory">
         <adapter type="org.kalypso.model.wspm.ui.profil.view.IProfilProvider2"/>
      </factory>
   </extension>

</plugin>
