<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="validatorrule" name="validatorrule" schema="schema/validatorrule.exsd"/>
   <extension-point id="profiletype" name="profiletype" schema="schema/profiletype.exsd"/>
   <extension-point id="profilserializer" name="profilserializer" schema="schema/profilserializer.exsd"/>
   <extension-point id="profileFeatureProvider" name="profileFeatureProvider" schema="schema/profileFeatureProvider.exsd"/>
   <extension-point id="profilePointFilter" name="profilePointFilter" schema="schema/profilePointFilter.exsd"/>
   <extension-point id="reparatorrule" name="reparatorrule" schema="schema/reparatorrule.exsd"/>
   <extension-point id="profilPointMarkerProvider" name="profilPointMarkerProvider" schema="schema/profilPointMarkerProvider.exsd"/>
   <extension-point id="profilPointPropertyProvider" name="rofilPointPropertyProvider" schema="schema/profilPointPropertyProvider.exsd"/>
   <extension-point id="profileObjectProvider" name="profileObjectProvider" schema="schema/profileObjectProvider.exsd"/>
   <extension-point id="profilbuilder" name="ProfilBuilder" schema="schema/profilbuilder.exsd"/>
   
</plugin>
