<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.core"
   name="KalypsoCore Plug-in"
   version="0.0.5"
   provider-name="org.kalypso">

   <runtime>
      <library name="lib/jaxb-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxb-impl.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxb-libs.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxb-xjc.jar">
         <export name="*"/>
      </library>
      <library name="lib/jax-qname.jar">
         <export name="*"/>
      </library>
      <library name="lib/namespace.jar">
         <export name="*"/>
      </library>
      <library name="lib/relaxngDatatype.jar">
         <export name="*"/>
      </library>
      <library name="lib/xercesImpl.jar">
         <export name="*"/>
      </library>
      <library name="lib/xsdlib.jar">
         <export name="*"/>
      </library>
      <library name="lib/dom.jar">
         <export name="*"/>
      </library>
      <library name="lib/junit.jar">
         <export name="*"/>
      </library>
      <library name="lib/coreBinding.jar">
         <export name="*"/>
      </library>
      <library name="kalypsocore.jar">
         <export name="*"/>
         <packages prefixes="org.kalypso"/>
      </library>
      <library name="lib/ant.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.kalypso.deegree"/>
      <import plugin="org.kalypso.util"/>
      <import plugin="org.kalypso.repository"/>
   </requires>

   <extension-point id="nativeObsAdapter" name="Adapter für native Zeitreihen" schema="schema/nativeObsAdapter.exsd"/>

   <extension
         point="org.kalypso.core.nativeObsAdapter">
      <adapter
            label="Niederschlag (grap)"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="N"/>
      <adapter
            label="Niederschlag (grap)"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="N"/>
      <adapter
            label="Abfluss (grap)"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="Q"/>
      <adapter
            label="Temperatur (grap)"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="T"/>
      <adapter
            label="Volumen (grap)"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="V"/>
      <adapter
            label="Wasserstand (grap)"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="W"/>
      <adapter
            label="Verdunstung (grap)"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="E"/>
   </extension>

</plugin>
