<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="calcJob" name="calcJob" schema="schema/org.kalypso.services.calculation.local.calcJob.exsd"/>
   <extension
         point="org.kalypso.ui.calculationService">
      <factory class="org.kalypso.services.calculation.local.PluggableCalculationServiceFactory"/>
   </extension>

</plugin>
