<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.simulation.core.simulation">
      <simulation
            simulationClass="org.kalypso.robotron.adapter.RobotronRightsProvider"
            typeID="hwvUserService1.0">
      </simulation>
      <simulation
            simulationClass="org.kalypso.robotron.adapter.RobotronMetaDocCommiter"
            typeID="hwvDocumentService1.0">
      </simulation>
   </extension>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.robotron.UrlCatalogRobotron"
            id="org.kalypso.robotron.UrlCatalogRobotron">
      </catalog>
   </extension>
    
</plugin>
