<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="functionProperty" name="functionProperty" schema="schema/functionProperty.exsd"/>

     <extension
         id="org.kalypso.deegree.catalog"
         name="UrlCatalog"
         point="org.kalypso.contribs.java.urlCatalog">
        <catalog
              class="org.kalypsodeegree_impl.gml.schema.schemata.UrlCatalogOGC"
              id="org.kalypso.deegree.catalog.URLCatalogOGC"/>
      <catalog
            class="org.kalypsodeegree_impl.gml.schema.schemata.DeegreeUrlCatalog"
            id="org.kalypso.deegree.catalog.deegreeUrlCatalog"/>
      <catalog
            class="org.kalypsodeegree_impl.gml.schema.schemata.UrlCatalogUpdateObservationMapping"
            id="org.kalypso.deegree.catalog.urlCatalogUpdateOpservatsionMapping"/>
   </extension>
     <extension
           point="org.kalypso.deegree.functionProperty">
        <function
              class="org.kalypsodeegree_impl.model.feature.function.ConstantFeaturePropertyFunction"
              id="org.kalypso.gmlschema.functionProperty.const"
              name="Constant"/>
        <function
              class="org.kalypsodeegree_impl.model.feature.function.CopyFeaturePropertyFunction"
              id="org.kalypso.gml.functionProperty.copyProperty"
              name="Copy Feature Property Function"/>
     </extension>

</plugin>
