<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="backupdeegree"
   name="backupdeegree"
   version="1.0.0"
   provider-name="org.kalypso">
   <runtime>
      <library name="lib/acme/acme.jar">
         <export name="*"/>
      </library>
      <library name="lib/batik/lib/batik-awt-util.jar">
         <export name="*"/>
      </library>
      <library name="lib/batik/lib/batik-css.jar">
         <export name="*"/>
      </library>
      <library name="lib/batik/lib/batik-dom.jar">
         <export name="*"/>
      </library>
      <library name="lib/batik/lib/batik-svg-dom.jar">
         <export name="*"/>
      </library>
      <library name="lib/batik/lib/batik-svggen.jar">
         <export name="*"/>
      </library>
      <library name="lib/batik/lib/batik-util.jar">
         <export name="*"/>
      </library>
      <library name="lib/batik/lib/batik-xml.jar">
         <export name="*"/>
      </library>
      <library name="lib/ecw/ermapper.jar">
         <export name="*"/>
      </library>
      <library name="lib/ecw/ermapperdoc.jar">
         <export name="*"/>
      </library>
      <library name="lib/esri/jsde82_sdk.jar">
         <export name="*"/>
      </library>
      <library name="lib/jai/jai_codec.jar">
         <export name="*"/>
      </library>
      <library name="lib/jai/jai_core.jar">
         <export name="*"/>
      </library>
      <library name="lib/jai/mlibwrapper_jai.jar">
         <export name="*"/>
      </library>
      <library name="lib/java3d/j3dcore.jar">
         <export name="*"/>
      </library>
      <library name="lib/java3d/j3dutils.jar">
         <export name="*"/>
      </library>
      <library name="lib/java3d/vecmath.jar">
         <export name="*"/>
      </library>
      <library name="lib/jts/jts.jar">
         <export name="*"/>
      </library>
      <library name="lib/mail/mail.jar">
         <export name="*"/>
      </library>
      <library name="lib/mysql/mysql-connector-java-3.0.8-stable-bin.jar">
         <export name="*"/>
      </library>
      <library name="lib/oracle/ojdbc14.jar">
         <export name="*"/>
      </library>
      <library name="lib/oracle/sdoapi.jar">
         <export name="*"/>
      </library>
      <library name="lib/postgis/pg73jdbc3.jar">
         <export name="*"/>
      </library>
      <library name="lib/postgis/postgis.jar">
         <export name="*"/>
      </library>
      <library name="lib/servlet/jsdk2.3.jar">
         <export name="*"/>
      </library>
      <library name="kalypsodeegree.jar">
         <export name="*"/>
      </library>
      <library name="lib/servlet/servlet.jar">
         <export name="*"/>
      </library>
   </runtime>

</plugin>
