<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="kalypsomodelapplication"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="etc/launchericons/icon_16_32.bmp">
         <run class="org.kalypso.model.product.application.KalypsoModelApplication"/>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.kalypso.model.product.kalypsomodelapplication"
            name="%product.name">
         <property
               name="aboutImage"
               value="etc/aboutKalypso.gif"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="windowImages"
               value="etc/applicationicons/icon_16.gif,etc/applicationicons/icon_32.gif,etc/applicationicons/icon_48.gif,etc/applicationicons/icon_64.gif,etc/applicationicons/icon_128.gif"/>
         <property
               name="startupMessageRect"
               value="4,200,390,15"/>
         <property
               name="startupForegroundColor"
               value="000000"/>
         <property
               name="appName"
               value="Kalypso">
         </property>
         <property
               name="startupProgressRect"
               value="0,215,400,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.kalypso.model.product.application.NavigatorRoot"
            id="org.kalypso.model.product.application.NavigatorRoot">
      </factory>
   </extension> 
 <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.kalypso.model.product.view.KalypsoWelcomePage"
            icon="etc/applicationicons/icon_16.gif"
            id="org.kalypso.model.product.introID">
      </intro>
      <introProductBinding
            introId="org.kalypso.model.product.introID"
            productId="org.kalypso.model.product.product">
      </introProductBinding>
   </extension>
   
    <extension
          point="org.eclipse.ui.navigator.viewer">
       <viewer
             viewerId="org.eclipse.ui.views.ResourceNavigator">
       </viewer>
       <viewerContentBinding
             viewerId="org.eclipse.ui.views.ResourceNavigator">
          <includes>
             <contentExtension
                   pattern="org.eclipse.ui.navigator.resourceContent">
             </contentExtension>
             <contentExtension
                   pattern="net.videodb.navigator.filters.*">
             </contentExtension>
          </includes>
       </viewerContentBinding>
       <viewerActionBinding
             viewerId="org.eclipse.ui.views.ResourceNavigator">
          <includes>
             <actionExtension
                   pattern="org.eclipse.ui.navigator.resources.*">
             </actionExtension>
             <actionExtension
                   pattern="org.eclipse.ui.navigator.resources.NewActions">
             </actionExtension>
             <actionExtension
                   pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
             </actionExtension>
          </includes>
       </viewerActionBinding>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="org.kalypso.model.product.help.ReportErrorHandler"
             description="%command.description"
             id="org.kalypso.model.product.reportErrorCommand"
             name="%command.name">
       </command>
    </extension>



   <extension point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="toolbar:org.eclipse.ui.main.toolbar">
           <toolbar
                 id="org.kalypso.model.product.toolbar"
                 label="%toolbar.label">
              <command
                    commandId="org.eclipse.ui.help.aboutAction"
                    icon="icons/about.gif"
                    style="push">
              </command>
           </toolbar>
        </menuContribution>
        <menuContribution
              allPopups="false"
              locationURI="menu:help?after=group.tools">
           <command
                 commandId="org.kalypso.model.product.reportErrorCommand"
                 style="push">
           </command>
        </menuContribution>
    </extension>
  

</plugin>
