<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="kalypsomodelapplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.kalypso.model.application.KalypsoModelApplication"/>
      </application>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.kalypso.model.product.kalypsomodelapplication"
            name="Kalypso Simulation Platform">
         <property
               name="aboutImage"
               value="etc/aboutKalypso.gif"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="windowImages"
               value="etc/kalypso16.gif"/>
         <property
               name="startupMessageRect"
               value="0,190,400,20"/>
         <property
               name="startupForegroundColor"
               value="000000"/>
         <property
               name="startupProgressRect"
               value="0,200,400,20"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="etc/kalypso16.gif"
            id="org.kalypso.model.product.introID">
      </intro>
      <introProductBinding
            introId="org.kalypso.model.product.introID"
            productId="org.kalypso.model.product.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.kalypso.model.product.introID"
            content="content/introContent.xml"
            id="org.kalypso.model.product.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
