/* Shared style applied to all pages */
/* trick to get desired scroll bar behavior on all browsers */
html {
	overflow:auto;
	border:0px;
	height:100%;
	}


body {
	margin:20px 20px 20px 20px;
	font-family:Tahoma;
	font-size: 12px;
	color:#fff;
	background:#369;
}

h1 {
	text-align:left;
	font-size: 26px;
	font-weight:bold;
	color:#fff;
	}

h2{
	text-align:left;
	font-size: 18px;
	font-weight:normal;
	color:#fff;
}


div.colorbox {
	margin-bottom:20px;
	padding:10px 10px 10px 10px;
	width:600px;
	font-size: 14px;
	line-height:120%;
	border:1px solid #333;
	background:#7fb299;
}

span.titleImage  {
	float:left;
	width:162px;
	height:92px;
	padding:0;
	margin:0 5px 5px 0;
}

span.titleImage img  {
	border:1px solid #fff;
	background:#369;
}


a {
	padding:3px 0 3px 0;
	margin:0 0 5px 0;
	color:#fff;
	font-size:14px;
	text-decoration:none;
}

a.newProject span{
	vertical-align:top;
}

a:hover{
	color:#ccc;
}

a.newProject img {
	height:16px;
	margin:0 10px 0 0;
	border-top:2px solid #fff;
	border-left:2px solid #fff;
	border-right:2px solid #999;
	border-bottom:2px solid #999;
}

a.newProject:hover img {
	height:16px;
	margin:0 10px 0 0;
	border-top:2px solid #999;
	border-left:2px solid #999;
	border-right:2px solid #fff;
	border-bottom:2px solid #fff;
}


div.projectActions {
	padding:10px 10px 10px 10px;
	border:1px solid #fff;
	width:600px;
}

table{
	padding:0 0 5px 0;
}

table tr td{
	padding:3px 3px 3px 3px;
	padding:3px 3px 3px 3px;
	vertical-align:middle;
}

table tr td a img{
	height:16px;
	margin:0 10px 0 0;
	background:#fff;
	border-top:2px solid #fff;
	border-left:2px solid #fff;
	border-right:2px solid #999;
	border-bottom:2px solid #999;
}

table tr td a:hover img{
	height:16px;
	margin:0 10px 0 0;
	background:#fff;
	border-top:2px solid #999;
	border-left:2px solid #999;
	border-right:2px solid #fff;
	border-bottom:2px solid #fff;
}

table tr td a span{
	vertical-align:top;
}

table tr td a.projectTableLink{
}

table tr td a.projectTableLinkActive{
	font-weight:bold;
}
