<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.kalypso.contribs.eclipseplatform.projectTemplate">
      <project
            category="org.kalypso.risk.projectTemplate"
            data="/"
            description="%risk.template.description"
            icon="etc/RiskProjectLogo.gif"
            label="%risk.template.label">
      </project>
   </extension>
</plugin>
