<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.simulation.core.simulation">
      <simulation
            typeID="org.kalypso.model.elbepolte"
            catalogClass="org.kalypso.lhwzsachsen.elbepolte.ElbePolteUrlCatalog"
            simulationClass="org.kalypso.lhwzsachsen.elbepolte.ElbePolteCalcJob"/>
      <simulation
            typeID="org.kalypso.model.zwg"
            catalogClass="org.kalypso.lhwzsachsen.zwischengebiete.ZwischengebieteUrlCatalog"
            simulationClass="org.kalypso.lhwzsachsen.zwischengebiete.ZwischengebieteCalcJob"/>
   </extension>
   <extension
         point="org.kalypso.core.nativeObsAdapter">
      <adapter
            label="ElbePolte-Import (Messwerte)"
            class="org.kalypso.lhwzsachsen.elbepolte.NativeObservationAdapterElbePolte"
            axisType="Q"/>
      <adapter
            label="ElbePolte-Import (Modellwerte)"
            class="org.kalypso.lhwzsachsen.elbepolte.NativeObservationAdapterElbePolte"
            axisType="Q"/>
   </extension>
   <extension
         point="org.kalypso.core.featureVisitor">
      <visitor
            class="org.kalypso.lhwzsachsen.elbepolte.visitors.ImportParFileVisitor"
            id="org.kalypso.lhwzsachsen.elbepolte.ImportParFileVisitor"/>
   </extension>
</plugin>
