<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.views">
      <view
            class="org.kalypso.featureview.views.FeatureView"
            icon="icons/obj16/feature_view.gif"
            category="org.kalypso.ui.kalypso"
            name="%org.kalypso.featureview.views.FeatureView.name"
            id="org.kalypso.featureview.views.FeatureView"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.kalypso.featureview.views.FeatureView"
            id="org.kalypso.featureview.actions">
         <action
               disabledIcon="icons/dtool16/saveas_template.gif"
               label="%org.kalypso.featureview.saveAsTemplateAction.name"
               tooltip="%org.kalypso.featureview.saveAsTemplateAction.tooltip"
               icon="icons/etool16/saveas_template.gif"
               class="org.kalypso.featureview.views.actions.SaveAsTemplateActionDelegate"
               style="push"
               menubarPath="additions"
               id="org.kalypso.featureview.saveAsTemplateAction"/>
      </viewContribution>
   </extension>

</plugin>
