<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         id="org.kalypso.risk.project.KalypsoRiskProjectNature"
         name="KalypsoRiskProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.kalypso.risk.project.KalypsoRiskProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.kalypso.afgui.ScenarioHandlingProjectNature">
      </requires-nature>
      <requires-nature
            id="de.renew.workflow.connector.WorkflowProjectNature">
      </requires-nature>
   </extension>
   <extension
         point="de.renew.workflow.model.workflowSystem">
      <workflowSystem
            definition="etc/workflow.xml"
            id="workflowKalypsoRisk"
            name="Workflow Kalypso Risk">
      </workflowSystem>
   </extension>
	<extension
       point="org.eclipse.ui.newWizards">
		<category
            id="org.kalypso.risk.wizard.CreateProject"
            name="%org.kalypso.risk.wizard.CreateProject"
            parentCategory="org.kalypso.ui.newwizards.kalypso"/>
		<wizard
            canFinishEarly="false"
	        category="org.kalypso.ui.newwizards.kalypso/org.kalypso.risk.wizard.CreateProject"
	        class="org.kalypso.risk.project.KalypsoRiskProjectWizard"
	        descriptionImage="etc/RiskProjectLogo.gif"
	        finalPerspective="org.kalypso.kalypso1d2d.pjt.perspective.Perspective"
            hasPages="true"
	        icon="icons/risk_project.gif"
	        id="org.kalypso.risk.project.KalypsoRiskProjectWizard"
	        name="%org.kalypso.risk.project.KalypsoRiskProjectWizard.name"
            project="true">
         <description>
            %org.kalypso.risk.project.KalypsoRiskProjectWizard.description
         </description>
		</wizard>
        <wizard
            canFinishEarly="false"
            category="org.kalypso.ui.newwizards.kalypso/org.kalypso.risk.wizard.CreateProject"
            class="org.kalypso.risk.project.KalypsoRiskDemoProjectWizard"
	        descriptionImage="etc/RiskProjectLogo.gif"
            finalPerspective="org.kalypso.kalypso1d2d.pjt.perspective.Perspective"
            hasPages="true"
            icon="icons/risk_project.gif"
            id="org.kalypso.risk.project.KalypsoRiskDemoProjectWizard"
            name="%org.kalypso.risk.project.KalypsoRiskDemoProjectWizard.name"
            project="true">
         <description>
            %org.kalypso.risk.project.KalypsoRiskDemoProjectWizard.description
         </description>
		</wizard>
        <!-- TODO remove both wizard from plugin.xml
        	They cannot be used from the File-New menu, so this makes no sense.
        	However, the wizards are invoked thorugh the eclipses-extension mechanism (from the handler)
        	so the handlers have to be rewritten first (they should dirdctly instantiate those wozards).
        -->
		<wizard
            class="org.kalypso.risk.model.actions.dataImport.landuse.ImportLanduseWizard"
            icon="icons/risk_project.gif"
            id="org.kalypso.risk.model.actions.dataImport.landuse.ImportLanduseWizard"
            name="ImportLanduseShape"
            project="false"/>
  		<wizard
	        class="org.kalypso.risk.model.actions.dataImport.waterdepth.ImportWaterdepthWizard"
	        icon="icons/risk_project.gif"
	        id="org.kalypso.risk.model.actions.dataImport.waterdepth.ImportWaterdepthWizard"
	        name="ImportWaterlevelRaster"
	        project="false">
        </wizard>
	</extension>
 <extension
       point="org.kalypso.contribs.java.urlCatalog">
    <catalog
          class="org.kalypso.risk.model.schema.KalypsoRiskSchemaCatalog"
          id="org.kalypso.risk.model.schema.KalypsoRiskSchemaCatalog">
    </catalog>
 </extension>
 <extension
       id="org.kalypso.core.adapters"
       name="KalypsoRisk adapter factory"
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.kalypsodeegree.model.feature.Feature"
          class="org.kalypso.risk.model.schema.KalypsoRiskFeatureFactory">
       <adapter type="org.kalypso.risk.model.schema.binding.IRasterizationControlModel"/>
       <adapter type="org.kalypso.risk.model.schema.binding.IVectorDataModel"/>
       <adapter type="org.kalypso.risk.model.schema.binding.IRasterDataModel"/>
       <adapter type="org.kalypso.risk.model.schema.binding.ILanduseClass"/>
       <adapter type="org.kalypso.risk.model.schema.binding.IRiskLanduseStatistic"/>
       <adapter type="org.kalypso.risk.model.schema.binding.ILandusePolygonCollection"/>
       <adapter type="org.kalypso.risk.model.schema.binding.ILandusePolygon"/>
       <adapter type="org.kalypso.risk.model.schema.binding.IAnnualCoverageCollection"/>
       <adapter type="org.kalypso.risk.model.schema.binding.IAssetValueClass"/>
       <adapter
             type="org.kalypso.risk.model.schema.binding.IDamageFunction">
       </adapter>
       <adapter
             type="org.kalypso.risk.model.schema.binding.IAdministrationUnit">
       </adapter>
       <adapter
             type="org.kalypso.risk.model.schema.binding.IRiskZoneDefinition">
       </adapter>
    </factory>
 </extension>
 <extension
       point="org.kalypso.afgui.scenarioData">
    <dataSet
          id="org.kalypso.risk">
       <scenarioDatum
             classKey="org.kalypso.risk.model.schema.binding.IVectorDataModel"
             id="org.kalypso.risk.model.schema.binding.IVectorDataModel"
             modelPath="models/VectorDataModel.gml">
       </scenarioDatum>
       <scenarioDatum
             classKey="org.kalypso.risk.model.schema.binding.IRasterDataModel"
             id="org.kalypso.risk.model.schema.binding.IRasterDataModel"
             modelPath="models/RasterDataModel.gml">
       </scenarioDatum>
       <scenarioDatum
             classKey="org.kalypso.risk.model.schema.binding.IRasterizationControlModel"
             id="org.kalypso.risk.model.schema.binding.IRasterizationControlModel"
             modelPath="models/RasterizationControlModel.gml">
       </scenarioDatum>
    </dataSet>
 </extension>
 <extension
       point="org.kalypso.deegree.functionProperty">
    <function
          class="org.kalypso.risk.model.schema.propertyFunctions.LanduseStylePropertyFunction"
          id="org.kalypso.risk.model.schema.propertyFunctions.LanduseStylePropertyFunction"
          name="LanduseStylePropertyFunction">
    </function>
    <function
          class="org.kalypso.risk.model.schema.propertyFunctions.LanduseClsOrdinalNumberPropertyFunction"
          id="org.kalypso.risk.model.schema.propertyFunctions.LanduseClsOrdinalNumberPropertyFunction"
          name="LanduseClsOrdinalNumberPropertyFunction">
    </function>
    <function
          class="org.kalypso.risk.model.schema.propertyFunctions.PF_LandusePolygon_DamageFunction"
          id="org.kalypso.risk.model.schema.propertyFunctions.PF_LandusePolygon_DamageFunction"
          name="PF_LandusePolygon_DamageFunction">
    </function>
    <function
          class="org.kalypso.risk.model.schema.propertyFunctions.PF_LandusePolygon_AssetValue"
          id="org.kalypso.risk.model.schema.propertyFunctions.PF_LandusePolygon_AssetValue"
          name="PF_LandusePolygon_AssetValue">
    </function>
    <function
          class="org.kalypso.risk.model.schema.propertyFunctions.PF_LandusePolygon_IsUrbanType"
          id="org.kalypso.risk.model.schema.propertyFunctions.PF_LandusePolygon_IsUrbanType"
          name="PF_LandusePolygon_IsUrbanType">
    </function>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <!-- Handlers for workflow.xml, so unknown commandId is ok here. -->
    <handler
          class="org.kalypso.risk.model.actions.specificDamage.SpecificDamageCalculationHandler"
          commandId="http___www.tu-harburg.de_wb_kalypso_risk__DamagePotentialCalculationHandler">
    </handler>
    <handler
          class="org.kalypso.risk.model.actions.riskZonesCalculation.RiskZonesCalculationHandler"
          commandId="http___www.tu-harburg.de_wb_kalypso_risk__RiskZonesCalculationHandler">
    </handler>
    <handler
          class="org.kalypso.risk.model.handlers.WaterdepthCoveragesWidgetHandler"
          commandId="org.kalypso.risk.model.handlers.WaterdepthCoveragesWidgetHandler">
    </handler>
    <handler
          class="org.kalypso.risk.model.handlers.ExportRiskZoneCoveragesWidgetHandler"
          commandId="org.kalypso.risk.model.handlers.ExportRiskZoneCoveragesWidgetHandler">
    </handler>
    <handler
          class="org.kalypso.risk.model.handlers.WaterdepthCollectionsWidgetHandler"
          commandId="org.kalypso.risk.model.handlers.WaterdepthCollectionsWidgetHandler">
    </handler>
    <handler
          class="org.kalypso.risk.model.handlers.ExportSpecificDamageCoveragesWidgetHandler"
          commandId="org.kalypso.risk.model.handlers.ExportSpecificDamageCoveragesWidgetHandler">
    </handler>
 </extension>
 <extension
       point="org.kalypso.core.themeInfo">
    <themeInfo
          class="org.kalypso.risk.plugin.RiskZonesThemeInfo"
          id="org.kalypso.risk.plugin.RiskZonesThemeInfo">
    </themeInfo>
    <themeInfo
          class="org.kalypso.risk.plugin.RasterizedLanduseThemeInfo"
          id="org.kalypso.risk.plugin.RasterizedLanduseThemeInfo">
    </themeInfo>
    <themeInfo
          class="org.kalypso.risk.plugin.DamagePotentialThemeInfo"
          id="org.kalypso.risk.plugin.DamagePotentialThemeInfo">
    </themeInfo>
 </extension>
   <extension
                point="org.kalypso.deegree.functionProperty">
                <function
                    class="org.kalypso.risk.model.schema.propertyFunctions.GetNameFromInscription"
                    id="org.kalypso.risk.model.schema.propertyFunctions.GetNameFromInscription"
                    name="get name from inscription">
                </function>
            </extension>
            <extension
                point="org.kalypso.core.catalogContribution">
                <catalogContribution
                    class="org.kalypso.risk.model.schema.KalypsoRiskCatalogContribution"
                    name="KalypsoRaiskCatalogContribution (Dictionaries)">
                </catalogContribution>
            </extension>
            <extension
                  point="org.eclipse.ui.views">
               <view
                     allowMultiple="false"
                     category="org.kalypso.ui.kalypso"
                     class="org.kalypso.risk.views.RiskStatisticsResultView"
                     icon="icons/risk_project.gif"
                     id="org.kalypso.risk.views.RiskStatisticsResultView"
                     name="%org.kalypso.risk.views.RiskStatisticsResultView.name"
                     restorable="false">
               </view>
            </extension>
            <extension
                  point="org.kalypso.simulation.core.simulation">
               <simulation
                     catalogClass="org.kalypso.risk.model.schema.KalypsoRiskSchemaCatalog"
                     simulationClass="org.kalypso.risk.model.simulation.SimulationKalypsoRisk_SpecificDamageCalculation"
                     typeID="KalypsoRisk_SpecificDamageCalculation">
               </simulation>
               <simulation
                     catalogClass="org.kalypso.risk.model.schema.KalypsoRiskSchemaCatalog"
                     simulationClass="org.kalypso.risk.model.simulation.SimulationKalypsoRisk_RiskZonesCalculation"
                     typeID="KalypsoRisk_RiskZonesCalculation">
               </simulation>
               <simulation
                     catalogClass="org.kalypso.risk.model.schema.KalypsoRiskSchemaCatalog"
                     simulationClass="org.kalypso.risk.model.simulation.SimulationKalypsoRisk_InnundationDifferenceCalculation"
                     typeID="KalypsoRisk_InnundationDifferenceCalculation">
               </simulation>
               <simulation
                     catalogClass="org.kalypso.risk.model.schema.KalypsoRiskSchemaCatalog"
                     simulationClass="org.kalypso.risk.model.simulation.SimulationKalypsoRisk_RiskZonesDifferenceCalculation"
                     typeID="KalypsoRisk_RiskZonesDifferenceCalculation">
               </simulation>
               <simulation
                     simulationClass="org.kalypso.risk.model.simulation.SimulationKalypsoRisk_PLCPreprocessing"
                     typeID="KalypsoRisk_PLCPreprocessing">
               </simulation>
            </extension>
            <extension
                  point="org.kalypso.module.kalypsoModule">
               <module
                     class="org.kalypso.risk.extension.KalypsoRiskModule">
               </module>
            </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.kalypso.ui.preferences.KalypsoPreferencePage"
            class="org.kalypso.risk.preferences.KalypsoRiskPreferencePage"
            id="org.kalypso.risk.preferences.KalypsoRiskPreferencePage"
            name="%org.kalypso.risk.preferences.KalypsoRiskPreferencePage">
      </page>
   </extension>
   <extension
         point="org.kalypso.deegree.featureBinding">
      <feature
            class="org.kalypso.risk.model.schema.binding.AnnualCoverage"
            qname="{http://www.tu-harburg.de/wb/kalypso/risk/schemata/rasterDataModel}AnnualCoverage">
      </feature>
   </extension>
</plugin>
