<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.core.featureVisitor">
      <visitor
            class="org.kalypso.lhwsachsenanhalt.saale.utils.MetGebStdVisitor"
            id="org.kalypso.model.saale.MetGebStdVisitor"/>
   </extension>
   <extension
         point="org.kalypso.simulation.core.simulation">
      <simulation
            catalogClass="org.kalypso.lhwsachsenanhalt.saale.SaaleUrlCatalog"
            simulationClass="org.kalypso.lhwsachsenanhalt.saale.SaaleCalcJob"
            typeID="Saale_SA_V1"/>
   </extension>
</plugin>
