<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.kalypso.dwd.DWDTask"
            library="lib/KalypsoDWDTask.jar"
            name="kalypso.dwdTask"/>
   </extension>
     <extension
           point="org.kalypso.contribs.java.urlCatalog">
        <catalog
              class="org.kalypso.dwd.schema.UrlCatalogDWD"
              id="org.kalypso.dwd.schema.UrlCatalogDWD">
        </catalog>
     </extension>

</plugin>
