<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/observationService"
            class="org.kalypso.services.observation.WSProxyServlet"
            load-on-startup="true">
      </servlet>
   </extension>

   <extension
         id="repository.factories"
         name="repository.factories"
         point="org.kalypso.repository.factories">
      <repository
            factory="org.kalypso.services.observation.client.repository.ObservationServiceRepositoryFactory"
            name="%Extension.repository.factories.timeseriesService">
      </repository>
   </extension>

</plugin>
