<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="KalypsoUIRRMPopupManu"
         name="KalypsoUIRRMPopupManu"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="KalypsoUIRRM.kmContribution"
            objectClass="org.kalypsodeegree.model.feature.Feature">
         <filter
               name="featureType"
               value="http://www.tuhh.de/kalypsoNA#KMChannel"/>
         <action
               class="org.kalypso.ui.rrm.action.KMUpdateAction"
               icon="icons/kmStrang.gif"
               id="KalypsoUIRRM.updateKMParameter"
               label="%KalypsoUIRRM.updateKMParameter.label"
               style="push"
               tooltip="%KalypsoUIRRM.updateKMParameter.tooltip"/>
      </objectContribution>
   </extension>
   <extension
         point="org.kalypso.core.catalogContribution">
      <catalogContribution
            class="org.kalypso.ui.styles.RRMFeatureTypeStyleCatalogContribution"
            name="RRM-Style-Catalog"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.kalypso.ui.newwizards.kalypso/org.kalypso.wizard.rrm"
            class="org.kalypso.ui.rrm.wizards.NewNAAsciiProjectWizard"
            hasPages="true"
            icon="icons/kmStrang.gif"
            id="org.kalypso.ui.rrm.wizards.NewProjectImportAsciiWizard"
            name="NA-Model Projekt aus Ascii File Projekt"
            project="true"/>
   </extension>
   <extension
         point="org.kalypso.afgui.kalypsoModule">
    <module
            module="org.kalypso.ui.rrm.extension.KalypsoModuleRRM">
      </module>
   </extension>
   
   
  <!-- Commands for the map outline -->
	<extension point="org.eclipse.ui.commands">
		<command categoryId="org.kalypso.ui.map.outline.category" id="org.kalypso.ui.map.outline.command.RRMImportLanduse" name="Import Landuss"/>
	</extension>

	 <extension  point="org.eclipse.ui.commandImages">
	    <image commandId="org.kalypso.ui.map.outline.command.RRMImportLanduse" icon="icons/landuseImport.gif"/>
	 </extension>

	<extension point="org.eclipse.ui.handlers">
		<handler commandId="org.kalypso.ui.map.outline.command.RRMImportLanduse" class="org.kalypso.ui.rrm.action.RRMImportLanduseHandler">
			<activeWhen>
				<reference definitionId="org.kalypso.model.wspm.ui.definition.oneLanduseThemeSelected"/>
			</activeWhen>
		</handler>
	</extension>

	<extension point="org.eclipse.ui.menus">
   		<menuContribution locationURI="popup:org.kalypso.map.outline.GisMapEditor?after=additions">
			<command commandId="org.kalypso.ui.map.outline.command.RRMImportLanduse" style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.kalypso.model.wspm.ui.definition.oneLanduseThemeSelected"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.kalypso.model.wspm.ui.definition.oneLanduseThemeSelected">
			<with variable="selection">
				<and>
					<count value="1"/>
					<iterate ifEmpty="false" operator="and">
						<test property="org.kalypso.ui.test.theme.qname" value="{http://sourceforge.kalypso.org/schemata/hydrology/landuse}Landuse"/>
					</iterate>
				</and>
			</with>
		</definition>
	</extension>
 
</plugin>
