<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.kalypso.contribs.eclipseplatform.projectTemplate">
      <project
            category="org.kalypso.model.wspm.tuhh.demoProjects"
            data="etc/demos/WspmDemo.zip"
            description="Ein einfaches Beispielprojekt bestehend aus einem Strang ohne Bauwerke."
            label="WSPM Demo Projekt"
            projectName="WSPMDemo">
      </project>
      <project
            category="org.kalypso.model.flood.demoProject"
            data="etc/demos/FloodDemo.zip"
            description="Ein einfaches Beispielprojekt, basierend auf den Ergebnissen des WSPMDemo Beispielprojekts."
            label="FLOOD Demo Projekt"
            projectName="FloodDemo">
      </project>
   </extension>

</plugin>
