<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.contribs.eclipsercp"
   name="EclipseRCPContributions Plug-in"
   version="0.0.1"
   provider-name="kalypso.org"
   class="org.kalypso.contribs.eclipse.EclipseRCPContributionsPlugin">

   <runtime>
      <library name="EclipseRCPContributions.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime" export="true"/>
      <import plugin="org.eclipse.jface" export="true"/>
      <import plugin="org.eclipse.swt" export="true"/>
      <import plugin="org.eclipse.ui" export="true"/>
      <import plugin="org.kalypso.contribs.java" export="true"/>
   </requires>

</plugin>
