<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.kalypso.wizard.rrm"
            name="%Category.name"
            parentCategory="org.kalypso.ui.newwizards.kalypso"/>
      <wizard
            category="org.kalypso.ui.newwizards.kalypso/org.kalypso.wizard.rrm"
            class="org.kalypso.wizard.KalypsoNAProjectWizard"
            icon="icons/kalypso16.gif"
            id="org.kalypso.wizard.KalypsoNAProjectWizard"
            name="%NewWizard.name"
            project="true"/>
   </extension>

</plugin>
