<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.model.wspm.core.profilserializer">
      <source
            class="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSource"
            extension="prf"
            id="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSource"
            name="PrfSource"/>
      <sink
            class="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSink"
            extension="prf"
            id="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSink"
            name="%org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSink"/>
      <sink
            class="org.kalypso.model.wspm.tuhh.core.wspwin.strang.LngSink"
            extension="lng"
            id="org.kalypso.model.wspm.tuhh.core.wspwin.lng.LngSink"
            name="%org.kalypso.model.wspm.tuhh.core.wspwin.lng.LngSink">
      </sink>
      <sink
            class="org.kalypso.model.wspm.tuhh.core.profile.CsvSink"
            extension="csv"
            id="org.kalypso.model.wspm.tuhh.core.profile.CsvSink"
            name="%org.kalypso.model.wspm.tuhh.core.profile.CsvSink">
      </sink>
      <sink
            class="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSink"
            extension="DIRECTORY_FILTER_SUFFIX"
            id="org.kalypso.model.wspm.tuhh.core.wspwin.prf.MultiPrfSink"
            name="%org.kalypso.model.wspm.tuhh.core.wspwin.prf.MultiPrfSink">
      </sink>
   </extension>
   <extension
         point="org.kalypso.model.wspm.core.profilePointFilter">
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.VorlandlinksProfilePointFilter"
            description="%org.kalypso.model.wspm.tuhh.core.profile.VorlandlinksProfilePointFilter.description"
            id="org.kalypso.model.wspm.tuhh.core.profile.VorlandlinksProfilePointFilter"
            name="%org.kalypso.model.wspm.tuhh.core.profile.VorlandlinksProfilePointFilter"/>
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.FlussschlauchProfilePointFilter"
            description="%org.kalypso.model.wspm.tuhh.core.profile.FlussschlauchProfilePointFilter.description"
            id="org.kalypso.model.wspm.tuhh.core.profile.FlussschlauchProfilePointFilter"
            name="%org.kalypso.model.wspm.tuhh.core.profile.FlussschlauchProfilePointFilter">
      </filter>
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.VorlandrechtsProfilePointFilter"
            description="%org.kalypso.model.wspm.tuhh.core.profile.VorlandrechtsProfilePointFilter.description"
            id="org.kalypso.model.wspm.tuhh.core.profile.VorlandrechtsProfilePointFilter"
            name="%org.kalypso.model.wspm.tuhh.core.profile.VorlandrechtsProfilePointFilter">
      </filter>
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.SelectedProfilePointFilter"
            description="%org.kalypso.model.wspm.tuhh.core.profile.SelectedProfilePointFilter.description"
            id="org.kalypso.model.wspm.tuhh.core.profile.SelectedProfilePointFilter"
            name="%org.kalypso.model.wspm.tuhh.core.profile.SelectedProfilePointFilter">
      </filter>
   </extension>
   <extension
         point="org.kalypso.model.wspm.core.profilPointMarkerProvider">
      <pointMarkerProvider
            id="org.kalypso.model.wspm.tuhh.core.profile.DeviderProvider"
            profiletype="org.kalypso.model.wspm.tuhh.profiletype"
            provider="org.kalypso.model.wspm.tuhh.core.profile.DeviderProvider"/>
   </extension>
    <extension
         point="org.kalypso.model.wspm.core.profiletype">
      <profiletype
            class="org.kalypso.model.wspm.tuhh.core.profile.PointPropertyProviderTUHH"
            description="%org.kalypso.model.wspm.tuhh.profiletype.description"
            id="org.kalypso.model.wspm.tuhh.profiletype"
            name="%org.kalypso.model.wspm.tuhh.profiletype">
      </profiletype>
   </extension>
   <extension
         point="org.kalypso.contribs.eclipseplatform.projectTemplate">
      <project
            data="etc/projectTemplate.zip"
            description="%org.kalypso.model.wspm.tuhh.projectTemplate.description"
            label="%org.kalypso.model.wspm.tuhh.projectTemplate"
            projectName=""
            category="org.kalypso.model.wspm.tuhh.projectTemplate">
      </project>
   </extension>

</plugin>
