<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.model.wspm.core.profilserializer">
      <source
            class="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSource"
            extension="prf"
            id="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSource"
            name="PrfSource"/>
      <sink
            class="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSink"
            extension="prf"
            id="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSink"
            name="%org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSink"/>
      <sink
            class="org.kalypso.model.wspm.tuhh.core.wspwin.prf.LngSink"
            extension="lng"
            id="org.kalypso.model.wspm.tuhh.core.wspwin.lng.LngSink"
            name="%org.kalypso.model.wspm.tuhh.core.wspwin.lng.LngSink">
      </sink>
      <sink
            class="org.kalypso.model.wspm.tuhh.core.wspwin.prf.PrfSink"
            extension="DIRECTORY_FILTER_SUFFIX"
            id="org.kalypso.model.wspm.tuhh.core.wspwin.prf.MultiPrfSink"
            name="%org.kalypso.model.wspm.tuhh.core.wspwin.prf.MultiPrfSink">
      </sink>
   </extension>
   <extension
         point="org.kalypso.model.wspm.core.profilePointFilter">
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.pointfilter.VorlandlinksProfilePointFilter"
            description="%org.kalypso.model.wspm.tuhh.core.profile.VorlandlinksProfilePointFilter.description"
            id="org.kalypso.model.wspm.tuhh.core.profile.VorlandlinksProfilePointFilter"
            name="%org.kalypso.model.wspm.tuhh.core.profile.VorlandlinksProfilePointFilter"/>
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.pointfilter.BvLinksProfilePointFilter"
            description="Profilpunkte der linken Böschung (zwischen Trennfläche und Bordvollpunkt)"
            id="org.kalypso.model.wspm.tuhh.core.profile.pointfilter.BvLinksProfilePointFilter"
            name="%filter.name">
      </filter>
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.pointfilter.FlussschlauchProfilePointFilter"
            description="%org.kalypso.model.wspm.tuhh.core.profile.FlussschlauchProfilePointFilter.description"
            id="org.kalypso.model.wspm.tuhh.core.profile.FlussschlauchProfilePointFilter"
            name="%org.kalypso.model.wspm.tuhh.core.profile.FlussschlauchProfilePointFilter">
      </filter>
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.pointfilter.BvRechtsProfilePointFilter"
            description="Profilpunkte der rechten Böschung (zwischen Trennfläche und Bordvollpunkt)"
            id="org.kalypso.model.wspm.tuhh.core.profile.pointfilter.BvRechtsProfilePointFilter"
            name="%filter.name.0">
      </filter>
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.pointfilter.VorlandrechtsProfilePointFilter"
            description="%org.kalypso.model.wspm.tuhh.core.profile.VorlandrechtsProfilePointFilter.description"
            id="org.kalypso.model.wspm.tuhh.core.profile.VorlandrechtsProfilePointFilter"
            name="%org.kalypso.model.wspm.tuhh.core.profile.VorlandrechtsProfilePointFilter">
      </filter>
      <filter
            class="org.kalypso.model.wspm.tuhh.core.profile.pointfilter.LastPointProfilePointFilter"
            description="The last relevant point of this profile. This filter is usefull to set the roughness to the last point, as Kalypso-1d.exe needs this."
            id="org.kalypso.model.wspm.tuhh.core.profile.pointfilter.LastPointProfilePointFilter"
            name="%filter.name.1"
            usageHint="section">
      </filter>
   </extension>
   <extension
         point="org.kalypso.model.wspm.core.profilPointMarkerProvider">
      <pointMarkerProvider
            id="org.kalypso.model.wspm.tuhh.core.profile.DeviderProvider"
            profiletype="org.kalypso.model.wspm.tuhh.profiletype"
            provider="org.kalypso.model.wspm.tuhh.core.profile.DeviderProvider"/>
   </extension>
    <extension
         point="org.kalypso.model.wspm.core.profiletype">
      <profiletype
            class="org.kalypso.model.wspm.tuhh.core.profile.PointPropertyProviderTUHH"
            description="%org.kalypso.model.wspm.tuhh.profiletype.description"
            id="org.kalypso.model.wspm.tuhh.profiletype"
            name="%org.kalypso.model.wspm.tuhh.profiletype">
      </profiletype>
   </extension>
   <extension
         point="org.kalypso.deegree.featureBinding">
      <feature
            class="org.kalypso.model.wspm.tuhh.core.gml.TuhhReach"
            qname="{org.kalypso.model.wspm.tuhh}ReachWspmTuhhSteadyState">
      </feature>
      <feature
            class="org.kalypso.model.wspm.tuhh.core.gml.TuhhWspmProject"
            qname="{org.kalypso.model.wspmproj}WspmProject">
      </feature>
      <feature
            class="org.kalypso.model.wspm.tuhh.core.gml.CalculationWspmTuhhSteadyState"
            qname="{org.kalypso.model.wspm.tuhh}CalculationWspmTuhhSteadyState">
      </feature>
      <feature
            class="org.kalypso.model.wspm.tuhh.core.gml.CalculationReibConstWspmTuhhSteadyState"
            qname="{org.kalypso.model.wspm.tuhh}CalculationReibConstWspmTuhhSteadyState">
      </feature>
      <feature
            class="org.kalypso.model.wspm.tuhh.core.gml.TuhhReachProfileSegment"
            qname="{org.kalypso.model.wspm.tuhh}ProfileReachSegmentWspmTuhhSteadyState">
      </feature>
      <feature
            class="org.kalypso.model.wspm.tuhh.core.gml.PolynomeProperties"
            qname="{org.kalypso.model.wspm.tuhh}CalcPolynomes">
      </feature>
      <feature
            class="org.kalypso.model.wspm.tuhh.core.gml.CalculationWspmTuhhSteadyState"
            qname="{org.kalypso.model.wspm.tuhh}CalculationWspmTuhhSteadyState">
      </feature>
      <feature
            class="org.kalypso.model.wspm.tuhh.core.gml.TuhhMarker"
            qname="{org.kalypso.model.wspm.tuhh}ProfileMarker">
      </feature>
      <feature
            class="org.kalypso.model.wspm.tuhh.core.gml.TuhhReach"
            qname="{org.kalypso.model.wspm.tuhh}ReachWspmTuhhSteadyState">
      </feature>
      <feature
            class="org.kalypso.model.wspm.tuhh.core.gml.CalculationReibConstWspmTuhhSteadyState"
            qname="{org.kalypso.model.wspm.tuhh}CalculationReibConstWspmTuhhSteadyState">
      </feature>
   </extension>
   <extension
         point="org.kalypso.model.wspm.core.profileObjectProvider">
      <objectProvider
            id="urn:ogc:gml:dict:kalypso:model:wspm:profileBuildingTypes#BRUECKE"
            provider="org.kalypso.model.wspm.tuhh.core.profile.profileobjects.building.BuildingBrueckeProvider">
      </objectProvider>
      <objectProvider
            id="urn:ogc:gml:dict:kalypso:model:wspm:profileBuildingTypes#EI"
            provider="org.kalypso.model.wspm.tuhh.core.profile.profileobjects.building.BuildingEiProvider">
      </objectProvider>
      <objectProvider
            id="urn:ogc:gml:dict:kalypso:model:wspm:profileBuildingTypes#KREIS"
            provider="org.kalypso.model.wspm.tuhh.core.profile.profileobjects.building.BuildingKreisProvider">
      </objectProvider>
      <objectProvider
            id="urn:ogc:gml:dict:kalypso:model:wspm:profileBuildingTypes#MAUL"
            provider="org.kalypso.model.wspm.tuhh.core.profile.profileobjects.building.BuildingMaulProvider">
      </objectProvider>
      <objectProvider
            id="urn:ogc:gml:dict:kalypso:model:wspm:profileBuildingTypes#TRAPEZ"
            provider="org.kalypso.model.wspm.tuhh.core.profile.profileobjects.building.BuildingTrapezProvider">
      </objectProvider>
       <objectProvider
            id="urn:ogc:gml:dict:kalypso:model:wspm:profileBuildingTypes#WEHR"
            provider="org.kalypso.model.wspm.tuhh.core.profile.profileobjects.building.BuildingWehrProvider">
      </objectProvider>
      <objectProvider
            id="urn:ogc:gml:dict:kalypso:model:wspm:tuhh:core:sinuositaetTypes#SINUOSITAET"
            provider="org.kalypso.model.wspm.tuhh.core.profile.sinuositaet.SinuositaetProfileObjectProvider">
      </objectProvider>
      <objectProvider
            id="urn:ogc:gml:dict:kalypso:model:wspm:tuhh:core:energylossTypes#ENERGYLOSS"
            provider="org.kalypso.model.wspm.tuhh.core.profile.energyloss.EnergylossProfileObjectProvider">
      </objectProvider>
   </extension>
 </plugin>
