<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="exportTarget" name="exportTarget" schema="schema/exportTarget.exsd"/>
   <extension-point id="exporter" name="exporter" schema="schema/exporter.exsd"/>
   <extension
         point="org.kalypso.metadoc.exportTarget">
      <target
            class="org.kalypso.metadoc.impl.FileExportTarget"
            icon="icons/file_obj.gif"
            description="%fileTarget.description"
            name="%fileTarget.name"
            modes="wizard;expert"
            id="fileTarget"/>
   </extension>
   <extension
         point="org.kalypso.metadoc.exporter">
      <exporter
            icon="icons/sample.gif"
            class="org.kalypso.metadoc.impl.EmptyExporter"
            description="%emptyExporter.description"
            name="%emptyExporter.name"
            id="emptyExporter"/>
      <exporter
            icon="icons/sample.gif"
            class="org.kalypso.metadoc.impl.MultiExporter"
            description="%multiExporter.description"
            name="%multiExporter.name"
            id="multiExporter"/>
   </extension>

</plugin>
