<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.ui"
   name="KalypsoUI"
   version="0.0.1"
   provider-name="org.kalypso"
   class="org.kalypso.plugin.KalypsoGisPlugin">
   <runtime>
      <library name="kalypsoUi.jar">
         <export name="*"/>
      </library>
      <library name="lib/junit.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.editors" export="true"/>
      <import plugin="org.eclipse.ui.workbench" export="true"/>
      <import plugin="org.eclipse.jface" export="true"/>
      <import plugin="org.eclipse.jface.text" export="true"/>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="org.eclipse.ui.ide" export="true"/>
      <import plugin="org.eclipse.ui.views" export="true"/>
      <import plugin="org.eclipse.ui.workbench.texteditor" export="true"/>
      <import plugin="org.eclipse.ui" export="true"/>
      <import plugin="org.eclipse.compare" export="true"/>
      <import plugin="org.eclipse.core.runtime" export="true"/>
      <import plugin="org.kalypso.util" export="true"/>
      <import plugin="org.kalypso.deegree" export="true"/>
      <import plugin="org.kalypso.psiadapter" export="true"/>
      <import plugin="org.eclipse.debug.core" export="true"/>
      <import plugin="org.eclipse.debug.ui" export="true"/>
      <import plugin="org.kalypso.services" export="true"/>
   </requires>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            icon="icons/sample.gif"
            class="org.kalypso.editor.mapeditor.GisMapEditor"
            default="true"
            name="Kalypso Gisview Editor"
            id="org.kalypso.editor.mapeditor.GisMapEditor"
            extensions="gmt"/>
      <editor
            class="org.kalypso.editor.tableeditor.GisTableEditor"
            icon="icons/sample.gif"
            default="true"
            contributorClass="org.kalypso.editor.tableeditor.GisTableEditorActionBarContributor"
            name="Kalypso GisTableEditor"
            id="org.kalypso.editor.tableeditor.GisTableEditor"
            extensions="gtt"/>
      <editor
            class="org.kalypso.ogc.sensor.editor.ObservationDiagramEditor"
            icon="icons/kalypso_odt.gif"
            default="true"
            name="Kalypso Observation DiagramEditor"
            id="org.kalypso.ogc.sensor.editor.ObservationDiagramEditor"
            extensions="odt"/>
      <editor
            class="org.kalypso.ogc.sensor.editor.ObservationTableEditor"
            icon="icons/kalypso_ott.gif"
            default="true"
            name="Kalypso Observation TableEditor"
            id="org.kalypso.ogc.sensor.editor.ObservationTableEditor"
            extensions="ott"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Kalypso"
            id="Kalypso"/>
      <view
            class="org.kalypso.util.repository.view.RepositoryExplorerPart"
            icon="icons/observation_repository.gif"
            category="Kalypso"
            name="Zeitreihen Repository"
            id="org.kalypso.util.repository.view.RepositoryExplorerPart"/>
      <view
            icon="icons/kalypso_odt.gif"
            class="org.kalypso.ogc.sensor.view.DiagramViewPart"
            category="Kalypso"
            name="Diagram QuickView"
            id="org.kalypso.ogc.sensor.view.DiagramViewPart"/>
      <view
            icon="icons/kalypso_ott.gif"
            class="org.kalypso.ogc.sensor.view.TableViewPart"
            category="Kalypso"
            name="Table QuickView"
            id="org.kalypso.ogc.sensor.view.TableViewPart"/>
      <category
            name="Kalypso"
            id="Kalypso"/>            
      <view
            icon="icons/full/elcl16/kde_filter.gif"
            class="org.kalypso.editor.mapeditor.views.StyleEditorViewPart"
            category="Kalypso"
            name="Style Editor"
            id="org.kalypso.editor.mapeditor.views.styleeditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.kalypso.editor.tableeditor.GisTableEditor"
            id="org.kalypso.editor.tableeditor.GisTableActionDelegate">
         <menu
               label="Tabelle"
               path="additions"
               id="org.kalypso.editors.tableeditor.menu">
            <separator name="tabelle"/>
            <separator name="spalten"/>
         </menu>
         <action
               toolbarPath="tabelle"
               label="Zeile hinzufügen"
               tooltip="Fügt eine Zeile am Ende der Tabelle ein"
               class="org.kalypso.editor.tableeditor.actions.AddRowActionDelagate"
               style="push"
               menubarPath="org.kalypso.editors.tableeditor.menu/tabelle"
               id="org.kalypso.editors.tableeditor.AddRowAction"/>
         <action
               toolbarPath="tabelle"
               label="Zeile(n) löschen"
               tooltip="Löscht die selektierte(n) Zeile(n)"
               class="org.kalypso.editor.tableeditor.actions.RemoveRowsActionDelegate"
               style="push"
               menubarPath="org.kalypso.editors.tableeditor.menu/tabelle"
               id="org.kalypso.editors.tableeditor.RemoveRowsAction">
         </action>
         <action
               toolbarPath="tabelle"
               label="Daten speichern"
               class="org.kalypso.editor.tableeditor.actions.SaveDataActionDelagate"
               tooltip="Speichert die Daten der Tabelle"
               style="push"
               menubarPath="org.kalypso.editors.tableeditor.menu/tabelle"
               id="org.kalypso.editor.tableeditor.SaveDataAction">
            <enablement>
               <objectState
                     value="true"
                     name="isLayerDirty"/>
            </enablement>
         </action>
         <action
               toolbarPath="tabelle"
               label="Toggle Editing"
               tooltip="Sartet oder stopt das Editieren der Tabellendaten"
               class="org.kalypso.editor.tableeditor.actions.StartEditingActionDelagate"
               style="toggle"
               state="true"
               menubarPath="org.kalypso.editors.tableeditor.menu/tabelle"
               id="org.kalypso.editor.tableeditor.StartEditingAction">
         </action>
         <menu
               label="Spalten"
               path="org.kalypso.editors.tableeditor.menu/spalten"
               id="org.kalypso.editors.tableeditor.columnmenu">
            <separator name="spaltenMenu"/>
         </menu>
      </editorContribution>
      <editorContribution
            targetID="org.kalypso.editor.mapeditor.GisMapEditor"
            id="org.kalypso.ogc.widgets.GisMapEditorActionDelegate">
         <action
               toolbarPath="karte"
               label="volle Ausdehnung"
               class="org.kalypso.editor.mapeditor.actiondelegates.FullExtentWidgetDelegate"
               icon="icons/full/elcl16/kde_window_fullscreen.gif"
               tooltip="Zoom to fullextent"
               style="push"
               id="org.kalypso.editor.mapeditor.action.FullExtentAction"/>
         <action
               toolbarPath="karte"
               label="Ausschnitt verkleinern"
               tooltip="vergrößert den Kartenausschnitt"
               icon="icons/full/elcl16/kde_viewmag-.gif"
               class="org.kalypso.editor.mapeditor.actiondelegates.ZoomOutWidgetDelegate"
               style="push"
               id="org.kalypso.editor.mapeditor.action.ZoomOutAction"/>
         <action
               disabledIcon="icons/full/elcl16/kde_14_rectangle.gif"
               toolbarPath="karte"
               label="Ausschnitt vergrößern"
               class="org.kalypso.editor.mapeditor.actiondelegates.ZoomInWidgetDelegate"
               tooltip="vergrößert den Kartenausschnitt"
               icon="icons/full/elcl16/kde_viewmag+.gif"
               style="radio"
               id="org.kalypso.editor.mapeditor.action.ZoomInAction"/>
          <!-- zoomInByRect with start and endpoint bounds -->     
          <action
               disabledIcon="icons/full/elcl16/kde_14_rectangle.gif"
               toolbarPath="karte"
               label="zoomin"
               class="org.kalypso.editor.mapeditor.actiondelegates.ZoomInByRectWidgetDelegate"
               tooltip="zoomin"
               icon="icons/full/elcl16/kde_viewmag+.gif"
               style="radio"
               id="org.kalypso.editor.mapeditor.action.ZoomInByRectAction"/>      
         <!-- EOF -->      
         <action
               toolbarPath="karte"
               label="Kartenausschnitt verschieben"
               class="org.kalypso.editor.mapeditor.actiondelegates.PanToWidgetDelegate"
               icon="icons/full/elcl16/kde_move.gif"
               tooltip="verschiebt den Kartenausschnitt"
               style="radio"
               id="org.kalypso.editor.mapeditor.action.PanAction"/>

         <action
               toolbarPath="karte"
               label="Create Geometry Feature"
               class="org.kalypso.editor.mapeditor.actiondelegates.CreateGeometryFeatureWidgetDelegate"
               icon="icons/full/elcl16/kde_contexthelp.gif"
               tooltip="erzeugt features mit geometrie"
               style="radio"
               id="org.kalypso.editor.mapeditor.action.PanAction"/>


          <action
                toolbarPath="karte"
                label="Elemente selektieren"
                class="org.kalypso.editor.mapeditor.actiondelegates.SelectWidgetDelegate"
                tooltip="selektiert dinge"
                icon="icons/full/elcl16/kde_14_polyline.gif"
                style="radio"
                id="org.kalypso.editor.mapeditor.action.SelectAction"/>
 	<action
        toolbarPath="karte"
        label="Elemente deselektieren"
        class="org.kalypso.editor.mapeditor.actiondelegates.UnSelectWidgetDelegate"
        tooltip="deselektiert dinge"
        icon="icons/full/elcl16/kde_contents.gif"
        style="radio"
        id="org.kalypso.editor.mapeditor.action.UnSelectAction"/>
	 <action
        toolbarPath="karte"
        label="Selektion umkehren"
        class="org.kalypso.editor.mapeditor.actiondelegates.ToggleSelectWidgetDelegate"
        tooltip="umschalten"
        icon="icons/full/elcl16/kde_options.gif"
        style="radio"
        id="org.kalypso.editor.mapeditor.action.ToggleSelectAction"/>
	  </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="org.kalypso.editors.tableeditor.contextMenu"
            id="org.kalypso.editors.tableeditor.popupMenu">
         <menu
               label="Menu"
               path="org.kalypso.editors.tableeditor.popMenu"
               id="org.kalypso.editors.tableeditor.popMenu.menu"/>
         <action
               label="AddRow"
               class="org.kalypso.editor.tableeditor.actions.AddRowActionDelagate"
               id="org.kalypso.tableeditor.AddRowAction"/>
        </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            selected="false"
            pattern="*.gml"/>
   </extension>
   <extension
         id="ModelNature"
         name="ModelNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.kalypso.ui.nature.ModelNature"/>
      </runtime>
      <options allowLinking="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Kalypso"
            id="org.kalypso.ui.wizardCategory"/>
      <wizard
            icon="icons/sample.gif"
            class="org.kalypso.ui.wizard.NewCalculationCaseWizard"
            category="org.kalypso.ui.wizardCategory"
            name="Rechenfall"
            id="org.kalypso.wizard.newCalcCase">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.kalypso.ui.launcher.CalcCaseLaunchConfigurationDelegate"
            public="true"
            name="Modellrechnung"
            modes="run"
            id="org.kalypso.ui.launch.CalcCaseType"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Modellrechnung"
            class="org.kalypso.ui.launcher.CalcCaseLaunchShortcut"
            modes="run"
            id="org.kalypso.ui.launch.CalcCaseLaunchShortcut">
         <perspective id="org.eclipse.ui.resourcePerspective"/>
         <contextualLaunch>
            <contextLabel
                  label="Modellrechnung"
                  mode="run"/>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate >
                     <instanceof value="org.eclipse.core.resources.IFolder"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.ui.views.ResourceNavigator"
            id="org.kalypso.ogc.sensor.view.vc1">
         <action
               label="Grafik mit Diagrammvorlage starten"
               id="org.kalypso.ogc.sensor.view.resourceNavigator.GrafikViewActionDelegate"
               menubarPath="additions"
	           toolbarPath="additions" 
               icon="icons/grafik-icon.gif" 
               tooltip="Grafik-Tool auf Diagrammvorlage starten" 
               class="org.kalypso.ogc.sensor.view.resourceNavigator.GrafikViewActionDelegate" 
               enablesFor="1"> 
			<selection class="org.eclipse.core.resources.IFile" name="*.odt"/> 
	   	</action>

         <action
               label="Grafik mit Vorlage starten"
               id="org.kalypso.ogc.sensor.view.resourceNavigator.GrafikVorlageActionDelegate"
               menubarPath="additions"
	           toolbarPath="additions" 
               icon="icons/grafik-icon.gif" 
               tooltip="Grafik mit Vorlage öffnen" 
               class="org.kalypso.ogc.sensor.view.resourceNavigator.GrafikVorlageActionDelegate" 
               enablesFor="1"> 
			<selection class="org.eclipse.core.resources.IFile" name="*.tpl"/> 
	   	</action>
               
      </viewContribution>

   </extension>

</plugin>
