<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.ui"
   name="Kalypso UI"
   version="0.0.1"
   provider-name="org.kalypso"
   class="org.kalypso.plugin.KalypsoGisPlugin">
   <runtime>
      <library name="kalypsoUi.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.compare"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.kalypso.util"/>
      <import plugin="org.kalypso.deegree"/>
      <import plugin="org.kalypso.psiadapter"/>
   </requires>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            icon="icons/sample.gif"
            class="org.kalypso.editor.mapeditor.GisMapEditor"
            default="true"
            name="Kalypso Gisview Editor"
            id="org.kalypso.editor.mapeditor.GisMapEditor"
            extensions="gmt"/>
      <editor
            class="org.kalypso.editor.tableeditor.GisTableEditor"
            icon="icons/sample.gif"
            default="true"
            contributorClass="org.kalypso.editor.tableeditor.GisTableEditorActionBarContributor"
            name="Kalypso GisTableEditor"
            id="org.kalypso.editor.tableeditor.GisTableEditor"
            extensions="gtt"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Kalypso"
            id="Kalypso"/>
      <view
            class="org.kalypso.util.repository.view.RepositoryExplorerPart"
            icon="icons/sample.gif"
            category="Kalypso"
            name="Zeitreihen Repository"
            id="org.kalypso.util.repository.view.RepositoryExplorerPart"/>
      <view
            icon="icons/sample.gif"
            class="org.kalypso.ogc.sensor.view.DiagramViewPart"
            category="Kalypso"
            name="Diagram QuickView"
            id="org.kalypso.ogc.sensor.view.DiagramViewPart"/>
      <view
            icon="icons/sample.gif"
            class="org.kalypso.ogc.sensor.view.TableViewPart"
            category="Kalypso"
            name="Table QuickView"
            id="org.kalypso.ogc.sensor.view.TableViewPart"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.kalypso.editor.tableeditor.GisTableEditor"
            id="org.kalypso.editor.tableeditor.GisTableActionDelegate">
         <menu
               label="Tabelle"
               path="additions"
               id="org.kalypso.editors.tableeditor.menu">
            <separator name="tabelle"/>
            <separator name="spalten"/>
         </menu>
         <action
               toolbarPath="tabelle"
               label="Zeile hinzufügen"
               tooltip="Fügt eine Zeile am Ende der Tabelle ein"
               class="org.kalypso.editor.tableeditor.actions.AddRowActionDelagate"
               style="push"
               menubarPath="org.kalypso.editors.tableeditor.menu/tabelle"
               id="org.kalypso.editors.tableeditor.AddRowAction"/>
         <action
               toolbarPath="tabelle"
               label="Zeile(n) löschen"
               tooltip="Löscht die selektierte(n) Zeile(n)"
               class="org.kalypso.editor.tableeditor.actions.RemoveRowsActionDelegate"
               style="push"
               menubarPath="org.kalypso.editors.tableeditor.menu/tabelle"
               id="org.kalypso.editors.tableeditor.RemoveRowsAction">
         </action>
         <menu
               label="Spalten"
               path="org.kalypso.editors.tableeditor.menu/spalten"
               id="org.kalypso.editors.tableeditor.columnmenu">
            <separator name="spaltenMenu"/>
         </menu>
      </editorContribution>
      <editorContribution
            targetID="org.kalypso.editor.mapeditor.GisMapEditor"
            id="org.kalypso.ogc.widgets.GisMapEditorActionDelegate">
                     <action
               toolbarPath="karte"
               label="volle Ausdehnung"
               tooltip="Zoom to fullextent"
               icon="icons/full/elcl16/kde_window_fullscreen.gif"
               class="org.kalypso.ogc.widgets.FullExtentAction"
               style="push"
               id="org.kalypso.editor.mapeditor.action.FullExtentAction"/>
         <action
               toolbarPath="karte"
               label="Ausschnitt verkleinern"
               class="org.kalypso.ogc.widgets.ZoomOutAction"
               icon="icons/full/elcl16/kde_viewmag-.gif"
               tooltip="vergrößert den Kartenausschnitt"
               style="push"
               id="org.kalypso.editor.mapeditor.action.ZoomOutAction"/>
            </editorContribution>
      <editorContribution
            targetID="org.kalypso.editor.mapeditor.GisMapEditor"
            id="org.kalypso.ogc.widget.GisMapEditorWidgetActionDelegate">
                     <action
               disabledIcon="icons/full/elcl16/kde_14_rectangle.gif"
               toolbarPath="karte"
               label="Ausschnitt vergrößern"
               tooltip="vergrößert den Kartenausschnitt"
               icon="icons/full/elcl16/kde_viewmag+.gif"
               class="org.kalypso.ogc.widgets.ZoomInWidget"
               style="radio"
               id="org.kalypso.editor.mapeditor.action.ZoomInAction"/>
         <action
               toolbarPath="karte"
               label="Kartenausschnitt verschieben"
               tooltip="verschiebt den Kartenausschnitt"
               icon="icons/full/elcl16/kde_move.gif"
               class="org.kalypso.ogc.widgets.PanToWidget"
               style="radio"
               id="org.kalypso.editor.mapeditor.action.PanAction"/>
          <action
               toolbarPath="karte"
               label="Elemente selektieren"
               tooltip="selektiert dinge"
               icon="icons/full/elcl16/kde_14_polyline.gif"
               class="org.kalypso.ogc.widgets.SelectWidget"
               style="radio"
               id="org.kalypso.editor.mapeditor.action.SelectAction"/>
            </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="org.kalypso.editors.tableeditor.contextMenu"
            id="org.kalypso.editors.tableeditor.popupMenu">
         <menu
               label="Menu"
               path="org.kalypso.editors.tableeditor.popMenu"
               id="org.kalypso.editors.tableeditor.popMenu.menu"/>
         <action
               label="AddRow"
               class="org.kalypso.editor.tableeditor.actions.AddRowActionDelagate"
               id="org.kalypso.tableeditor.AddRowAction"/>
        </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            selected="false"
            pattern="*.gml"/>
   </extension>

</plugin>
