<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.ui"
   name="KalypsoUI"
   version="0.0.2"
   provider-name="org.kalypso"
   class="org.kalypso.ui.KalypsoGisPlugin">

   <runtime>
      <library name="KalypsoUi.jar">
         <export name="*"/>
      </library>
      <library name="lib/jfreechart-0.9.21.jar">
         <export name="*"/>
      </library>
      <library name="lib/kalypsoservice_observation.jar">
         <export name="*"/>
      </library>
      <library name="lib/kalypsoservice_calculation.jar">
         <export name="*"/>
      </library>
      <library name="lib/kalypsoservice_metadoc.jar">
         <export name="*"/>
      </library>
      <library name="lib/jcommon-0.9.6.jar">
         <export name="*"/>
      </library>
      <library name="lib/activation.jar">
         <export name="*"/>
      </library>
      <library name="lib/dom.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxrpc-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxrpc-impl.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxrpc-spi.jar">
         <export name="*"/>
      </library>
      <library name="lib/saaj-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/saaj-impl.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxp-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/jax-qname.jar">
         <export name="*"/>
      </library>
      <library name="lib/mail.jar">
         <export name="*"/>
      </library>
      <library name="lib/xercesImpl.jar">
         <export name="*"/>
      </library>
      <library name="lib/kalypsoservice_user.jar">
         <export name="*"/>
      </library>
      <library name="lib/swtcalendar.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui.workbench" export="true"/>
      <import plugin="org.eclipse.jface" export="true"/>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="org.eclipse.ui.ide" export="true"/>
      <import plugin="org.eclipse.ui.views" export="true"/>
      <import plugin="org.eclipse.ui" export="true"/>
      <import plugin="org.eclipse.compare" export="true"/>
      <import plugin="org.eclipse.core.runtime" export="true"/>
      <import plugin="org.eclipse.debug.core" export="true"/>
      <import plugin="org.kalypso.util" export="true"/>
      <import plugin="org.eclipse.ui.forms" export="true"/>
      <import plugin="org.eclipse.debug.ui" export="true"/>
      <import plugin="org.apache.ant" export="true"/>
      <import plugin="org.kalypso.deegree" export="true"/>
      <import plugin="org.kalypso.core"/>
   </requires>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.kalypso.ui.preferences.KalypsoPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Kalypso"
            class="org.kalypso.ui.preferences.KalypsoPreferencePage"
            id="org.kalypso.ui.preferences.KalypsoPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Karten Editor"
            default="true"
            extensions="gmt"
            icon="icons/kalypso_gmt.gif"
            class="org.kalypso.ui.editor.mapeditor.GisMapEditor"
            id="org.kalypso.ui.editor.mapeditor.GisMapEditor">
      </editor>
      <editor
            name="Tabellen Editor"
            default="true"
            extensions="gtt"
            icon="icons/kalypso_gtt.gif"
            contributorClass="org.kalypso.ui.editor.gistableeditor.GisTableEditorActionBarContributor"
            class="org.kalypso.ui.editor.gistableeditor.GisTableEditor"
            id="org.kalypso.ui.editor.gistableeditor.GisTableEditor">
      </editor>
      <editor
            name="Diagramm Editor"
            default="true"
            extensions="odt"
            icon="icons/kalypso_odt.gif"
            class="org.kalypso.ui.editor.diagrameditor.ObservationDiagramEditor"
            id="org.kalypso.ui.editor.diagrameditor.ObservationDiagramEditor">
      </editor>
      <editor
            name="Zeitreihen Editor"
            default="true"
            extensions="ott"
            icon="icons/kalypso_ott.gif"
            class="org.kalypso.ui.editor.obstableeditor.ObservationTableEditor"
            id="org.kalypso.ui.editor.obstableeditor.ObservationTableEditor">
      </editor>
      <editor
            name="Gis Vorlagenauswahl"
            default="true"
            extensions="gml,shp"
            id="org.kalypso.ui.editor.GisEditor"
            launcher="org.kalypso.ui.editorLauncher.GisTemplateLauncher">
      </editor>
      <editor
            name="Zeitreihen Vorlagenauswahl"
            default="false"
            extensions="zml"
            id="org.kalypso.ui.editor.ObsEditor"
            launcher="org.kalypso.ui.editorLauncher.ObsTemplateLauncher">
      </editor>
      <editor
            name="Feature Editor"
            default="true"
            extensions="gft"
            icon="icons/kalypso_gtt.gif"
            class="org.kalypso.ui.editor.featureeditor.FeatureEditor"
            id="org.kalypso.ui.editor.FeatureEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Kalypso"
            id="Kalypso">
      </category>
      <view
            name="Zeitreihen Repository"
            icon="icons/repository/repository.gif"
            category="Kalypso"
            class="org.kalypso.ui.repository.view.RepositoryExplorerPart"
            id="org.kalypso.ui.repository.view.RepositoryExplorerPart">
      </view>
      <view
            name="Diagram QuickView"
            icon="icons/kalypso_odt.gif"
            category="Kalypso"
            class="org.kalypso.ogc.sensor.view.DiagramViewPart"
            id="org.kalypso.ogc.sensor.view.DiagramViewPart">
      </view>
      <view
            name="Table QuickView"
            icon="icons/kalypso_ott.gif"
            category="Kalypso"
            class="org.kalypso.ogc.sensor.view.TableViewPart"
            id="org.kalypso.ogc.sensor.view.TableViewPart">
      </view>
      <view
            name="Style Editor"
            icon="icons/full/elcl16/kde_filter.gif"
            category="Kalypso"
            class="org.kalypso.ui.editor.mapeditor.views.StyleEditorViewPart"
            id="org.kalypso.ui.editor.mapeditor.views.styleeditor">
      </view>
      <view
            name="Hochwasser Vorhersage"
            icon="etc/kalypso16.gif"
            category="Kalypso"
            class="org.kalypso.ui.view.prognose.PrognoseView"
            id="org.kalypso.view.prognose">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.kalypso.ui.editor.gistableeditor.GisTableEditor"
            id="org.kalypso.ui.editor.gistableeditor.GisTableActionDelegate">
         <menu
               label="Tabelle"
               path="additions"
               id="org.kalypso.ui.editors.tableeditor.menu">
            <groupMarker
                  name="tabelle">
            </groupMarker>
            <separator
                  name="spalten">
            </separator>
            <separator
                  name="edit">
            </separator>
         </menu>
         <menu
               label="Spalten"
               path="org.kalypso.ui.editors.tableeditor.menu/spalten"
               id="org.kalypso.ui.editors.tableeditor.columnmenu">
            <separator
                  name="spaltenMenu">
            </separator>
         </menu>
         <action
               label="Berichtsablage..."
               style="push"
               icon="icons/util/bericht.gif"
               class="org.kalypso.ui.editor.gistableeditor.actions.ExportBerichtActionDelegate"
               tooltip="Exportiert die Tabelle in das Berichtswesen."
               menubarPath="org.kalypso.ui.editors.tableeditor.menu/tabelle"
               toolbarPath="tabelle"
               id="org.kalypso.ui.editor.gistableeditor.ExportAction">
         </action>
         <action
               label="Exportieren..."
               style="push"
               icon="icons/gistable/export_wiz.gif"
               class="org.kalypso.ui.editor.gistableeditor.actions.ExportActionDelegate"
               tooltip="Die Tabelle exportieren"
               menubarPath="org.kalypso.ui.editors.tableeditor.menu/tabelle"
               toolbarPath="tabelle"
               id="org.kalypso.ui.editor.gistableeditor.ExportAction">
         </action>
         <action
               style="push"
               id="org.kalypso.ui.editor.gistableeditor.SaveDataAction"
               toolbarPath="edit"
               class="org.kalypso.ui.editor.gistableeditor.actions.SaveThemeDelegate"
               enablesFor="+"
               icon="icons/gistable/save_edit.gif"
               label="Daten speichern"
               menubarPath="org.kalypso.ui.editors.tableeditor.menu/edit"
               tooltip="Speichert die Daten der Tabelle">
         </action>
         <action
               label="Rückgängig"
               style="push"
               icon="icons/gistable/undo_edit.gif"
               class="org.kalypso.ui.editor.gistableeditor.actions.UndoDelegate"
               tooltip="Die letzte Änderung der Daten Rückgängig machen"
               menubarPath="org.kalypso.ui.editors.tableeditor.menu/edit"
               toolbarPath="edit"
               id="org.kalypso.ui.editor.gistableeditor.UndoActionDelegate">
         </action>
         <action
               label="Wiederherstellen"
               style="push"
               icon="icons/gistable/redo_edit.gif"
               class="org.kalypso.ui.editor.gistableeditor.actions.RedoDelegate"
               tooltip="Die letzte Korrektur wiederherstellen"
               menubarPath="org.kalypso.ui.editors.tableeditor.menu/edit"
               toolbarPath="edit"
               id="org.kalypso.ui.editor.gistableeditor.RedoActionDelegate">
         </action>
      </editorContribution>
      <editorContribution
            targetID="org.kalypso.ui.editor.mapeditor.GisMapEditor"
            id="org.kalypso.ogc.widgets.GisMapEditorActionDelegate">
         <menu
               label="Karte"
               path="additions"
               id="org.kalypso.ui.editors.mapeditor.menu">
            <groupMarker
                  name="tools">
            </groupMarker>
            <separator
                  name="sep">
            </separator>
            <groupMarker
                  name="actions">
            </groupMarker>
            <separator
                  name="sep">
            </separator>
            <groupMarker
                  name="edit">
            </groupMarker>
         </menu>
         <action
               label="Ausschnitt maximieren"
               style="push"
               icon="icons/full/elcl16/kde_window_fullscreen.gif"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.FullExtentDelegate"
               tooltip="maximiert den Kartenausschnitt"
               menubarPath="org.kalypso.ui.editors.mapeditor.menu/actions"
               toolbarPath="karte/actions"
               id="org.kalypso.ui.editor.mapeditor.action.FullExtentAction">
         </action>
         <action
               label="Ausschnitt vergrößern"
               style="radio"
               icon="icons/map/zoomin.gif"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.ZoomInByRectWidgetDelegate"
               tooltip="vergrößert den Kartenausschnitt"
               menubarPath="org.kalypso.ui.editors.mapeditor.menu/tools"
               toolbarPath="karte/tools"
               id="org.kalypso.ui.editor.mapeditor.action.ZoomInAction">
         </action>
         <action
               label="Ausschnitt verkleinern"
               style="push"
               icon="icons/map/zoomout.gif"
               tooltip="verkleinert den Kartenausschnitt"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.ZoomOutDelegate"
               menubarPath="org.kalypso.ui.editors.mapeditor.menu/actions"
               toolbarPath="karte/actions"
               id="org.kalypso.ui.editor.mapeditor.action.ZoomOutAction">
         </action>
         <action
               state="true"
               style="radio"
               id="org.kalypso.ui.editor.mapeditor.action.PanAction"
               toolbarPath="karte/tools"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.PanToWidgetDelegate"
               icon="icons/map/pan.gif"
               label="Ausschnitt verschieben"
               menubarPath="org.kalypso.ui.editors.mapeditor.menu/tools"
               tooltip="verschiebt den Kartenausschnitt">
         </action>
         <action
               label="Objekt editieren"
               style="radio"
               icon="icons/full/elcl16/kde_contexthelp.gif"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.EditFeatureWidgetDelegate"
               tooltip="die Daten eines Objekts anzeigen/editieren"
               menubarPath="org.kalypso.ui.editors.mapeditor.menu/tools"
               toolbarPath="karte/tools"
               id="org.kalypso.ui.editor.mapeditor.action.EditFeatureAction">
         </action>
         <action
               style="push"
               id="org.kalypso.ui.editor.mapeditor.action.SaveDataAction"
               toolbarPath="karte/edit"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.SaveThemeDelegate"
               disabledIcon="icons/map/save_edit_disabled.gif"
               icon="icons/map/save_edit.gif"
               label="Thema speichern"
               menubarPath="org.kalypso.ui.editors.mapeditor.menu/edit"
               tooltip="Speichert die Daten des aktiven Themas">
         </action>
         <action
               label="Rückgängig"
               style="push"
               icon="icons/map/undo_edit.gif"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.UndoDelegate"
               tooltip="letzte Änderung rückgängig machen"
               menubarPath="org.kalypso.ui.editors.mapeditor.menu/edit"
               toolbarPath="karte/edit"
               id="org.kalypso.ui.editor.mapeditor.action.SaveDataAction">
         </action>
         <action
               label="Wiederherstellen"
               style="push"
               icon="icons/map/redo_edit.gif"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.RedoDelegate"
               menubarPath="org.kalypso.ui.editors.mapeditor.menu/edit"
               toolbarPath="karte/edit"
               id="org.kalypso.ui.editor.mapeditor.action.SaveDataAction">
         </action>
      </editorContribution>
      <editorContribution
            targetID="org.kalypso.ui.editor.obstableeditor.ObservationTableEditor"
            id="org.kalypso.ui.editor.obstableeditor.EditorContribution">
         <action
               label="Zeile hinzufügen"
               style="push"
               icon="icons/obstable/add_row.gif"
               class="org.kalypso.ui.editor.obstableeditor.actions.AddRowAction"
               tooltip="Fügt eine Zeile hinzu. Öffnet Eingabedialog."
               toolbarPath="table"
               id="org.kalypso.ui.editor.obstableeditor.actions.AddRowAction">
         </action>
         <action
               label="Zeile entfernen"
               style="push"
               icon="icons/obstable/rem_row.gif"
               class="org.kalypso.ui.editor.obstableeditor.actions.RemoveRowAction"
               tooltip="Entfernt die ausgewählte Zeile"
               toolbarPath="table"
               id="org.kalypso.ui.editor.obstableeditor.actions.RemoveRowAction">
         </action>
         <action
               label="Daten speichern"
               style="push"
               icon="icons/gistable/save_edit.gif"
               class="org.kalypso.ui.editor.obstableeditor.actions.SaveDataAction"
               tooltip="Speichert die grundliegende Daten"
               toolbarPath="table"
               id="org.kalypso.ui.editor.obstableeditor.actions.SaveDataAction">
         </action>
         <action
               label="Tabelle exportieren"
               style="push"
               icon="icons/util/bericht.gif"
               tooltip="Exportiert die Tabelle in das Berichtswesen"
               class="org.kalypso.ui.editor.obstableeditor.actions.ExportBerichtActionDelegate"
               toolbarPath="table_export"
               id="org.kalypso.ui.editor.obstableeditor.actions.ExportBerichtActionDelegate">
         </action>
      </editorContribution>
      <editorContribution
            targetID="org.kalypso.ui.editor.diagrameditor.ObservationDiagramEditor"
            id="org.kalypso.ui.editor.diagrameditor.EditorContribution">
         <action
               label="Im Grafikprogramm öffnen"
               icon="icons/observation/grafik-icon.gif"
               class="org.kalypso.ui.editor.diagrameditor.actions.OpenGrafikAction"
               tooltip="Öffnet das aktuelle Diagramm im Grafikprogramm"
               toolbarPath="diagram"
               id="org.kalypso.ui.editor.diagrameditor.actions.OpenGrafikAction">
         </action>
         <action
               label="Diagramm exportieren"
               style="push"
               icon="icons/util/bericht.gif"
               tooltip="Exportiert das Diagramm in das Berichtswesen."
               class="org.kalypso.ui.editor.diagrameditor.actions.ExportBerichtActionDelegate"
               toolbarPath="diagram"
               id="org.kalypso.ui.editor.diagrameditor.actions.ExportBerichtActionDelegate">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="org.kalypso.ui.editors.tableeditor.contextMenu"
            id="org.kalypso.ui.editors.tableeditor.popupMenu">
         <menu
               label="Menu"
               path="org.kalypso.ui.editors.tableeditor.popMenu"
               id="org.kalypso.ui.editors.tableeditor.popMenu.menu">
         </menu>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            selected="false"
            pattern="*.gml">
      </filter>
   </extension>
   <extension
         id="ModelNature"
         name="ModelNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.kalypso.ui.nature.ModelNature">
         </run>
      </runtime>
      <options
            allowLinking="true">
      </options>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.ui.views.ResourceNavigator"
            id="org.kalypso.ui.resource.vc1">
         <action
               label="Grafik starten (mit Vorlage)"
               icon="icons/observation/grafik-icon.gif"
               class="org.kalypso.ui.navigator.GrafikViewActionDelegate"
               tooltip="Grafik-Tool anhand einer Vorlage starten"
               menubarPath="additions"
               enablesFor="1"
               toolbarPath="additions"
               id="org.kalypso.ui.navigator.GrafikViewActionDelegate">
            <selection
                  name="*.odt"
                  class="org.eclipse.core.resources.IFile">
            </selection>
            <selection
                  name="*.tpl"
                  class="org.eclipse.core.resources.IFile">
            </selection>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Kalypso Zeitreihenbrowser"
            icon="icons/perspective/zml_browser.gif"
            class="org.kalypso.ui.perspectives.ObservationRepositoryPerspectiveFactory"
            id="org.kalypso.ui.perspectives.ObservationRepositoryPerspectiveFactory">
      </perspective>
      <perspective
            name="Kalypso Modeler"
            icon="icons/perspective/expert.gif"
            fixed="false"
            class="org.kalypso.ui.perspectives.ModelerPerspectiveFactory"
            id="org.kalypso.ui.perspectives.ModelerPerspectiveFactory">
      </perspective>
      <perspective
            name="Hochwasser Vorhersage"
            icon="etc/kalypso16.gif"
            fixed="true"
            class="org.kalypso.ui.perspectives.PrognosePerspective"
            id="org.kalypso.ui.perspectives.PrognosePerspective">
      </perspective>
   </extension>
   <extension
         id="product"
         name="Kalypso Enterprise"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.kalypso.ui.application"
            name="Kalypso Enterprise"
            description="Kalypso Enterprise Modelling Machine">
         <property
               name="aboutText"
               value="Kalypso Enterprise Copyright 2004 by BCE Koblenz and TUHH">
         </property>
         <property
               name="aboutImage"
               value="etc/kalypso32.gif">
         </property>
         <property
               name="featureImage"
               value="etc/kalypso32.gif">
         </property>
         <property
               name="windowImage"
               value="etc/kalypso16.gif">
         </property>
      </product>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.kalypso.ui.application.KalypsoApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Kalypso Modell"
            description="Kalypso Modell Kommandos"
            visible="true"
            id="org.kalypso.actionSet.model">
         <menu
               label="Modell"
               path="additions"
               id="org.kalypso.menu.model">
            <groupMarker
                  name="modelStart">
            </groupMarker>
            <separator
                  name="modelSep">
            </separator>
            <groupMarker
                  name="prognoseStart">
            </groupMarker>
         </menu>
         <action
               label="Vorhersage durchführen"
               icon="etc/kalypso16.gif"
               class="org.kalypso.ui.action.StartCalcWizardAction"
               menubarPath="org.kalypso.menu.model/prognoseStart"
               id="org.kalypso.action.model.checkoutModel">
         </action>
         <action
               label="Berechnung durchführen"
               icon="icons/rechne.gif"
               tooltip="führt die Berechnung der selektierten Rechenvariante aus, bereits vorhandene Ergebnisdaten werden überschrieben"
               class="org.kalypso.ui.action.StartCalculationActionDelegate"
               menubarPath="org.kalypso.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.runCalcCase">
         </action>
         <action
               label="Zurückspeichern"
               icon="icons/util/copy_r_co.gif"
               tooltip="Speichert die Änderungen am Modell auf den Server zurück"
               class="org.kalypso.ui.action.CommitModelDelegate"
               menubarPath="org.kalypso.menu.model/modelStart"
               id="org.kalypso.action.model.commitModel">
         </action>
         <action
               label="Modell aktualisieren"
               icon="icons/util/copy_l_co.gif"
               tooltip="aktualisiert ein bereits vorhandenes Modell mit Daten vom Server"
               class="org.kalypso.ui.action.UpdateModelDelegate"
               menubarPath="org.kalypso.menu.model/modelStart"
               id="org.kalypso.action.model.updateModel">
         </action>
         <action
               label="Vom Server laden..."
               icon="icons/util/copy_l_co.gif"
               helpContextId="org.kalypso.manual.menu_modell"
               class="org.kalypso.ui.action.LoadServerModelDelegate"
               tooltip="lädt ein Modell vom Sever, falls es nicht bereits vorhanden ist"
               menubarPath="org.kalypso.menu.model/modelStart"
               id="org.kalypso.action.model.checkoutModel">
         </action>
         <action
               label="Kopieren..."
               icon="icons/util/copy_edit.gif"
               tooltip="legt eine Variante vom aktuelle gewählten Modell an"
               class="org.kalypso.ui.action.CopyModelDelegate"
               menubarPath="org.kalypso.menu.model/modelStart"
               retarget="false"
               id="org.kalypso.action.model.copyModel">
         </action>
         <menu
               label="Rechenvariante"
               path="org.kalypso.menu.model"
               id="org.kalypso.menu.calcCase">
            <groupMarker
                  name="calcCaseStart">
            </groupMarker>
         </menu>
         <action
               label="Archivieren"
               icon="icons/util/copy_r_co.gif"
               tooltip="legt eine Rechenvariante auf dem Server ab"
               class="org.kalypso.ui.action.CommitCalcCaseDelegate"
               menubarPath="org.kalypso.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.commitCalcCase">
         </action>
         <action
               label="Vom Server laden..."
               icon="icons/util/copy_l_co.gif"
               tooltip="lädt eine vorhandene Rechenvariante vom Server"
               class="org.kalypso.ui.action.GetCalcCaseDelegate"
               menubarPath="org.kalypso.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.getCalcCase">
         </action>
         <action
               label="Zeitreihen aktualisieren"
               icon="icons/util/update.gif"
               class="org.kalypso.ui.action.UpdateCalcCaseTimeseries"
               tooltip="aktualisiert die Zeitreihen anhand der in den Steuerparametern definierten Zeiträume"
               menubarPath="org.kalypso.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.updateCalcCaseTimeseries">
         </action>
         <action
               label="Kopieren..."
               icon="icons/util/copy_edit.gif"
               tooltip="legt eine Kopie der selektierten Rechenvariante an"
               class="org.kalypso.ui.action.CopyCalcCase"
               menubarPath="org.kalypso.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.copyCalcCase">
         </action>
         <action
               label="Neu..."
               icon="icons/util/new_wiz.gif"
               class="org.kalypso.ui.action.NewCalcCaseAction"
               tooltip="Erzeugt eine neue Rechenvariante"
               menubarPath="org.kalypso.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.newCalcCase">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            name="Export über Kalypso Zeitreihendienst"
            icon="icons/repository/zml_upload.gif"
            class="org.kalypso.ui.wizard.ocs.OcsExportWizard"
            id="org.kalypso.ui.wizard.ocs.OcsExportWizard">
      </wizard>
   </extension>

</plugin>
