<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="addLayerWizard" name="addLayerWizard" schema="schema/addLayerWizard.exsd"/>
   <extension
         id="mapviewaction"
         name="mapviewaction"
         point="org.kalypso.ui.mapviewaction">
      <MapviewAction
            title="AddLayer"
            enabled="true"
            icon="icon/add_row.gif"
            class="org.kaylpso.ui.view.action.AddThemeAction"
            tooltip="Thema zu Karte hinzufügen"/>
   </extension>
   <extension
         id="addLayerWizard"
         name="dataimport"
         point="org.kalypso.ui.addlayer.addLayerWizard">
      <wizard
            icon="icon/file_shp.GIF"
            class="org.kaylpso.ui.wizard.shape.ImportShapeSourceWizard"
            name="%org.kalypso.ui.wizard.shape.name"
            id="org.kalypso.ui.wizard.shape"/>
      <wizard
            icon="icon/Datastore_WMS.gif"
            class="org.kaylpso.ui.wizard.wms.ImportWmsSourceWizard"
            name="%org.kalypso.ui.wizard.wms.name"
            id="org.kalypso.ui.wizard.wms"/>
      <wizard
            icon="icon/Datastore_WFS.gif"
            class="org.kaylpso.ui.wizard.wfs.ImportWfsSourceWizard"
            name="%org.kalypso.ui.wizard.wfs.name"
            id="org.kalypso.ui.wizard.wfs"/>
      <wizard
            icon="icon/fileGml.gif"
            class="org.kaylpso.ui.wizard.gml.KalypsoGmlImportWizard"
            name="%gml.name"
            id="gml"/>
      <wizard
            icon="icon/raster.GIF"
            class="org.kaylpso.ui.wizard.raster.ImportRasterSourceWizard"
            name="%org.kalypso.ui.wizard.raster.name"
            id="org.kalypso.ui.wizard.raster"/>
      <wizard
            icon="icon/file_image.gif"
            class="org.kaylpso.ui.wizard.image.ImportImageSourceWizard"
            name="%org.kalypso.ui.wizard.image.name"
            id="org.kalypso.ui.wizard.image"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.kalypso.ui.createGisMapView.CreateGisMapViewWizard"
            icon="icon/kalypso_gmt.gif"
            name="%org.kalypso.ui.createGisMapView.CreateGisMapViewWizard.name"
            id="org.kalypso.ui.createGisMapView.CreateGisMapViewWizard"/>
   </extension>

</plugin>
