<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="addLayerWizard" name="addLayerWizard" schema="schema/addLayerWizard.exsd"/>
     <extension-point id="WMSImageProvider" name="WMSImageProvider" schema="schema/WMSImageProvider.exsd"/>
   <extension
         id="mapviewaction"
         name="mapviewaction"
         point="org.kalypso.ui.mapviewaction">
      <MapviewAction
            title="AddLayer"
            enabled="true"
            icon="icon/add_row.gif"
            class="org.kalypso.ui.view.action.AddThemeAction"
            tooltip="Thema zu Karte hinzufügen"/>
   </extension>
   <extension
         id="addLayerWizard"
         name="dataimport"
         point="org.kalypso.ui.addlayer.addLayerWizard">
      <wizard
            class="org.kalypso.ui.wizard.shape.ImportShapeSourceWizard"
            icon="icon/file_shp.GIF"
            id="org.kalypso.ui.wizard.shape"
            name="%org.kalypso.ui.wizard.shape.name">
         <description>
            Eine ESRI Shape Datei als Thema hinufügen.
         </description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.wms.ImportWmsSourceWizard"
            icon="icon/Datastore_WMS.gif"
            id="org.kalypso.ui.wizard.wms"
            name="%org.kalypso.ui.wizard.wms.name">
         <description>
            Ein Thema aus einem externen WebMapService auswählen.
         </description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.wfs.ImportWfsSourceWizard"
            icon="icon/Datastore_WFS.gif"
            id="org.kalypso.ui.wizard.wfs"
            name="%org.kalypso.ui.wizard.wfs.name">
         <description>
            Daten von einem externen WebFeatureService als Thema hinzufügen.
         </description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.gml.KalypsoGmlImportWizard"
            icon="icon/fileGml.gif"
            id="gml"
            name="%gml.name">
         <description>
            Eine GML Datei als Thema hinzufügen.
         </description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.raster.ImportRasterSourceWizard"
            icon="icon/raster.GIF"
            id="org.kalypso.ui.wizard.raster"
            name="%org.kalypso.ui.wizard.raster.name">
         <description>
            Eine Rasterdatei (.asc) als Thema hinzufügen.
         </description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.image.ImportImageSourceWizard"
            icon="icon/file_image.gif"
            id="org.kalypso.ui.wizard.image"
            name="%org.kalypso.ui.wizard.image.name">
         <description>
            Eine georeferenziertes Bild (.tiff, .jpg, .png, ...) als Thema hinzufügen.
         </description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.others.LegendThemeWizard"
            id="org.kalypso.ui.wizard.others.LegendThemeWizard"
            name="Legende">
         <description>
            Eine in die Karte eingeblendete Legende hinzufügen.
         </description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.others.ScrabThemeWizard"
            id="org.kalypso.ui.wizard.others.ScrabThemeWizard"
            name="Skizzier-Thema">
         <description>
            Das Skizzier-Thema zum Zeichnen von Hilfsgeometrien hinzfügen.
         </description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.others.CascadingThemeWizard"
            icon="icon/cascadingTheme.gif"
            id="org.kalypso.ui.wizard.others.CascadingThemeWizard"
            name="Verzeichnisthema">
         <description>
            Ein Thema, welches andere Themen als Unterthemen enthält, hinzufügen.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.kalypso.ui.newwizards.kalypso"
            class="org.kalypso.ui.createGisMapView.CreateGisMapViewWizard"
            icon="icon/kalypso_gmt.gif"
            id="org.kalypso.ui.createGisMapView.CreateGisMapViewWizard"
            name="%org.kalypso.ui.createGisMapView.CreateGisMapViewWizard.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.kalypso.ui.gazetterview"
            name="GazetterView"/>
      <view
            category="org.kalypso.ui.gazetterview"
            class="org.kalypso.ui.gazetter.view.GazetterView"
            icon="icon/gazetterview.gif"
            id="org.kalypso.ui.gazetter.view.GazetterView"
            name="GazetterView"/>
   </extension>
   <extension
         point="org.kalypso.ui.addlayer.WMSImageProvider">
      <imageProvider
            class="org.kalypso.ogc.gml.wms.provider.WMSImageProvider"
            id="org.kalypso.ui.addlayer.kalypsoImageProvider"
            name="WMS Client">
      </imageProvider>
   </extension>

</plugin>
