<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%KalypsoCreateFloodRiskProject.name"
            id="KalypsoCreateFloodRiskProject"/>
      <wizard
            class="org.kalypso.wizard.KalypsoFloodRiskProjectWizard"
            project="true"
            icon="icons/kalypso16.gif"
            category="org.kalypso"
            name="%org.kalypso.wizard.KalypsoFloodRiskProjectWizard.name"
            id="org.kalypso.wizard.KalypsoFloodRiskProjectWizard"/>
   </extension>

</plugin>
