<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="KalypsoCreateFloodRiskProject"
            name="%KalypsoCreateFloodRiskProject.name"
            parentCategory="org.kalypso.ui.newwizards.kalypso"/>
      <wizard
            class="org.kalypso.wizard.KalypsoFloodRiskProjectWizard"
            project="true"
            icon="icons/kalypso16.gif"
            category="org.kalypso.ui.newwizards.kalypso/KalypsoCreateFloodRiskProject"
            name="%org.kalypso.wizard.KalypsoFloodRiskProjectWizard.name"
            id="org.kalypso.wizard.KalypsoFloodRiskProjectWizard"/>
   </extension>

</plugin>
