<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
           point="org.kalypso.simulation.core.simulation">
        <simulation
              simulationClass="org.kalypso.model.hydrology.internal.simulation.NaModelCalcJob"
              catalogClass="org.kalypso.model.hydrology.internal.gml.UrlCatalogNA"
              typeID="KalypsoNA"/>
     </extension>
     <extension
           point="org.kalypso.contribs.java.urlCatalog">
        <catalog
              class="org.kalypso.model.hydrology.internal.gml.UrlCatalogNA"
              id="org.kalypso.convert.namodel.UrlCatalogNA"/>
     </extension>
     <extension
           point="org.kalypso.core.catalogContribution">
        <catalogContribution
            class="org.kalypso.model.hydrology.internal.gml.NAModelCatalogContribution"
            name="NA Model Catalog"/>
     </extension>
     <extension
           point="org.kalypso.gmlschema.virtualProperty">
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}_Channel"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              qname="{virtual}link_downStreamNodeMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}downStreamNodeMember">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Catchment"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              qname="{virtual}link_entwaesserungsStrangMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}entwaesserungsStrangMember">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Catchment"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              qname="{virtual}link_izkn_vers"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}izkn_vers">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Catchment"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              qname="{virtual}link_izkn"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}izkn">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Catchment"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              qname="{virtual}link_grundwasserabflussMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}grundwasserabflussMember">
           </property>
           <property
                 name="relation2"
                 value="{http://www.tuhh.de/kalypsoNA}ngwzu">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}StorageChannel"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              qname="{virtual}link_iknotNodeMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}iknotNodeMember">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}StorageChannel"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              qname="{virtual}link_downStreamNodeMember_2nd"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}downStreamNodeMember_2nd">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}StorageChannel"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              qname="{virtual}link_downStreamNodeMember_3rd"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}downStreamNodeMember_3rd">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Node"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              qname="{virtual}link_downStreamChannelMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}downStreamChannelMember">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Node"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              qname="{virtual}link_qqRelatedNode"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}qqRelatedNode">
           </property>
        </virtualProperty>
        <virtualProperty
              allowSubstitution="true"
              feature="{http://www.tuhh.de/kalypsoNA}Node"
              function="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              qname="{virtual}link_branchingMember"
              value="{http://www.opengis.net/gml}LineString">
           <property
                 name="relation"
                 value="{http://www.tuhh.de/kalypsoNA}branchingMember">
           </property>
           <property
                 name="relation2"
                 value="{http://www.tuhh.de/kalypsoNA}branchingNodeMember">
           </property>
        </virtualProperty>
     </extension>
     <extension
           point="org.kalypso.deegree.functionProperty">
        <function
              class="org.kalypso.model.hydrology.internal.gml.FeatureAssociationFunctionProperty"
              id="org.kalypso.convert.namodel.schema.functions.FeatureAssociationFunctionProperty"
              name="FeatureAssociationFunctionProperty">
        </function>
        <function
              class="org.kalypso.model.hydrology.internal.binding.timeseries.TimeseriesDataLinkFunctionProperty"
              id="org.kalypso.model.hydrology.timeseries.functionProperty.data.link"
              name="Timeseries Data Link">
        </function>
     </extension>
     <extension point="org.kalypso.deegree.featureBinding">
        <feature class="org.kalypso.model.hydrology.binding._11_6.LanduseCollection" qname="{http://sourceforge.kalypso.org/schemata/hydrology/landuse}LanduseCollection"/>
        <feature class="org.kalypso.model.hydrology.binding._11_6.Landuse" qname="{http://sourceforge.kalypso.org/schemata/hydrology/landuse}Landuse"/>

        <feature class="org.kalypso.model.hydrology.binding.LanduseCollection" qname="{http://sourceforge.kalypso.org/schemata/hydrology/landuse_v2}LanduseCollection"/>
        <feature class="org.kalypso.model.hydrology.binding.Landuse" qname="{http://sourceforge.kalypso.org/schemata/hydrology/landuse_v2}Landuse"/>
     </extension>
     <extension
           point="org.kalypso.deegree.featureBinding">
        <feature
              class="org.kalypso.model.hydrology.binding.SoilTypeCollection"
              qname="{http://sourceforge.kalypso.org/schemata/hydrology/pedologie}SoiltypeCollection">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.SoilType"
              qname="{http://sourceforge.kalypso.org/schemata/hydrology/pedologie}Soiltype">
        </feature>
     </extension>
     <extension point="org.kalypso.deegree.featureBinding">
        <feature
              class="org.kalypso.model.hydrology.binding.OverlayCollection"
              qname="{http://sourceforge.kalypso.org/schemata/hydrology/hydrotopeOverlay}OverlayCollection">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.OverlayElement"
              qname="{http://sourceforge.kalypso.org/schemata/hydrology/hydrotopeOverlay}OverlayElement">
        </feature>
     </extension>
     <extension point="org.kalypso.deegree.featureBinding">
        <feature class="org.kalypso.model.hydrology.binding._11_6.GeologyCollection" qname="{http://sourceforge.kalypso.org/schemata/hydrology/geologie}GeologieCollection"/>
        <feature class="org.kalypso.model.hydrology.binding._11_6.Geology" qname="{http://sourceforge.kalypso.org/schemata/hydrology/geologie}Geologie"/>

        <feature class="org.kalypso.model.hydrology.binding.GeologyCollection" qname="{http://sourceforge.kalypso.org/schemata/hydrology/geology}GeologyCollection"/>
        <feature class="org.kalypso.model.hydrology.binding.Geology" qname="{http://sourceforge.kalypso.org/schemata/hydrology/geology}Geology"/>
     </extension>

     <extension point="org.kalypso.deegree.featureBinding">
        <feature class="org.kalypso.model.hydrology.binding._11_6.NAHydrotop" qname="{http://www.tuhh.de/hydrotop}NAHydrotop"/>
        <feature class="org.kalypso.model.hydrology.binding._11_6.Hydrotop" qname="{http://www.tuhh.de/hydrotop}Hydrotop"/>

        <feature class="org.kalypso.model.hydrology.binding.HydrotopeCollection" qname="{http://sourceforge.kalypso.org/schemata/hydrology/hydrotope}HydrotopeCollection"/>
        <feature class="org.kalypso.model.hydrology.binding.Hydrotope" qname="{http://sourceforge.kalypso.org/schemata/hydrology/hydrotope}Hydrotope"/>
     </extension>
     
     <extension
           point="org.kalypso.deegree.featureBinding">
        <feature
              class="org.kalypso.model.hydrology.binding._11_6.NAModellControl"
              qname="{org.kalypso.namodell.control}NAModellControl">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding._11_6.InitialValues"
              qname="{org.kalypso.namodell.control}initialValues">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.control.NAModellControl"
              qname="{org.kalypso.namodell.control_v2}NAModellControl">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.InitialValue"
              qname="{org.kalypso.namodell.control_v2}InitialValue">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding._11_6.NAControl"
              qname="{org.kalypso.na.control}NAControl">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.control.SimulationCollection"
              qname="{org.kalypso.na.control_v2}SimulationCollection">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.control.NAControl"
              qname="{org.kalypso.na.control_v2}NAControl">
        </feature>
     </extension>
     <extension
           name="namodell.xsd"
           point="org.kalypso.deegree.featureBinding">
        <feature
              class="org.kalypso.model.hydrology.binding.model.NaModell"
              qname="{http://www.tuhh.de/kalypsoNA}NaModell">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.Catchment"
              qname="{http://www.tuhh.de/kalypsoNA}Catchment">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.nodes.Node"
              qname="{http://www.tuhh.de/kalypsoNA}Node">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.channels.VirtualChannel"
              qname="{http://www.tuhh.de/kalypsoNA}VirtualChannel">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.KMChannel"
              qname="{http://www.tuhh.de/kalypsoNA}KMChannel">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.channels.StorageChannel"
              qname="{http://www.tuhh.de/kalypsoNA}StorageChannel">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.KontEntnahme"
              qname="{http://www.tuhh.de/kalypsoNA}KontEntnahme">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.KontZufluss"
              qname="{http://www.tuhh.de/kalypsoNA}KontZufluss">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.Ueberlauf"
              qname="{http://www.tuhh.de/kalypsoNA}Ueberlauf">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.nodes.Verzweigung"
              qname="{http://www.tuhh.de/kalypsoNA}Verzweigung">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.KMParameter"
              qname="{http://www.tuhh.de/kalypsoNA}KMParameter">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.Bodenschichtkorrektur"
              qname="{http://www.tuhh.de/kalypsoNA}bodenschichtkorrektur">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.model.Grundwasserabfluss"
              qname="{http://www.tuhh.de/kalypsoNA}grundwasserabfluss">
        </feature>
     </extension>
     <extension
           point="org.kalypso.deegree.featureBinding">
        <feature
              class="org.kalypso.model.hydrology.binding.designRainfall.SynthN"
              qname="{http://www.tuhh.de/synthN}SynthN">
        </feature>
     </extension>
     <extension
           point="org.kalypso.deegree.featureBinding">
        <feature
              class="org.kalypso.model.hydrology.binding.parameter.Parameter"
              qname="{http://www.tuhh.de/parameter}Parameter">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.parameter.Soiltype"
              qname="{http://www.tuhh.de/parameter}Soiltype">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.parameter.SoilLayerParameter"
              qname="{http://www.tuhh.de/parameter}SoilLayerParameter">
        </feature>
        <feature class="org.kalypso.model.hydrology.binding.parameter.DRWBMDefinition" qname="{http://www.tuhh.de/parameter}DRWBMDefinition">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.parameter.DRWBMSoiltype"
              qname="{http://www.tuhh.de/parameter}DRWBMSoiltype">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.parameter.DRWBMSoilLayerParameter"
              qname="{http://www.tuhh.de/parameter}DRWBMSoilLayerParameter">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.parameter.Snow"
              qname="{http://www.tuhh.de/parameter}Snow">
        </feature>
     </extension>
     <extension
           point="org.kalypso.deegree.featureBinding">
        <feature
              class="org.kalypso.model.hydrology.binding.initialValues.InitialValues"
              qname="{http://www.tuhh.de/initialValues}InitialValues">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.initialValues.Catchment"
              qname="{http://www.tuhh.de/initialValues}Catchment">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.initialValues.Channel"
              qname="{http://www.tuhh.de/initialValues}Channel">
        </feature>
        <feature
              class="org.kalypso.model.hydrology.binding.initialValues.IniHyd"
              qname="{http://www.tuhh.de/initialValues}IniHyd">
        </feature>
     </extension>
     <extension
           point="org.kalypso.deegree.featureBinding">
        <feature
              class="org.kalypso.model.hydrology.binding.NAOptimize"
              qname="{http://kalypso.sorgeforge.net/schemata/hydrology/optimize}NaOptimizeConfig">
        </feature>
     </extension>
     <extension point="org.kalypso.deegree.featureBinding">
          <feature
                class="org.kalypso.model.hydrology.internal.binding.cm.CatchmentModel"
                qname="{http://kalypso.sorgeforge.net/schemata/hydrology/catchmentModel}CatchmentModel">
          </feature>
          <feature
                class="org.kalypso.model.hydrology.internal.binding.cm.LinearSumGenerator"
                qname="{http://kalypso.sorgeforge.net/schemata/hydrology/catchmentModel}LinearSumGenerator">
          </feature>
          <feature
                class="org.kalypso.model.hydrology.internal.binding.cm.Catchment"
                qname="{http://kalypso.sorgeforge.net/schemata/hydrology/catchmentModel}Catchment">
          </feature>
          <feature
                class="org.kalypso.model.hydrology.internal.binding.cm.FactorizedTimeseries"
                qname="{http://kalypso.sorgeforge.net/schemata/hydrology/catchmentModel}FactorizedTimeseries">
          </feature>
          <feature
                class="org.kalypso.model.hydrology.internal.binding.cm.MultiGenerator"
                qname="{http://kalypso.sorgeforge.net/schemata/hydrology/catchmentModel}MultiGenerator">
          </feature>
     </extension>

   <extension
         point="org.kalypso.deegree.featureBinding">
      <feature
            class="org.kalypso.model.hydrology.internal.binding.timeseries.StationCollection"
            qname="{http://kalypso.sorgeforge.net/schemata/hydrology/timeseriesManagement}StationCollection">
      </feature>
      <feature
            class="org.kalypso.model.hydrology.internal.binding.timeseries.HydrologicalStation"
            qname="{http://kalypso.sorgeforge.net/schemata/hydrology/timeseriesManagement}HydrologicalStation">
      </feature>
      <feature
            class="org.kalypso.model.hydrology.internal.binding.timeseries.MeteorologicalStation"
            qname="{http://kalypso.sorgeforge.net/schemata/hydrology/timeseriesManagement}MeteorologicalStation">
      </feature>
      <feature
            class="org.kalypso.model.hydrology.internal.binding.timeseries.Timeseries"
            qname="{http://kalypso.sorgeforge.net/schemata/hydrology/timeseriesManagement}Timeseries">
      </feature>
      <feature
            class="org.kalypso.model.hydrology.internal.binding.timeseries.StationClasses"
            qname="{http://kalypso.sorgeforge.net/schemata/hydrology/timeseriesManagement}StationClasses">
      </feature>
      <feature
            class="org.kalypso.model.hydrology.internal.binding.timeseries.StationClass"
            qname="{http://kalypso.sorgeforge.net/schemata/hydrology/timeseriesManagement}StationClass">
      </feature>
   </extension>
   <extension
         point="org.kalypso.deegree.featureBinding">
      <feature
            class="org.kalypso.model.hydrology.internal.binding.timeseriesMappings.TimeseriesMappingCollection"
            qname="{http://kalypso.sorgeforge.net/schemata/hydrology/timeseriesMapping}TimeseriesMappingCollection">
      </feature>
      <feature
            class="org.kalypso.model.hydrology.internal.binding.timeseriesMappings.TimeseriesMapping"
            qname="{http://kalypso.sorgeforge.net/schemata/hydrology/timeseriesMapping}TimeseriesMapping">
      </feature>
      <feature
            class="org.kalypso.model.hydrology.internal.binding.timeseriesMappings.MappingElement"
            qname="{http://kalypso.sorgeforge.net/schemata/hydrology/timeseriesMapping}MappingElement">
      </feature>
   </extension>

     <extension
           point="org.eclipse.wst.xml.core.catalogContributions">
        <catalogContribution>
           <nextCatalog
                 catalog="etc/catalog.xml">
           </nextCatalog>
        </catalogContribution>
     </extension>

     <extension
           point="org.kalypso.gmlschema.typeHandlers">
        <typeHandler
              factory="org.kalypso.model.hydrology.internal.gml.TypeHandlerFactory">
        </typeHandler>
     </extension>
     <extension
           point="org.kalypso.core.catalogContribution">
        <catalogContribution
              class="org.kalypso.model.hydrology.internal.gml.DictionaryCatalog"
              name="KalypsoModelRrrmCoreContributions">
        </catalogContribution>
     </extension>
</plugin>
