<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension-point id="contextHandlerFactories" name="contextHandlerFactories" schema="schema/contextHandlerFactory.exsd"/>
<extension-point id="workflowSystem" name="workflowSystem" schema="schema/workflowSystem.exsd"/>
<extension
      point="de.renew.workflow.model.workflowSystem">
   <workflowSystem
         definition="etc/workflow.xml"
         id="default"
         name="Default Workflow">
   </workflowSystem>
</extension>
</plugin>
