<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.kalypso.model.wspm.ui.preferences.KalypsoWspmPreferencePage"
            class="org.kalypso.model.wspm.pdb.ui.internal.preferences.WspmPdbPreferencePage"
            id="WspmPdbPreferencePage"
            name="Cross Section Database">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.kalypso.model.wspm.pdb.ui.viewCategory"
            name="Cross Section Database"
            parentCategory="org.kalypso.ui.kalypso">
      </category>
      <view
            allowMultiple="false"
            category="org.kalypso.model.wspm.pdb.ui.viewCategory"
            class="org.kalypso.model.wspm.pdb.ui.internal.preferences.PdbView"
            icon="icons/pdb.gif"
            id="PdbView"
            name="Profildatenbank"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
        <menuContribution
              allPopups="false"
              locationURI="toolbar:org.kalypso.model.wspm.tuhh.ui.light.WspmMapViewPart">
             <separator name="widgets" visible="false"/>
             <command label="" commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.SelectPdbProfiles" style="radio"/>
             <command commandId="org.kalypso.ogc.gml.map.ZoomInByRectCommand" style="radio"/>
             <command commandId="org.kalypso.ogc.gml.map.PanToCommand" style="radio"/>
             <command commandId="org.kalypso.ogc.gml.map.MeasureMapCommand" style="radio" />
             
             <!--
             <command commandId="org.kalypso.ogc.gml.map.ThemeInfoCommand" style="radio"/>
             -->
             <separator name="crossSectionActions" visible="true"/>
             <command commandId="org.kalypso.ogc.gml.map.PanToSelectedFeatureCommand" style="push"/>
             <command commandId="org.kalypso.ui.map.selectPreviousFeatureCommand" style="push"/>
             <command commandId="org.kalypso.ui.map.selectNextFeatureCommand" style="push"/>
             
             <separator name="actions" visible="true"/>
             <command commandId="org.kalypso.ogc.gml.map.FullExtentCommand" style="push"/>
             <command commandId="org.kalypso.ogc.gml.map.ZoomInStaticCommand" style="push"/>
             <command commandId="org.kalypso.ogc.gml.map.ZoomOutCommand" style="push"/>
             <!--
             <dynamic id="org.kalypso.ogc.gml.map.move">
                <class
                      class="org.kalypso.contribs.eclipse.ui.actions.DropDownToolbarItem">
                   <parameter name="command1" value="org.kalypso.ogc.gml.map.MoveLeftCommand"/>
                   <parameter name="command2" value="org.kalypso.ogc.gml.map.MoveUpCommand"/>
                   <parameter name="command3" value="org.kalypso.ogc.gml.map.MoveDownCommand"/>
                   <parameter name="command4" value="org.kalypso.ogc.gml.map.MoveRightCommand"/>
                </class>
             </dynamic>
             -->
             <command commandId="org.kalypso.ogc.gml.map.ExtentHistoryPrevCommand" style="push"/>
             <command commandId="org.kalypso.ogc.gml.map.ExtentHistoryNextCommand" style="push"/>

             <separator name="mapExport" visible="true"/>
             <command commandId="org.kalypso.ogc.gml.map.Screenshot" style="push"/>
             <command commandId="org.kalypso.ogc.gml.map.ExportPdfCommand" style="push"/>
          </menuContribution>
    </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.kalypso.model.wspm.pdb.ui.commands.categories.MapCategory"
            name="Cross Sections Map Commands">
      </category>
      <command
            categoryId="org.kalypso.model.wspm.pdb.ui.commands.categories.MapCategory"
            id="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.SelectPdbProfiles"
            name="Select Cross Sections">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.SelectPdbProfiles">
         <class
               class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.model.wspm.pdb.ui.internal.wspm.SelectPdbProfilesWidget">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.icon"
                  value="icons/selectProfileWidget.gif">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.tooltip"
                  value="Select Cross Sections">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
                  value="org.kalypso.model.wspm.pdb.ui">
            </parameter>
         </class>
      </handler>
    </extension>         
   
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="toolbar:org.kalypso.model.wspm.tuhh.ui.light.WspmMapViewPart.outline">
            <separator name="outline" visible="false"/>
            <command commandId="org.kalypso.ui.map.outline.command.CollapseOutline" style="push"/>
        
            <separator name="theme" visible="true"/>
            <command commandId="org.kalypso.ui.map.outline.command.OpenWmsWizardCommand" style="push"/>
            <command commandId="org.kalypso.ui.map.outline.command.RemoveTheme" style="push"/>
            <command commandId="org.kalypso.ui.map.outline.command.MoveThemeDown" style="push"/>
            <command commandId="org.kalypso.ui.map.outline.command.MoveThemeUp" style="push"/>

            <separator name="navigation" visible="true"/>
            <command commandId="org.kalypso.ui.map.outline.command.ZoomToSelectedTheme" style="push"/>

            <separator name="style" visible="true"/>

            <separator name="additions" visible="true"/>
        </menuContribution>

        <menuContribution locationURI="popup:org.kalypso.model.wspm.tuhh.ui.light.WspmMapViewPart.outline">
            <command commandId="org.kalypso.ui.views.outline.LegendExport" style="push"/>
            <separator name="additions" visible="false"/>
        </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="WspmLightPerspective">
          <view
                closeable="false"
                id="PdbView"
                minimized="false"
                moveable="false"
                relationship="stack"
                relative="org.kalypso.model.wspm.tuhh.ui.light.WspmGmvViewPart"
                showTitle="true"
                standalone="false"
                visible="true">
          </view>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="org.kalypso.model.wspm.pdb.ui.internal.PdbStartup">
       </startup>
    </extension>

   
</plugin>
