<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.kalypso.model.wspm.ui.preferences.KalypsoWspmPreferencePage"
            class="org.kalypso.model.wspm.pdb.ui.internal.preferences.WspmPdbPreferencePage"
            id="WspmPdbPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.kalypso.model.wspm.pdb.ui.viewCategory"
            name="%category.name"
            parentCategory="org.kalypso.ui.kalypso">
      </category>
      <view
            allowMultiple="false"
            category="org.kalypso.model.wspm.pdb.ui.viewCategory"
            class="org.kalypso.model.wspm.pdb.ui.internal.content.PdbView"
            icon="icons/pdb.gif"
            id="PdbView"
            name="%view.name"
            restorable="true">
      </view>
   </extension>

   <extension point="org.eclipse.ui.menus">
       <menuContribution allPopups="false" locationURI="toolbar:org.kalypso.model.wspm.tuhh.ui.light.WspmMapViewPart?before=widgets" >
             <command commandId="org.kalypso.ogc.gml.map.CoverageManagementCommand" style="radio"/>
             <command commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.CreateProfileFromDEM" style="radio">
                <visibleWhen checkEnabled="true"/>
             </command>
             <command commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.SelectPdbProfiles" style="radio" label="" 
                      tooltip="%org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.SelectPdbProfiles.tooltip"/>
       </menuContribution>
    </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.kalypso.model.wspm.pdb.ui.commands.categories.MapCategory"
            name="%category.name.0">
      </category>
      <command name="%org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.SelectPdbProfiles.tooltip" categoryId="org.kalypso.model.wspm.pdb.ui.commands.categories.MapCategory" id="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.SelectPdbProfiles"/>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.SelectPdbProfiles">
         <class
               class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                  value="org.kalypso.model.wspm.pdb.ui.internal.wspm.SelectPdbProfilesWidget">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.icon"
                  value="icons/selectProfileWidget.gif">
            </parameter>
            <parameter
                  name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
                  value="org.kalypso.model.wspm.pdb.ui">
            </parameter>
         </class>
      </handler>
    </extension>         
   
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="WspmLightPerspective">
          <view
                closeable="false"
                id="PdbView"
                minimized="false"
                moveable="false"
                relationship="stack"
                relative="org.kalypso.model.wspm.tuhh.ui.light.WspmGmvViewPart"
                showTitle="true"
                standalone="false"
                visible="true">
          </view>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="org.kalypso.model.wspm.pdb.ui.internal.PdbStartup">
       </startup>
    </extension>

  <!-- GML TREE -->
  <extension point="org.eclipse.ui.commands">
     <command
           categoryId="org.kalypso.ogc.gml.gmltree.category"
           description="%command.description"
           id="org.kalypso.model.wspm.pdb.ui.gmvtree.command.checkinPdb"
           name="%command.name.0"/>
  </extension>
  <extension point="org.eclipse.ui.commandImages">
     <image commandId="org.kalypso.model.wspm.pdb.ui.gmvtree.command.checkinPdb" icon="icons/checkinState.gif"/>
  </extension>
  <extension point="org.eclipse.ui.handlers">
     <handler commandId="org.kalypso.model.wspm.pdb.ui.gmvtree.command.checkinPdb" class="org.kalypso.model.wspm.pdb.ui.internal.wspm.CheckinPdbHandler">
        <enabledWhen>
            <reference definitionId="checkinPdbDefinition"/>
        </enabledWhen>
     </handler>
  </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution allPopups="false" locationURI="toolbar:org.kalypso.model.wspm.tuhh.ui.light.WspmGmvViewPart?after=data">
       <command commandId="org.kalypso.model.wspm.pdb.ui.gmvtree.command.checkinPdb" style="push">
         <visibleWhen checkEnabled="false">
            <reference definitionId="checkinPdbDefinition"/>
         </visibleWhen>
       </command>
    </menuContribution>

    <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?before=gmlToolsEnd">
       <command commandId="org.kalypso.model.wspm.pdb.ui.gmvtree.command.checkinPdb" style="push">
         <visibleWhen checkEnabled="true">
         <!--
            <reference definitionId="isPdbAdmin"/>
            -->
         </visibleWhen>
       </command>
    </menuContribution>
  </extension>
  <extension point="org.kalypso.ui.exportWizards">
      <category id="pdbWizardsCategory" name="%category.name.1"/>
     <wizard
           category="exportWizards/profileExportWizards"
           class="org.kalypso.model.wspm.pdb.ui.internal.wspm.LocalDataProjectExport"
           icon="icons/exportLocalAsWspm.gif"
           id="org.kalypso.model.wspm.pdb.ui.internal.wspm.LocalDataProjectExport"
           name="%org.kalypso.model.wspm.pdb.ui.internal.wspm.LocalDataProjectExport.name">
           <description>%org.kalypso.model.wspm.pdb.ui.internal.wspm.LocalDataProjectExport.description</description>
     </wizard>
     <wizard
           category="exportWizards/profileExportWizards"
           class="org.kalypso.model.wspm.pdb.ui.internal.gaf.GafExportProfilesWizard"
           icon="icons/export_gaf.gif"
           id="org.kalypso.model.wspm.pdb.ui.internal.gaf.GafExportProfilesWizard"
           name="%org.kalypso.model.wspm.pdb.ui.internal.gaf.GafExportProfilesWizard.name">
        <description>
           %org.kalypso.model.wspm.pdb.ui.internal.gaf.GafExportProfilesWizard.description
        </description>
     </wizard>
      <wizard
          id="org.kalypso.model.wspm.pdb.ui.internal.wspm.CheckinWspmWizard"
          class="org.kalypso.model.wspm.pdb.ui.internal.wspm.CheckinWspmWizard"
          icon="icons/wspmLight.gif"
          category="pdbWizardsCategory"
          name="%wizard.name.0">
          <description>%wizard.description.0</description>
      </wizard>
      
      <!-- Update state and checkin state now are the same functionality
      TODO: remove UpdatePdbCrossSectionsWizard and all dependencies as soon as TLUG is satisfied with that...
       -->
      <wizard
          id="org.kalypso.model.wspm.pdb.ui.internal.wspm.UpdatePdbCrossSectionsWizard"
          class="org.kalypso.model.wspm.pdb.ui.internal.wspm.CheckinWspmWizard"
          icon="icons/wspmLight.gif"
          category="pdbWizardsCategory"
          name="%UpdatePdbCrossSectionsWizard.name">
          <description>%UpdatePdbCrossSectionsWizard.description</description>
      </wizard>
      <!--
      <wizard
          id="org.kalypso.model.wspm.pdb.ui.internal.wspm.UpdatePdbCrossSectionsWizard"
          class="org.kalypso.model.wspm.pdb.ui.internal.wspm.UpdatePdbCrossSectionsWizard"
          icon="icons/wspmLight.gif"
          category="pdbWizardsCategory"
          name="%UpdatePdbCrossSectionsWizard.name">
          <description>%UpdatePdbCrossSectionsWizard.description</description>
      </wizard>
      -->
  </extension>
  <extension point="org.kalypso.contribs.eclipsercp.wizardEnablement">
        <wizardEnablement wizardID="org.kalypso.model.wspm.pdb.ui.internal.wspm.LocalDataProjectExport">
           <enablement>
           <!-- FIXME: instead: rootFeature is wspm model --> 
           <!-- AND: we are in WSM light mode... -->
              <and>
                 <test
                       property="org.kalypso.model.wspm.pdb.ui.localData.localProjectPresent">
                 </test>
                 <with variable="activePart">
                    <instanceof value="org.kalypso.model.wspm.tuhh.ui.light.WspmGmvViewPart"/>
                 </with>
                 <with variable="selection">
                    <iterate ifEmpty="false" operator="or">
                       <test property="org.kalypso.gml.rootQName" value="{org.kalypso.model.wspmproj}WspmProject"/>
                    </iterate>
                 </with>
                 <with variable="activeWorkbenchWindow.activePerspective">
                    <equals value="WspmLightPerspective"/>
                 </with>
              </and>
           </enablement>
        </wizardEnablement>
        <wizardEnablement wizardID="org.kalypso.model.wspm.pdb.ui.internal.gaf.GafExportProfilesWizard">
               <enablement>
                  <reference
                        definitionId="org.kalypso.model.wspm.ui.definition.selectionHasProfiles">
                  </reference>
               </enablement>
        </wizardEnablement>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.kalypso.model.wspm.pdb.ui.internal.wspm.LocalDataPropertyTest"
           id="org.kalypso.model.wspm.pdb.ui.propertyTester"
           namespace="org.kalypso.model.wspm.pdb.ui.localData"
           properties="localProjectPresent"
           type="java.lang.Object">
     </propertyTester>
  </extension>
  
  <extension point="org.eclipse.core.expressions.definitions">
     <definition id="isPdbViewVisible">
          <with variable="activeWorkbenchWindow">
             <test property="org.kalypso.ui.window.isViewVisible" value="PdbView"/>
          </with>
     </definition>
     <definition id="isPdbAdmin">
          <with variable="activeWorkbenchWindow">
              <or>
                  <test property="pdbTester.hasRole" value="superuser"/>
                  <test property="pdbTester.hasRole" value="fadmin"/>
              </or>
          </with>
     </definition>
     <definition id="isPdbAdminAndPdbViewVisible">
          <and>
            <reference definitionId="isPdbViewVisible"/>
            <reference definitionId="isPdbAdmin"/>
          </and>
     </definition>
     <definition id="onePdbElementSelected">
           <and>
              <reference definitionId="isPdbAdmin"/>
              <with variable="selection">
                 <and> 
                    <count value="1"/>
                    <iterate ifEmpty="false" operator="and">
                        <or>
                           <instanceof value="org.kalypso.model.wspm.pdb.db.mapping.WaterBody"/>
                           <instanceof value="org.kalypso.model.wspm.pdb.db.mapping.State"/>
                           <instanceof value="org.kalypso.model.wspm.pdb.db.mapping.Event"/>
                       </or>
                    </iterate>
                 </and>
              </with>
           </and>
     </definition>
     <definition
           id="checkinPdbDefinition">
            <and>
                <reference definitionId="isPdbAdmin"/>
                <with variable="selection">
                    <and>
                        <count value="1"/>
                        <or>
                            <iterate operator="and">
                                <instanceof value="org.kalypso.model.wspm.tuhh.core.gml.TuhhReach"/>
                            </iterate>
                            <iterate operator="and">
                                <instanceof value="org.kalypso.model.wspm.core.gml.WspmFixation"/>
                            </iterate>
                        </or>
                    </and>
                </with>
            </and>
     </definition>
  </extension>
  
  <extension point="org.kalypso.ui.importWizards">
      <category id="pdbWizardsCategory" name="%category.name.2"/>
      <wizard
            category="pdbWizardsCategory"
            class="org.kalypso.model.wspm.pdb.ui.internal.admin.gaf.ImportGafWizard"
            icon="icons/state.gif"
            id="org.kalypso.model.wspm.pdb.ui.internal.admin.gaf.ImportGafWizard"
            name="%wizard.name.1">
        <description>%wizard.description.1</description>
      </wizard>
      <wizard category="pdbWizardsCategory" class="org.kalypso.model.wspm.pdb.ui.internal.admin.waterbody.imports.ImportWaterBodiesWizard" id="org.kalypso.model.wspm.pdb.ui.internal.admin.waterbody.imports.ImportWaterBodiesWizard" name="%wizard.name.2" icon="icons/waterBody.png">
        <description>%wizard.description.2</description>
      </wizard>
      <wizard category="pdbWizardsCategory" class="org.kalypso.model.wspm.pdb.ui.internal.admin.waterbody.imports.WspmImportWaterBodiesWizard"
            icon="icons/waterBody.png" id="org.kalypso.model.wspm.pdb.ui.internal.admin.waterbody.imports.WspmImportWaterBodiesWizard"
            name="%wizard.name.6">
         <description> %wizard.description.6</description>
      </wizard>
      <wizard category="pdbWizardsCategory" class="org.kalypso.model.wspm.pdb.ui.internal.admin.waterbody.imports.ImportWaterLevelsWizard" id="org.kalypso.model.wspm.pdb.ui.internal.admin.waterbody.imports.ImportWaterLevelsWizard" name="%wizard.name.3" icon="icons/event.gif">
        <description>%wizard.description.3</description>
      </wizard>
      <wizard
            category="pdbWizardsCategory"
            class="org.kalypso.model.wspm.pdb.ui.internal.admin.attachments.profiles.ProfilesAttachmentsWizard"
            icon="icons/attachment.png"
            id="org.kalypso.model.wspm.pdb.ui.internal.admin.attachments.profiles.ProfilesAttachmentsWizard"
            name="%wizard.name.4">
         <description>
            %wizard.description.4
         </description>
      </wizard>
      <wizard
            category="pdbWizardsCategory"
            class="org.kalypso.model.wspm.pdb.ui.internal.admin.attachments.documents.DocumentsAttachmentsWizard"
            icon="icons/attachment.png"
            id="org.kalypso.model.wspm.pdb.ui.internal.admin.attachments.documents.StateAttachmentsWizard"
            name="%wizard.name.7">
         <description>
            %wizard.description.7
         </description>
      </wizard>
      <wizard
            category="pdbWizardsCategory"
            class="org.kalypso.model.wspm.pdb.ui.internal.admin.attachments.documents.DocumentsAttachmentsWizard"
            icon="icons/attachment.png"
            id="org.kalypso.model.wspm.pdb.ui.internal.admin.attachments.documents.WaterBodyAttachmentsWizard"
            name="%wizard.name.8">
         <description>
            %wizard.description.8
         </description>
      </wizard>
      
      <wizard
          id="org.kalypso.model.wspm.pdb.ui.internal.checkout.CheckoutWspmWizard"
          class="org.kalypso.model.wspm.pdb.ui.internal.checkout.CheckoutWspmWizard"
          icon="icons/wspmLight.gif"
          category="pdbWizardsCategory"
          name="%wizard.name.5">
          <description>%wizard.description.5</description>
      </wizard>
  </extension>
  <extension point="org.kalypso.contribs.eclipsercp.wizardEnablement">
    <wizardEnablement wizardID="org.kalypso.model.wspm.pdb.ui.internal.admin.gaf.ImportGafWizard">
       <enablement>
              <reference definitionId="isPdbAdminAndPdbViewVisible"/>
       </enablement>
    </wizardEnablement>
    <wizardEnablement wizardID="org.kalypso.model.wspm.pdb.ui.internal.admin.waterbody.imports.ImportWaterBodiesWizard">
       <enablement>
              <reference definitionId="isPdbAdminAndPdbViewVisible"/>
       </enablement>
    </wizardEnablement>
    <wizardEnablement wizardID="org.kalypso.model.wspm.pdb.ui.internal.admin.waterbody.imports.WspmImportWaterBodiesWizard">
       <enablement>
          <and>
            <with variable="activeWorkbenchWindow.activePerspective">
                <not>
                    <equals value="WspmLightPerspective"/>
                </not>
            </with>
            <with variable="selection">
                <and>>
                    <count value="1"/>
                    <iterate operator="and" ifEmpty="false">
                        <or>
                            <test property="org.kalypso.gml.qname" value="{org.kalypso.model.wspmproj}WspmProject" />
                            <test property="org.kalypso.gml.targetQName" value="{org.kalypso.model.wspm}WaterBody" />
                            <test property="org.kalypso.gml.qname" value="{org.kalypso.model.wspm}WaterBody" />
                            <test property="org.kalypso.gml.targetQName" value="{org.kalypso.model.wspmprofile}Profile" />
                            <test property="org.kalypso.gml.targetQName" value="{org.kalypso.model.wspm}AbstractReach" />
                            <test property="org.kalypso.gml.qname" value="{org.kalypso.model.wspm.tuhh}ReachWspmTuhhSteadyState" />
                        </or>
                    </iterate>
                </and>
            </with>
          </and>
       </enablement>
    </wizardEnablement>
    <wizardEnablement wizardID="org.kalypso.model.wspm.pdb.ui.internal.admin.waterbody.imports.ImportWaterLevelsWizard">
       <enablement>
              <reference definitionId="isPdbAdminAndPdbViewVisible"/>
       </enablement>
    </wizardEnablement>
    <wizardEnablement
          wizardID="org.kalypso.model.wspm.pdb.ui.internal.admin.attachments.profiles.ProfilesAttachmentsWizard">
       <enablement>
          <and>
             <reference definitionId="isPdbAdminAndPdbViewVisible"/>
             <with variable="selection">
                <and>
                   <count value="1"/>
                   <iterate>
                      <instanceof value="org.kalypso.model.wspm.pdb.db.mapping.State"/>
                   </iterate>
                </and>
             </with>
          </and></enablement>
    </wizardEnablement>
    <wizardEnablement
          wizardID="org.kalypso.model.wspm.pdb.ui.internal.admin.attachments.documents.StateAttachmentsWizard">
       <enablement>
          <and>
             <reference definitionId="isPdbAdminAndPdbViewVisible"/>
             <with variable="selection">
                <and>
                   <count value="1"/>
                   <iterate>
                      <instanceof value="org.kalypso.model.wspm.pdb.db.mapping.State"/>
                   </iterate>
                </and>
             </with>
          </and></enablement>
    </wizardEnablement>
    <wizardEnablement
          wizardID="org.kalypso.model.wspm.pdb.ui.internal.admin.attachments.documents.WaterBodyAttachmentsWizard">
       <enablement>
          <and>
             <reference definitionId="isPdbAdminAndPdbViewVisible"/>
             <with variable="selection">
                <and>
                   <count value="1"/>
                   <iterate>
                      <instanceof value="org.kalypso.model.wspm.pdb.db.mapping.WaterBody"/>
                   </iterate>
                </and>
             </with>
          </and></enablement>
    </wizardEnablement>
    <wizardEnablement wizardID="org.kalypso.model.wspm.pdb.ui.internal.checkout.CheckoutWspmWizard">
       <enablement>
          <and>
            <with variable="activeWorkbenchWindow.activePerspective">
                <not>
                    <equals value="WspmLightPerspective"/>
                </not>
            </with>
            <with variable="selection">
                <iterate operator="and" ifEmpty="false">
                    <test property="org.kalypso.gml.rootQName" value="{org.kalypso.model.wspmproj}WspmProject" />
                </iterate>
            </with>
          </and>
       </enablement>
    </wizardEnablement>
    <wizardEnablement wizardID="org.kalypso.model.wspm.pdb.ui.internal.wspm.CheckinWspmWizard">
       <enablement>
          <and>
            <with variable="activeWorkbenchWindow.activePerspective">
                <not>
                    <equals value="WspmLightPerspective"/>
                </not>
            </with>
            <with variable="selection">
                <and>>
                    <count value="1"/>
                    <iterate operator="and" ifEmpty="false">
                        <or>
                            <test property="org.kalypso.gml.qname" value="{org.kalypso.model.wspm.tuhh}ReachWspmTuhhSteadyState" />
                            <test property="org.kalypso.gml.qname" value="{org.kalypso.model.wspmrunoff}WaterlevelFixation" />
                            <test property="org.kalypso.gml.qname" value="{org.kalypso.model.wspm.tuhh}CalculationWspmTuhhSteadyState" />
                        </or>
                    </iterate>
                </and>
            </with>
          </and>
       </enablement>
    </wizardEnablement>
    <wizardEnablement wizardID="org.kalypso.model.wspm.pdb.ui.internal.wspm.UpdatePdbCrossSectionsWizard">
       <enablement>
            <with variable="selection">
                <and>>
                    <count value="1"/>
                    <iterate operator="and" ifEmpty="false">
                        <or>
                            <test property="org.kalypso.gml.qname" value="{org.kalypso.model.wspm.tuhh}ReachWspmTuhhSteadyState" />
                        </or>
                    </iterate>
                </and>
            </with>
       </enablement>
    </wizardEnablement>
  </extension>
  
  <!-- Commands on PDB elements -->
  <extension point="org.eclipse.ui.commands">
     <category id="pdbCommands" name="%category.name.3"/>
     <command categoryId="pdbCommands" description="%command.description.0" id="org.kalypso.model.wspm.pdb.ui.command.editElement" name="%command.name.1"/>
     <command categoryId="pdbCommands" description="%command.description.1" id="org.kalypso.model.wspm.pdb.ui.command.removeElement" name="%command.name.2"/>
     <command
           categoryId="pdbCommands"
           description="%command.description.2"
           id="org.kalypso.model.wspm.pdb.ui.command.addWaterBody"
           name="%command.name.3">
     </command>
     <command
           categoryId="pdbCommands"
           description="%command.description.3"
           id="org.kalypso.model.wspm.pdb.ui.command.download"
           name="%command.name.4">
     </command>
  </extension>
  <extension point="org.eclipse.ui.commandImages">
     <image commandId="org.kalypso.model.wspm.pdb.ui.command.editElement" icon="icons/editElement.gif"/>
     <image commandId="org.kalypso.model.wspm.pdb.ui.command.removeElement" icon="icons/removeElement.png"/>
     <image
           commandId="org.kalypso.model.wspm.pdb.ui.command.addWaterBody"
           icon="icons/createWaterBody.png">
     </image>
     <image
           commandId="org.kalypso.model.wspm.pdb.ui.command.download"
           icon="icons/download.gif">
     </image>
  </extension>
  <extension point="org.eclipse.ui.handlers">
     <handler class="org.kalypso.model.wspm.pdb.ui.internal.content.EditElementHandler" commandId="org.kalypso.model.wspm.pdb.ui.command.editElement">
        <enabledWhen>
           <reference definitionId="onePdbElementSelected"/>
        </enabledWhen>
     </handler>
     <handler class="org.kalypso.model.wspm.pdb.ui.internal.content.RemoveElementHandler" commandId="org.kalypso.model.wspm.pdb.ui.command.removeElement">
        <enabledWhen>
           <reference definitionId="onePdbElementSelected"/>
        </enabledWhen>
     </handler>
     <handler
           class="org.kalypso.model.wspm.pdb.ui.internal.admin.waterbody.AddWaterBodyHandler"
           commandId="org.kalypso.model.wspm.pdb.ui.command.addWaterBody">
        <enabledWhen>
           <reference
                 definitionId="isPdbAdminAndPdbViewVisible">
           </reference>
        </enabledWhen>
     </handler>
     <handler class="org.kalypso.model.wspm.pdb.ui.internal.checkout.CheckoutPdbHandler"
           commandId="org.kalypso.model.wspm.pdb.ui.command.download">
        <enabledWhen>
           <reference definitionId="isPdbViewVisible"/>
        </enabledWhen>
     </handler>
  </extension>
  <extension point="org.eclipse.ui.menus">
     <menuContribution allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.addWaterBody" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.editElement" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.removeElement" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
        <separator name="pdbElementsEnd" visible="true"/>
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.download" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
     </menuContribution>
     <menuContribution allPopups="false" locationURI="toolbar:org.kalypso.model.wspm.pdb.ui.content">
        <command commandId="org.kalypso.ui.command.import" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
        <separator name="pdbElements" visible="true"/>
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.addWaterBody" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.editElement" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.removeElement" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
        <separator name="pdbElementsEnd" visible="true"/>
        <command commandId="org.kalypso.model.wspm.pdb.ui.command.download" style="push">
           <visibleWhen checkEnabled="true"/>
        </command>
     </menuContribution>
  </extension>
  <extension point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.kalypso.model.wspm.pdb.ui.internal.admin.PdbPropertyTester"
           id="org.kalypso.model.wspm.pdb.ui.internal.admin.PdbPropertyTester"
           namespace="pdbTester"
           properties="hasRole"
           type="org.eclipse.ui.IWorkbenchWindow">
     </propertyTester>
  </extension>
  <extension
        point="org.eclipse.help.toc">
     <toc
           file="$nl$/toc.xml"
           primary="true">
     </toc>
  </extension>
  <extension
        point="org.eclipse.help.contexts">
     <contexts
           file="$nl$/contexts.xml">
     </contexts>
  </extension>
  <extension
        point="org.kalypso.gml.ui.coverageManagementAction">
     <action
           class="org.kalypso.model.wspm.pdb.ui.internal.tin.imports.ImportFromExternalLocationCmAction"
           id="org.kalypso.model.wspm.pdb.ui.internal.tin.imports.ImportFromExternalLocationCmAction"
           role="widget">
     </action>
     <action
           class="org.kalypso.model.wspm.pdb.ui.internal.tin.exports.ExportToExternalLocationCmAction"
           id="org.kalypso.model.wspm.pdb.ui.internal.tin.exports.ExportToExternalLocationCmAction"
           role="wizard">
     </action>
  </extension>   
</plugin>
