<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.metadoc"
   name="org.kalypso.metadoc Plug-in"
   version="1.0.0"
   provider-name="kalypso.org"
   class="org.kalypso.metadoc.KalypsoMetaDocPlugin">

   <runtime>
      <library name="org.kalypso.metadoc.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-configuration-1.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-collections/commons-collections-3.1.jar">
         <export name="*"/>
      </library>
      <library name="lib/commons-logging.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.kalypso.commons"/>
      <import plugin="org.kalypso.jwsdp"/>
   </requires>
   <extension-point id="exportTarget" name="exportTarget" schema="schema/exportTarget.exsd"/>
   <extension-point id="exporter" name="exporter" schema="schema/exporter.exsd"/>
   <extension
         point="org.kalypso.metadoc.exportTarget">
      <target
            icon="icons/file_obj.gif"
            class="org.kalypso.metadoc.impl.FileExportTarget"
            description="%fileTarget.description"
            name="%fileTarget.name"
            id="fileTarget"/>
   </extension>
   <extension
         point="org.kalypso.metadoc.exporter">
      <exporter
            icon="icons/sample.gif"
            class="org.kalypso.metadoc.impl.EmptyExporter"
            description="%emptyExporter.description"
            name="%emptyExporter.name"
            id="emptyExporter"/>
      <exporter
            icon="icons/sample.gif"
            class="org.kalypso.metadoc.impl.MultiExporter"
            description="%multiExporter.description"
            name="%multiExporter.name"
            id="multiExporter"/>
   </extension>

</plugin>
