<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="rainfallConfigurator" name="rainfallConfigurator" schema="schema/rainfallConfigurator.exsd"/>
   <extension point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <nextCatalog catalog="etc/schema/catalog.xml"/>
      </catalogContribution>
   </extension>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.model.rcm.internal.UrlCatalogRcm"
            id="org.kalypso.model.rcm.UrlCatalogRcm">
      </catalog>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.kalypso.model.rcm.ant.RainfallGenerationTask"
            library="lib/anttasks.jar"
            name="kalypso.rainfallGeneration">
      </antTask>
   </extension>
   <extension
         point="org.kalypso.deegree.featureBinding">
      <feature
            class="org.kalypso.model.rcm.internal.binding.Ombrometer"
            qname="{org.kalypso.model.rcm.ombrometer}Ombrometer">
      </feature>
      <feature
            class="org.kalypso.model.rcm.internal.binding.OmbrometerCollection"
            qname="{org.kalypso.model.rcm.ombrometer}OmbrometerCollection">
      </feature>
      <feature
            class="org.kalypso.model.rcm.internal.binding.OmbrometerRainfallGenerator"
            qname="{org.kalypso.model.rcm.v2}OmbrometerRainfallGenerator">
      </feature>
      <feature
            class="org.kalypso.model.rcm.internal.binding.InverseDistanceRainfallGenerator"
            qname="{org.kalypso.model.rcm.v2}InverseDistanceRainfallGenerator">
      </feature>
      <feature
            class="org.kalypso.model.rcm.internal.binding.RainfallCatchmentModel"
            qname="{org.kalypso.model.rcm.v2}RainfallCatchmentModel">
      </feature>
      <feature
            class="org.kalypso.model.rcm.internal.binding.Metadata"
            qname="{org.kalypso.model.rcm.v2}Metadata">
      </feature>
      <feature
            class="org.kalypso.model.rcm.internal.binding.DateRange"
            qname="{org.kalypso.model.rcm.v2}DateRange">
      </feature>
      <feature
            class="org.kalypso.model.rcm.internal.binding.Target"
            qname="{org.kalypso.model.rcm.v2}Target">
      </feature>
   </extension>

</plugin>
