<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogModelSimulationBase"
            id="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogModelSimulationBase"/>
      <catalog
            class="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogRoughness"
            id="org.kalypso.kalypsosimulationmodel.schema.UrlCatalogRoughness"/>
   </extension>
   
   <extension
         point="org.kalypso.deegree.functionProperty">
      <function
            class="org.kalypso.kalypsosimulationmodel.core.terrainmodel.geom.TerrainElevationShapeGeometry"
            id="org.kalypso.kalypsosimulationmodel.core.terrainmodel.geom.TerrainElevationShapeGeometry"
            name="Native-Terrain-Elevation-Shape-Builder"/>
   </extension>
   <extension
         point="org.kalypso.deegree.functionProperty">
      <function
            class="org.kalypso.kalypsosimulationmodel.core.wind.geom.WindDataShapeGeometry"
            id="org.kalypso.kalypsosimulationmodel.core.wind.geom.WindDataShapeGeometry"
            name="Native-Wind-Data-Shape-Builder"/>
   </extension>
   <extension point="org.kalypso.ui.featureViewExtensionControl">
    <extensionControl class="org.kalypso.kalypsosimulationmodel.ui.calccore.ChooseExeControlFactory"
      					id="org.kalypso.kalypsosimulationmodel.ui.calccore.ChooseExeControlFactory">
    </extensionControl>
   </extension>
   <extension
         point="org.kalypso.deegree.featureBinding">
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.flowrel.FlowRelationshipModel"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}FlowRelationshipModel">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.terrainmodel.RiverProfileNetwork"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}RiverProfileNetwork">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.terrainmodel.RiverProfileNetworkCollection"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}RiverProfileNetworkCollection">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.terrainmodel.RoughnessLayer"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}RoughnessLayer">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.terrainmodel.TerrainModel"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}TerrainModel">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.terrainmodel.TerrainElevationModelSystem"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}TerrainElevationModelSystem">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.terrainmodel.NativeTerrainElevationModelWrapper"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}NativeTerrainElevationModelWrapper">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.wind.WindModel"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}WindModel">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.wind.NativeWindDataModelWrapper"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}NativeWindDataModelWrapper">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.wind.WindDataModelSystem"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}WindDataModelSystem">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.terrainmodel.RoughnessPolygon"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}RoughnessPolygon">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.terrainmodel.RiverProfileNetworkCollection"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/simulationbase}RiverProfileNetworkCollection">
      </feature>
   </extension>
   <extension
         point="org.kalypso.deegree.featureBinding">
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.roughness.RoughnessCls"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/roughness}RoughnessCls">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.roughness.RoughnessClsCorrection"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/roughness}RoughnessClsCorrection">
      </feature>
      <feature
            class="org.kalypso.kalypsosimulationmodel.core.roughness.RoughnessClsCollection"
            qname="{http://www.tu-harburg.de/wb/kalypso/schemata/roughness}RoughnessClsCollection">
      </feature>
   </extension>

    <extension point="org.kalypso.ui.addLayerWizard">
       <wizard
             class="org.kalypso.kalypsosimulationmodel.internal.ui.map.ImportShapeWorkflowWizard"
             icon="icons/file_shp.gif"
             id="shapeImportWorkflow"
             name="ESRI (tm) Shape">
         <description>%shapeImportWorkflow.description</description>
       </wizard>
       <wizard
             class="org.kalypso.kalypsosimulationmodel.internal.ui.map.ImportImageWorkflowWizard"
             icon="icons/file_image.gif"
             id="imageImportWorkflow"
             name="Georeferenced Image (TIFF, JPG, PNG)">
             <description>%imageImportWorkflow.description</description>
       </wizard>
    </extension>

 <extension point="org.kalypso.core.catalogContribution">
    <catalogContribution class="org.kalypso.kalypsosimulationmodel.internal.zml.catalog.ZmlDiagramCatalogContribution" name="urn:org:kalypso:simulation:base:diagramm:common"/>
  </extension>

</plugin>