///////////////////////////////////////////////////
//
// Include files
//
#include "winparam.h"
 
///////////////////////////////////////////////////
//
// Parameter Definitions
//
#define IDD_WEHR1                         101
#define IDD_WEHR2                         102
#define IDF_LABEL1                       1001
 
///////////////////////////////////////////////////
//
// Dialogs
//
IDD_WEHR1 DIALOG 0, 0,  250,  100
STYLE WS_POPUP | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_3DLOOK | DS_MODALFRAME
FONT    8, "MS Sans Serif"
CAPTION "Warnung"
BEGIN
    CONTROL "Fehlerhafte Bestimmung der Wehrlinie! Trennflächen müssen mit Wehranfangs- und -endpunkt übereinstimmen! \n\n Soll die Berechnung ohne dieses Wehr fortgesetzt werden?",IDF_LABEL1,"STATIC",WS_CHILD | WS_VISIBLE | SS_CENTER | SS_SUNKEN,   10,   10,  230,   50
    CONTROL "Weiter",IDOK,"BUTTON",WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON | BS_TEXT,    10,  70,   50,   20
    CONTROL "Abbruch",IDCANCEL,"BUTTON",WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON | BS_TEXT,  190,  70,   50,   20
END

IDD_WEHR2 DIALOG 0, 0,  250,  100
STYLE WS_POPUP | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_3DLOOK | DS_MODALFRAME
FONT    8, "MS Sans Serif"
CAPTION "Warnung"
BEGIN
    CONTROL "Fehlerhafte Bestimmung der Trennlinien im Wehr! \n\n Soll die Berechnung ohne dieses Wehr fortgesetzt werden?",IDF_LABEL1,"STATIC",WS_CHILD | WS_VISIBLE | SS_CENTER | SS_SUNKEN,   10,   10,  230,   50
    CONTROL "Weiter",IDOK,"BUTTON",WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_DEFPUSHBUTTON | BS_TEXT,    10,  70,   50,   20
    CONTROL "Abbruch",IDCANCEL,"BUTTON",WS_CHILD | WS_VISIBLE | WS_TABSTOP | BS_PUSHBUTTON | BS_TEXT,  190,  70,   50,   20
END


 
 
///////////////////////////////////////////////////
//
// Icons
//
//IDOK                            ICON   DISCARDABLE "ok.ico"
//IDCANCEL                        ICON   DISCARDABLE "cancel.ico"
 
