<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.ui"
   name="KalypsoUI"
   version="0.0.1"
   provider-name="org.kalypso"
   class="org.kalypso.ui.KalypsoGisPlugin">
   <runtime>
      <library name="KalypsoUi.jar">
         <export name="*"/>
      </library>
      <library name="lib/mail.jar">
         <export name="*"/>
      </library>
      <library name="lib/saaj-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/saaj-impl.jar">
         <export name="*"/>
      </library>
      <library name="lib/xercesImpl.jar">
         <export name="*"/>
      </library>
      <library name="lib/dom.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxp-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/jax-qname.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxrpc-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxrpc-impl.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxrpc-spi.jar">
         <export name="*"/>
      </library>
      <library name="lib/jcommon-0.9.5.jar">
         <export name="*"/>
      </library>
      <library name="lib/jfreechart-0.9.20.jar">
         <export name="*"/>
      </library>
      <library name="lib/kalypsoservice_observation.jar">
         <export name="*"/>
      </library>
      <library name="lib/activation.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.workbench" export="true"/>
      <import plugin="org.eclipse.jface" export="true"/>
      <import plugin="org.eclipse.core.resources" export="true"/>
      <import plugin="org.eclipse.ui.ide" export="true"/>
      <import plugin="org.eclipse.ui.views" export="true"/>
      <import plugin="org.eclipse.ui" export="true"/>
      <import plugin="org.eclipse.compare" export="true"/>
      <import plugin="org.eclipse.core.runtime" export="true"/>
      <import plugin="org.eclipse.debug.core" export="true"/>
      <import plugin="org.kalypso.util" export="true"/>
      <import plugin="org.kalypso.deegree" export="true"/>
      <import plugin="org.kalypso.core" export="true"/>
      <import plugin="org.eclipse.ui.forms" export="true"/>
      <import plugin="org.eclipse.debug.ui"/>
   </requires>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            icon="icons/kalypso_gmt.gif"
            class="org.kalypso.ui.editor.mapeditor.GisMapEditor"
            default="true"
            name="Kalypso Gisview Editor"
            id="org.kalypso.ui.editor.mapeditor.GisMapEditor"
            extensions="gmt"/>
      <editor
            class="org.kalypso.ui.editor.gistableeditor.GisTableEditor"
            icon="icons/kalypso_gtt.gif"
            default="true"
            contributorClass="org.kalypso.ui.editor.gistableeditor.GisTableEditorActionBarContributor"
            name="Kalypso GisTableEditor"
            id="org.kalypso.ui.editor.gistableeditor.GisTableEditor"
            extensions="gtt"/>
      <editor
            class="org.kalypso.ui.editor.diagrameditor.ObservationDiagramEditor"
            icon="icons/kalypso_odt.gif"
            default="true"
            name="Kalypso Observation DiagramEditor"
            id="org.kalypso.ui.editor.diagrameditor.ObservationDiagramEditor"
            extensions="odt"/>
      <editor
            class="org.kalypso.ui.editor.obstableeditor.ObservationTableEditor"
            icon="icons/kalypso_ott.gif"
            default="true"
            name="Kalypso Observation TableEditor"
            id="org.kalypso.ui.editor.obstableeditor.ObservationTableEditor"
            extensions="ott"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Kalypso"
            id="Kalypso"/>
      <view
            class="org.kalypso.ui.repository.view.RepositoryExplorerPart"
            icon="icons/observation_repository.gif"
            category="Kalypso"
            name="Zeitreihen Repository"
            id="org.kalypso.ui.repository.view.RepositoryExplorerPart"/>
      <view
            icon="icons/kalypso_odt.gif"
            class="org.kalypso.ogc.sensor.view.DiagramViewPart"
            category="Kalypso"
            name="Diagram QuickView"
            id="org.kalypso.ogc.sensor.view.DiagramViewPart"/>
      <view
            icon="icons/kalypso_ott.gif"
            class="org.kalypso.ogc.sensor.view.TableViewPart"
            category="Kalypso"
            name="Table QuickView"
            id="org.kalypso.ogc.sensor.view.TableViewPart"/>          
      <view
            icon="icons/full/elcl16/kde_filter.gif"
            class="org.kalypso.ui.editor.mapeditor.views.StyleEditorViewPart"
            category="Kalypso"
            name="Style Editor"
            id="org.kalypso.ui.editor.mapeditor.views.styleeditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.kalypso.ui.editor.gistableeditor.GisTableEditor"
            id="org.kalypso.ui.editor.gistableeditor.GisTableActionDelegate">
         <menu
               label="Tabelle"
               path="additions"
               id="org.kalypso.ui.editors.tableeditor.menu">
            <separator name="tabelle"/>
            <separator name="spalten"/>
         </menu>
         <action
               toolbarPath="tabelle"
               label="Zeile hinzufügen"
               tooltip="Fügt eine Zeile am Ende der Tabelle ein"
               class="org.kalypso.ui.editor.gistableeditor.actions.AddRowActionDelagate"
               style="push"
               menubarPath="org.kalypso.ui.editors.tableeditor.menu/tabelle"
               id="org.kalypso.ui.editors.tableeditor.AddRowAction"/>
         <action
               toolbarPath="tabelle"
               label="Zeile(n) löschen"
               tooltip="Löscht die selektierte(n) Zeile(n)"
               class="org.kalypso.ui.editor.gistableeditor.actions.RemoveRowsActionDelegate"
               style="push"
               menubarPath="org.kalypso.ui.editors.tableeditor.menu/tabelle"
               id="org.kalypso.ui.editors.tableeditor.RemoveRowsAction">
         </action>
         <action
               toolbarPath="tabelle"
               label="Daten speichern"
               class="org.kalypso.ui.editor.gistableeditor.actions.SaveDataActionDelagate"
               tooltip="Speichert die Daten der Tabelle"
               style="push"
               menubarPath="org.kalypso.ui.editors.tableeditor.menu/tabelle"
               id="org.kalypso.ui.editor.gistableeditor.SaveDataAction">
            <enablement>
               <objectState
                     value="true"
                     name="isLayerDirty"/>
            </enablement>
         </action>
         <action
               toolbarPath="tabelle"
               label="Bearbeitung beenden"
               tooltip="Beendet das Editieren der Tabellendaten"
               class="org.kalypso.ui.editor.gistableeditor.actions.StartEditingActionDelagate"
               menubarPath="org.kalypso.ui.editors.tableeditor.menu/tabelle"
               id="org.kalypso.ui.editor.gistableeditor.StartEditingAction">
         </action>
         <action
               toolbarPath="tabelle"
               label="Bearbeitung starten"
               tooltip="Startet das Editieren der Tabellendaten"
               class="org.kalypso.ui.editor.gistableeditor.actions.StartEditingActionDelagate"
               menubarPath="org.kalypso.ui.editors.tableeditor.menu/tabelle"
               id="org.kalypso.ui.editor.gistableeditor.StartEditingAction">
         </action>
         <menu
               label="Spalten"
               path="org.kalypso.ui.editors.tableeditor.menu/spalten"
               id="org.kalypso.ui.editors.tableeditor.columnmenu">
            <separator name="spaltenMenu"/>
         </menu>
         <action
               label="Exportieren..."
               class="org.kalypso.ui.editor.gistableeditor.actions.ExportActionDelegate"
               tooltip="Die Tabelle exportieren"
               style="push"
               menubarPath="org.kalypso.ui.editors.tableeditor.menu/tabelle"
               id="org.kalypso.ui.editor.gistableeditor.ExportAction"/>
      </editorContribution>
      <editorContribution
            targetID="org.kalypso.ui.editor.mapeditor.GisMapEditor"
            id="org.kalypso.ogc.widgets.GisMapEditorActionDelegate">
         <action
               toolbarPath="karte"
               label="volle Ausdehnung"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.FullExtentWidgetDelegate"
               icon="icons/full/elcl16/kde_window_fullscreen.gif"
               tooltip="Zoom to fullextent"
               style="push"
               id="org.kalypso.ui.editor.mapeditor.action.FullExtentAction"/>
         <action
               toolbarPath="karte"
               label="Ausschnitt verkleinern"
               tooltip="vergrößert den Kartenausschnitt"
               icon="icons/full/elcl16/kde_viewmag-.gif"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.ZoomOutWidgetDelegate"
               style="push"
               id="org.kalypso.ui.editor.mapeditor.action.ZoomOutAction"/>
         <action
               disabledIcon="icons/full/elcl16/kde_14_rectangle.gif"
               toolbarPath="karte"
               label="Ausschnitt vergrößern"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.ZoomInWidgetDelegate"
               tooltip="vergrößert den Kartenausschnitt"
               icon="icons/full/elcl16/kde_viewmag+.gif"
               style="radio"
               id="org.kalypso.ui.editor.mapeditor.action.ZoomInAction"/>
          <!-- zoomInByRect with start and endpoint bounds -->     
         <action
               toolbarPath="karte"
               label="Kartenausschnitt verschieben"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.PanToWidgetDelegate"
               icon="icons/full/elcl16/kde_move.gif"
               tooltip="verschiebt den Kartenausschnitt"
               style="radio"
               id="org.kalypso.ui.editor.mapeditor.action.PanAction"/>

         <action
               toolbarPath="karte"
               label="Create Geometry Feature"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.CreateGeometryFeatureWidgetDelegate"
               icon="icons/full/elcl16/kde_contexthelp.gif"
               tooltip="erzeugt features mit geometrie"
               style="radio"
               id="org.kalypso.ui.editor.mapeditor.action.CreateFeatureAction"/>

         <action
               toolbarPath="karte"
               label="Edit Feature"
               class="org.kalypso.ui.editor.mapeditor.actiondelegates.EditFeatureWidgetDelegate"
               icon="icons/full/elcl16/kde_contexthelp.gif"
               tooltip="editiert die Daten eines Features"
               style="radio"
               id="org.kalypso.ui.editor.mapeditor.action.EditFeatureAction"/>

          <action
                toolbarPath="karte"
                label="Elemente selektieren"
                class="org.kalypso.ui.editor.mapeditor.actiondelegates.SelectWidgetDelegate"
                tooltip="selektiert dinge"
                icon="icons/full/elcl16/kde_14_polyline.gif"
                style="radio"
                id="org.kalypso.ui.editor.mapeditor.action.SelectAction"/>
 	<action
        toolbarPath="karte"
        label="Elemente deselektieren"
        class="org.kalypso.ui.editor.mapeditor.actiondelegates.UnSelectWidgetDelegate"
        tooltip="deselektiert dinge"
        icon="icons/full/elcl16/kde_contents.gif"
        style="radio"
        id="org.kalypso.ui.editor.mapeditor.action.UnSelectAction"/>
	 <action
        toolbarPath="karte"
        label="Selektion umkehren"
        class="org.kalypso.ui.editor.mapeditor.actiondelegates.ToggleSelectWidgetDelegate"
        tooltip="umschalten"
        icon="icons/full/elcl16/kde_options.gif"
        style="radio"
        id="org.kalypso.ui.editor.mapeditor.action.ToggleSelectAction"/>
	  </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="org.kalypso.ui.editors.tableeditor.contextMenu"
            id="org.kalypso.ui.editors.tableeditor.popupMenu">
         <menu
               label="Menu"
               path="org.kalypso.ui.editors.tableeditor.popMenu"
               id="org.kalypso.ui.editors.tableeditor.popMenu.menu"/>
         <action
               label="AddRow"
               class="org.kalypso.ui.editor.gistableeditor.actions.AddRowActionDelagate"
               id="org.kalypso.tableeditor.AddRowAction"/>
        </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            selected="false"
            pattern="*.gml"/>
   </extension>
   <extension
         id="ModelNature"
         name="ModelNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.kalypso.ui.nature.ModelNature"/>
      </runtime>
      <options allowLinking="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Kalypso"
            id="org.kalypso.ui.wizardCategory"/>
      <wizard
            icon="icons/sample.gif"
            class="org.kalypso.ui.wizard.calccase.NewCalculationCaseWizard"
            category="org.kalypso.ui.wizardCategory"
            name="Rechenfall"
            id="org.kalypso.wizard.newCalcCase">
      </wizard>
      <wizard
            icon="icons/kalypso_gmt.gif"
            class="org.kalypso.ui.wizard.NewMapWizard"
            category="org.kalypso.ui.wizardCategory"
            name="Karte"
            id="org.kalypso.wizard.newMap"/>
      <wizard
            icon="icons/kalypso_gtt.gif"
            class="org.kalypso.ui.wizard.NewGttWizard"
            category="org.kalypso.ui.wizardCategory"
            name="Tabelle (GIS)"
            id="org.kalypso.wizard.newGtt"/>
      <wizard
            icon="icons/kalypso_odt.gif"
            class="org.kalypso.ui.wizard.NewOdtWizard"
            category="org.kalypso.ui.wizardCategory"
            name="Diagramm"
            id="org.kalypso.wizard.newOdt"/>
      <wizard
            icon="icons/kalypso_ott.gif"
            class="org.kalypso.ui.wizard.NewOttWizard"
            category="org.kalypso.ui.wizardCategory"
            name="Tabelle (Zeitreihen)"
            id="org.kalypso.wizard.newOtt"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.kalypso.ui.launcher.CalcCaseLaunchConfigurationDelegate"
            public="true"
            name="Modellrechnung"
            modes="run"
            id="org.kalypso.ui.launch.CalcCaseType"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Modellrechnung"
            class="org.kalypso.ui.launcher.CalcCaseLaunchShortcut"
            modes="run"
            id="org.kalypso.ui.launch.CalcCaseLaunchShortcut">
         <perspective id="org.eclipse.ui.resourcePerspective"/>
         <contextualLaunch>
            <contextLabel
                  label="Modellrechnung"
                  mode="run"/>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate >
                     <instanceof value="org.eclipse.core.resources.IFolder"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.ui.views.ResourceNavigator"
            id="org.kalypso.ogc.sensor.view.vc1">
         <action
               label="Grafik starten (mit Vorlage)"
               id="org.kalypso.ogc.sensor.view.resourceNavigator.GrafikViewActionDelegate"
               menubarPath="additions"
	           toolbarPath="additions" 
               icon="icons/grafik-icon.gif" 
               tooltip="Grafik-Tool anhand einer Vorlage starten" 
               class="org.kalypso.ogc.sensor.view.resourceNavigator.GrafikViewActionDelegate" 
               enablesFor="1"> 
			<selection class="org.eclipse.core.resources.IFile" name="*.odt"/>
   <selection
         class="org.eclipse.core.resources.IFile"
         name="*.tpl"/> 
	   	</action>

               
      </viewContribution>

   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            icon="icons/observation_repository.gif"
            class="org.kalypso.ui.perspectives.ObservationRepositoryPerspectiveFactory"
            name="Kalypso Observation Repositories"
            id="org.kalypso.ui.perspectives.ObservationRepositoryPerspectiveFactory"/>
      <perspective
            icon="icons/admin.gif"
            class="org.kalypso.ui.perspectives.AdminPerspectiveFactory"
            name="Kalypso Administrator"
            id="org.kalypso.ui.perspectives.AdminPerspectiveFactory"/>
      <perspective
            icon="icons/modeler.gif"
            class="org.kalypso.ui.perspectives.ModelerPerspectiveFactory"
            name="Kalypso Modeler"
            id="org.kalypso.ui.perspectives.ModelerPerspectiveFactory"/>
   </extension>
   <extension
         id="product"
         name="Kalypso Enterprise"
         point="org.eclipse.core.runtime.products">
      <product
            description="Kalypso Enterprise Modelling Machine"
            name="Kalypso Enterprise"
            application="org.kalypso.ui.application">
         <property
               value="Kalypso Enterprise Copyright 2004 by BCE Koblenz and TUHH"
               name="aboutText"/>
         <property
               value="etc/kalypso32.gif"
               name="aboutImage"/>
         <property
               value="etc/kalypso32.gif"
               name="featureImage"/>
         <property
               value="etc/kalypso16.gif"
               name="windowImage"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            icon="etc/kalypso16.gif"
            class="org.kalypso.ui.intro.ModelChooserIntro"
            id="modelIntro"/>
      <introProductBinding
            introId="modelIntro"
            productId="org.kalypso.ui.product"/>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.kalypso.ui.application.KalypsoApplication"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Kalypso Modell"
            description="Kalypso Modell Kommandos"
            visible="true"
            id="org.kalypso.actionSet.model">
         <menu
               label="Modell"
               path="additions"
               id="org.kalypso.menu.model">
            <groupMarker name="modelStart"/>
            <separator name="modelSep"/>
            <groupMarker name="calcCaseStart"/>
         </menu>
         <action
               label="Berechnung durchführen"
               tooltip="führt die Berechnung der selektierten Rechenvariante aus, bereits vorhandene Ergebnisdaten werden überschrieben"
               menubarPath="org.kalypso.menu.model/calcCaseStart"
               id="org.kalypso.action.model.runCalcCase"/>
         <action
               label="Rechenvariante anlegen"
               tooltip="legt eine Variante vom selektierten Rechenfall an"
               menubarPath="org.kalypso.menu.model/calcCaseStart"
               id="org.kalypso.action.model.copyCalcCase"/>
         <action
               retarget="false"
               label="Modellvariante anlegen"
               tooltip="legt eine Variante vom aktuelle gewählten Modell an"
               menubarPath="org.kalypso.menu.model/modelStart"
               id="org.kalypso.action.model.copyModel"/>

         <action
               label="Modell zurückspeichern"
               tooltip="Speichert die Änderungen am Modell auf den Server zurück"
               menubarPath="org.kalypso.menu.model/modelStart"
               id="org.kalypso.action.model.commitModel"/>
         <action
               label="Modell aktualisieren"
               tooltip="aktualisiert ein bereits vorhandenes Modell mit Daten vom Server"
               menubarPath="org.kalypso.menu.model/modelStart"
               id="org.kalypso.action.model.updateModel"/>
         <action
               label="Modell vom Server laden"
               tooltip="lädt ein Modell vom Sever, falls es nicht bereits vorhanden ist"
               menubarPath="org.kalypso.menu.model/modelStart"
               id="org.kalypso.action.model.checkoutModel"/>
      </actionSet>
   </extension>

</plugin>
