<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.featureview"
   name="KalypsoFeatureView Plug-in"
   version="0.0.1"
   provider-name="kalypso.org"
   class="org.kalypso.featureview.KalypsoFeatureViewPlugin">

   <runtime>
      <library name="KalypsoFeatureView.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.kalypso.deegree"/>
      <import plugin="org.kalypso.ui"/>
   </requires>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.kalypso.featureview.views.FeatureView"
            icon="icons/sample.gif"
            category="org.kalypso.ui.kalypso"
            name="%org.kalypso.featureview.views.FeatureView.name"
            id="org.kalypso.featureview.views.FeatureView"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.kalypso.featureview.views.FeatureView"
            id="org.kalypso.featureview.actions">
         <action
               disabledIcon="icons/dtool16/saveas_template.gif"
               label="%org.kalypso.featureview.saveAsTemplateAction.name"
               tooltip="%org.kalypso.featureview.saveAsTemplateAction.tooltip"
               icon="icons/etool16/saveas_template.gif"
               class="org.kalypso.featureview.views.actions.SaveAsTemplateActionDelegate"
               style="push"
               menubarPath="additions"
               id="org.kalypso.featureview.saveAsTemplateAction"/>
      </viewContribution>
   </extension>

</plugin>
