<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.kalypso.simulation.core.simulation">
      <simulation
            catalogClass="org.kalypso.gaja3d.simulation.Gaja3dUrlCatalog"
            simulationClass="org.kalypso.gaja3d.simulation.CreateGridSimulation"
            typeID="Gaja3d_createGrid">
      </simulation>
      <simulation
            catalogClass="org.kalypso.gaja3d.simulation.Gaja3dUrlCatalog"
            simulationClass="org.kalypso.gaja3d.simulation.DetectBreaklinesSimulation"
            typeID="Gaja3d_detectBreaklines">
      </simulation>
      <simulation
            catalogClass="org.kalypso.gaja3d.simulation.Gaja3dUrlCatalog"
            simulationClass="org.kalypso.gaja3d.simulation.CreateTinSimulation"
            typeID="Gaja3d_createTin">
      </simulation>
   </extension>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.gaja3d.simulation.Gaja3dUrlCatalog"
            id="org.kalypso.gaja3d.simulation.urlCatalog">
      </catalog>
   </extension>
</plugin>
