<?xml version="1.0" encoding="UTF-8"?>
<ElbePolteControl fid="foo" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="org.kalypso.elbepolte.control" xmlns:gml="http://www.opengis.net/gml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<scenarioId/>
	<scenarioName/>
	<scenarioDescription/>
	<startforecast/>
	<editor/>
	<description/>
	<comment/>
	<calctime/>
	<calcMergePath/>
</ElbePolteControl>
