<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="KalypsoFloodRiskAnalysis"
   name="KalypsoFloodRiskAnalysis Plug-in"
   version="1.0.0"
   provider-name=""
   class="KalypsoFloodRiskAnalysis.KalypsoFloodRiskAnalysisPlugin">

   <runtime>
      <library name="KalypsoFloodRiskAnalysis.jar">
         <export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.kalypso.core"/>
      <import plugin="org.kalypso.jwsdp"/>
      <import plugin="org.kalypso.ui"/>
      <import plugin="org.kalypso.ui.addlayer"/>
   </requires>
   <extension-point id="AddProcess" name="AddProcess" schema="extpSchema/schema/AddProcess.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.kalypso.floodrisk.perspective.FloodRiskPerspective"
            icon="icons/sample.gif"
            fixed="false"
            name="Kalypso FloodRisk"
            id="KalypsoFloodRiskAnalysis"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Start"
            visible="false"
            id="KalypsoFloodRiskAnalysis.Start">
         <menu
               label="FloodRiskAnalysis"
               id="KalypsoFloodRiskAnalysis.startMenu">
            <groupMarker name="start"/>
         </menu>
         <action
               label="Start Calculation(s)"
               class="org.kalypso.floodrisk.action.StartCalculationActionDelegate"
               style="push"
               menubarPath="KalypsoFloodRiskAnalysis.startMenu/start"
               id="KalypsoFloodRiskAnalysis.action"/>
      </actionSet>
   </extension>
   <extension
         point="KalypsoFloodRiskAnalysis.AddProcess">
      <KalypsoProcess
            type="local"
            class="org.kalypso.floodrisk.rasterize.RasterizeLanduseJob"
            name="Rasterize Landuse"
            id="RasterizeLanduseJob"/>
      <KalypsoProcess
            type="local"
            class="org.kalypso.floodrisk.damageAnalysis.CalculateDamageJob"
            name="Calculate damage"
            id="CalculateDamageJob"/>
      <KalypsoProcess
            type="local"
            class="org.kalypso.floodrisk.riskAnalysis.CalculateFloodRiskJob"
            name="Define floodrisk"
            id="CalculateFloodRiskJob"/>
      <KalypsoProcess
            type="local"
            class="org.kalypso.floodrisk.statisticAnalysis.CalculateStatisticJob"
            name="Get statistics"
            id="CalculateStatisticJob"/>
   </extension>

</plugin>
