<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="AddProcess" name="AddProcess" schema="schema/AddProcess.exsd"/>
     
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%KalypsoFloodRiskAnalysis.Start.label"
            visible="true"
            id="KalypsoFloodRiskAnalysis.Start">
         <menu
               label="%KalypsoFloodRiskAnalysis.startMenu.label"
               id="KalypsoFloodRiskAnalysis.startMenu">
            <groupMarker name="start"/>
         </menu>
         <action
               label="%KalypsoFloodRiskAnalysis.action.label"
               class="org.kalypso.floodrisk.action.StartCalculationActionDelegate"
               style="push"
               menubarPath="KalypsoFloodRiskAnalysis.startMenu/start"
               id="KalypsoFloodRiskAnalysis.action"/>
      </actionSet>
   </extension>
   <extension
         point="org.kalypso.floodrisk.AddProcess">
      <KalypsoProcess
            name="%RasterizeLanduseJob.name"
            simulationID="RasterizeLanduseJob"
            id="RasterizeLanduseJob"/>
      <KalypsoProcess
            name="%CalculateDamageJob.name"
            simulationID="CalculateDamageJob"
            id="CalculateDamageJob"/>
      <KalypsoProcess
            name="%CalculateFloodRiskJob.name"
            simulationID="CalculateFloodRiskJob"
            id="CalculateFloodRiskJob"/>
      <KalypsoProcess
            name="%CalculateStatisticJob.name"
            simulationID="CalculateStatisticJob"
            id="CalculateStatisticJob"/>
   </extension>

   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            selected="false"
            pattern="*.dat"/>
   </extension>
   <extension
         point="org.kalypso.simulation.core.simulation">
      <simulation
            catalogClass="org.kalypso.floodrisk.schema.UrlCatalogFloodRisk"
            simulationClass="org.kalypso.floodrisk.rasterize.RasterizeLanduseJob"
            typeID="RasterizeLanduseJob"/>
      <simulation
            catalogClass="org.kalypso.floodrisk.schema.UrlCatalogFloodRisk"
            simulationClass="org.kalypso.floodrisk.damageAnalysis.CalculateDamageJob"
            typeID="CalculateDamageJob"/>
      <simulation
            catalogClass="org.kalypso.floodrisk.schema.UrlCatalogFloodRisk"
            simulationClass="org.kalypso.floodrisk.riskAnalysis.CalculateFloodRiskJob"
            typeID="CalculateFloodRiskJob"/>
      <simulation
            catalogClass="org.kalypso.floodrisk.schema.UrlCatalogFloodRisk"
            simulationClass="org.kalypso.floodrisk.statisticAnalysis.CalculateStatisticJob"
            typeID="CalculateStatisticJob"/>
   </extension>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.floodrisk.schema.UrlCatalogFloodRisk"
            id="org.kalypso.floodrisk.schema.UrlCatalogFloodRisk"/>
   </extension>

</plugin>
