<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.kalypso.contribs.eclipseplatform.projectTemplate">
      <project
            category="org.kalypso.model.risk.demoProject"
            data="etc/demos/RiskDemo_1D2D.zip"
            description="%risk.project.description"
            label="%risk.project.label"
            projectName="%risk.project.projectName">
      </project>
   </extension>

</plugin>
