<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="org.kalypso.dss.calcJob"
         name="DssCalcJob"
         point="org.kalypso.simulation.core.simulation">
      <simulation
            catalogClass="org.kalypso.dss.UrlCatalogDss"
            simulationClass="org.kalypso.dss.calcjob.KalypsoDssCalcJob"
            typeID="KalypsoDSS"/>
   </extension>
   <extension
         id="org.kalypso.dss.urlcatalog"
         name="UrlCatalogDss"
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.dss.UrlCatalogDss"
            id="KalypsoDSS.catalog1"/>
   </extension>


</plugin>
