<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="org.kalypso.dss.popupmenu"
         name="popupmenu"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            objectClass="org.kalypsodeegree.model.feature.Feature"
            id="org.kalypso.objectclass.feature">
         <action
               label="NeueS Maßnahme..."
               tooltip="Hinzugfügen einer Maßnahme"
               class="org.kalypso.dss.actiondelegates.AddGeometrieToMeasureActionDelegate"
               style="push"
               id="org.kalypso.objectclass.dss.measure.create"/>
      </objectContribution>
   </extension>
   <extension
         id="org.kalypso.dss.extension.catalog"
         name="UrlCatalog"
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.dss.DSSUrlCatalog"
            id="org.kalypso.dss.urlcatalog"/>
   </extension>

</plugin>
