<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="org.kalypso.repository.factories"
         name="PSICompact Repository Factory"
         point="org.kalypso.repository.factories">
      <repository
            conf=""
            name="PSICompact"
            factory="org.kalypso.psiadapter.repository.PSICompactRepositoryFactory"/>
   </extension>
   
</plugin>
