<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="org.kalypso.repository.factories"
         name="PSICompact Repository Factory"
         point="org.kalypso.repository.factories">
      <repository
            factory="org.kalypso.psiadapter.repository.PSICompactRepositoryFactory"
            name="PSICompact"/>
   </extension>
     <extension
           point="org.kalypso.simulation.core.simulation">
        <simulation
              simulationClass="org.kalypso.psiadapter.users.PSICompactRightsProvider"
              typeID="hwvUserService1.0">
        </simulation>
        <simulation
              simulationClass="org.kalypso.psiadapter.metadoc.PSICompactCommiter"
              typeID="hwvDocumentService1.0">
        </simulation>
     </extension>
     <extension
           point="org.kalypso.contribs.java.urlCatalog">
        <catalog
              class="org.kalypso.psiadapter.UrlCatalogPSI"
              id="org.kalypso.psiadapter.UrlCatalogPSI">
        </catalog>
     </extension>
   
</plugin>
