<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.raster.import"
   name="RasterImport"
   version="1.0.0"
   provider-name="kalypso.org"
   >

   <runtime>
      <library name="KalypsoPluginRaster.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.kalypso.ui"/>
      <import plugin="org.kalypso.jwsdp"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.kalypso.ui.addlayer"/>
      <import plugin="org.kalypso.floodrisk"/>
   </requires>

   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            icon="icons/sample.gif"
            class="KalypsoPluginRasterImport.ImportRasterWizard"
            name="%KalypsoPluginRasterImport.wizard1.name"
            id="KalypsoPluginRasterImport.wizard1"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            icon="icons/sample.gif"
            class="KalypsoPluginRasterExport.ExportRasterWizard"
            name="%KalypsoPluginRasterExport.wizard1.name"
            id="KalypsoPluginRasterExport.wizard1"/>
   </extension>

</plugin>
