<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.services.metadoc.client"
   name="KalypsoServiceMetaDocClient Plug-in"
   version="1.0.0"
   provider-name="kalypso.org"
   class="org.kalypso.services.metadoc.client.KalypsoServiceMetaDocClientPlugin">

   <runtime>
      <library name="KalypsoServiceMetaDocClient.jar">
         <export name="*"/>
      </library>
      <library name="lib/kalypsoservice_metadoc.jar">
         <export name="*"/>
      </library>
      <library name="lib/KalypsoServiceCore.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.kalypso.auth"/>
      <import plugin="org.kalypso.commons"/>
      <import plugin="org.kalypso.jwsdp"/>
      <import plugin="org.kalypso.core"/>
      <import plugin="org.kalypso.services.core.client"/>
      <import plugin="org.kalypso.ui"/>
      <import plugin="org.kalypso.metadoc"/>
   </requires>

      <extension
            point="org.kalypso.metadoc.exportTarget">
         <target
               icon="icons/elcl16/bericht.gif"
               class="org.kalypso.services.metadoc.client.MetaDocServiceExportTarget"
               description="%metadocServiceTarget.description"
               name="%metadocServiceTarget.name"
               id="metadocServiceTarget"/>
      </extension>
      <extension
            point="org.kalypso.services.core.client.serviceproxy">
         <serviceproxy
               class="org.kalypso.services.proxy.Kalypso_MetaDocService_Impl"
               interfacename="IMetaDocService"/>
      </extension>
</plugin>
