<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.deegree"
   name="org.kalypso.deegree"
   version="0.0.5"
   provider-name="kalypso.org">

   <runtime>
      <library name="kalypsodeegree.jar">
         <export name="*"/>
      </library>
      <library name="lib/acme/acme.jar">
         <export name="*"/>
      </library>
      <library name="lib/jai/jai_codec.jar">
         <export name="*"/>
      </library>
      <library name="lib/jts/jts.jar">
         <export name="*"/>
      </library>
      <library name="lib/jai/jai_core.jar">
         <export name="*"/>
      </library>
      <library name="lib/jai/mlibwrapper_jai.jar">
         <export name="*"/>
      </library>
      <library name="lib/java3d/j3dutils.jar">
         <export name="*"/>
      </library>
      <library name="lib/java3d/vecmath.jar">
         <export name="*"/>
      </library>
      <library name="lib/junit/junit.jar">
         <export name="*"/>
      </library>
      <library name="lib/jwsdp/activation.jar">
         <export name="*"/>
      </library>
      <library name="lib/jwsdp/dom.jar">
         <export name="*"/>
      </library>
      <library name="lib/jwsdp/jaxp-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/jwsdp/jax-qname.jar">
         <export name="*"/>
      </library>
      <library name="lib/jwsdp/jaxrpc-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/jwsdp/jaxrpc-impl.jar">
         <export name="*"/>
      </library>
      <library name="lib/jwsdp/jaxrpc-spi.jar">
         <export name="*"/>
      </library>
      <library name="lib/jwsdp/mail.jar">
         <export name="*"/>
      </library>
      <library name="lib/jwsdp/saaj-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/jwsdp/saaj-impl.jar">
         <export name="*"/>
      </library>
      <library name="lib/jwsdp/xercesImpl.jar">
         <export name="*"/>
      </library>
      <library name="lib/braju/hb15.jar">
         <export name="*"/>
      </library>
      <library name="lib/sldRasterSymbolizerBinding.jar">
         <export name="*"/>
      </library>
      <library name="lib/javaBinding/jaxb-api.jar">
      </library>
      <library name="lib/javaBinding/jaxb-impl.jar">
      </library>
      <library name="lib/javaBinding/jaxb-libs.jar">
      </library>
      <library name="lib/javaBinding/jaxb-xjc.jar">
      </library>
      <library name="lib/javaBinding/jax-qname.jar">
      </library>
      <library name="lib/javaBinding/namespace.jar">
      </library>
      <library name="lib/javaBinding/relaxngDatatype.jar">
      </library>
      <library name="lib/javaBinding/xsdlib.jar">
      </library>
   </runtime>

</plugin>
