<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.calculation.UrlCatalog"
            id="org.kalypso.calculation.UrlCatalog">
      </catalog>
   </extension>
   <extension
         point="org.kalypso.simulation.core.simulation">
      <simulation
            simulationClass="org.kalypso.calculation.connector.lzNA_kzNA.Connector_lzNA_kzNA_Job"
            typeID="KalypsoModelConnector_LZNA_KZNA">
      </simulation>
      <simulation
            simulationClass="org.kalypso.calculation.connector.na_wspm.Connector_NA_WSPM_Job"
            typeID="KalypsoModelConnector_NA_WSPM">
      </simulation>
      <simulation
            simulationClass="org.kalypso.calculation.connector.wspm_fm.Connector_WSPM_FM_Job"
            typeID="KalypsoModelConnector_WSPM_FM">
      </simulation>
      <simulation
            simulationClass="org.kalypso.calculation.connector.k1d2d_fm.Connector_1D2D_FM_Job"
            typeID="KalypsoModelConnector_1D2D_FM">
      </simulation>
      <simulation
            simulationClass="org.kalypso.calculation.connector.fm_rm.Connector_FM_RM_Job"
            typeID="KalypsoModelConnector_FM_RM">
      </simulation>
      <simulation
            simulationClass="org.kalypso.calculation.plc.postprocessing.PLCPostprocessing_Job"
            typeID="KalypsoPLC_Postprocessing">
      </simulation>
      <simulation
            simulationClass="org.kalypso.calculation.plc.postprocessing.InundationDifferenceSimulation"
            typeID="KalypsoRisk_InnundationDifferenceCalculation">
      </simulation>
      <simulation
            simulationClass="org.kalypso.calculation.plc.postprocessing.RiskZonesDifferenceSimulation"
            typeID="KalypsoRisk_RiskZonesDifferenceCalculation">
      </simulation>
      <simulation
            simulationClass="org.kalypso.calculation.plc.postprocessing.PLCPreprocessingSimulation"
            typeID="KalypsoRisk_PLCPreprocessing">
      </simulation>
   </extension>
   <extension
         point="org.kalypso.deegree.featureBinding">
      <feature
            class="org.kalypso.calculation.plc.postprocessing.binding.ScenarioResults"
            qname="{org.kalypso.calculation.plc.postprocessing}ScenarioResults">
      </feature>
   </extension>
</plugin>
