<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="mapEditStrategy" name="Map Edit Strategy" schema="schema/mapEditSpecification.exsd"/>
   <extension-point id="mapEditStrategySet" name="Map edit Strategy Set" schema="schema/mapEditSpecificationSet.exsd"/>
     <extension
           point="org.kalypso.simulation.core.simulation">
        <simulation
              catalogClass="org.kalypso.kalypsomodel1d2d.schema.UrlCatalog1D2D"
              simulationClass="org.kalypso.kalypsomodel1d2d.sim.SimMode1D2DCalcJob"
              typeID="KalypsoModel1D2D"/>
     </extension>
     <extension
           point="org.kalypso.contribs.java.urlCatalog">
        <catalog
              class="org.kalypso.kalypsomodel1d2d.schema.UrlCatalog1D2D"
              id="org.kalypso.kalypsomodel1d2d.schema.UrlCatalog1D2D"/>
     </extension>
     <extension
           point="org.kalypso.core.catalogContribution">
        <catalogContribution
              class="org.kalypso.kalypsomodel1d2d.ui.catalog.Model1d2dCatalogContribution"
              name="Model1d2dCatalogContribution"/>
     </extension>
     <extension
           point="org.kalypso.deegree.functionProperty">
        <function
              class="org.kalypso.kalypsomodel1d2d.schema.functions.FE1D2DEdgeTypeGeometryFunction"
              id="org.kalypso.kalypsomodel1d2d.schema.functions.FE1D2DEdgeTypeGeometry"
              name="FE1D2DEdgeTypeGeometry"/>
        <function
              class="org.kalypso.kalypsomodel1d2d.schema.functions.FE1D2D_2DElementTypeGeometry"
              id="org.kalypso.kalypsomodel1d2d.schema.functions.FE1D2D_2DElementTypeGeometry"
              name="FE1D2D_2DElementTypeGeometry"/>
     </extension>
     <extension
           id="editorActions"
           name="editorActions"
           point="org.eclipse.ui.editorActions">
              <editorContribution
                    id="org.kalypso.kalypsomodel1d2d.mapeditorContributions"
                    targetID="org.kalypso.ui.editor.mapeditor.GisMapEditor">
      			<action
               class="org.kalypso.kalypsomodel1d2d.ui.map.CreateFEElementDelegate"
               icon="icons/elcl16/edit1d2d.gif"
               id="org.kalypso.kalypsomodel1d2d.ui.map.CreateFEElementDelegate"
               label="Element hinzufügen"
               menubarPath="org.kalypso.ui.editors.mapeditor.menu/edit"
               style="radio"
               toolbarPath="karte/edit"
               tooltip="Ein neues FE Element erzeugen">
				</action>
         <action
               class="org.kalypso.kalypsomodel1d2d.ui.map.CreateFEContlineDelegate"
               id="org.kalypso.kalypsomodel1d2d.ui.map.CreateFEContlineDelegate"
               label="Kontinuitätslinie definieren"
               style="radio"
               toolbarPath="karte/edit"
               tooltip="eine neue Kontinuitätslinie definieren"/>
         <!--action
               	class="xp.ActivateModelMapEditProtocolViewDelegate"
               	id="xp.ActivateModelMapEditProtocolViewDelegate"
               	label="1d 2d zeichen element activieren"
               	style="radio"
               	toolbarPath="karte/edit"
				icon="icons/elcl16/1d2d_edit_protocol_view.gif"
               	tooltip="1d 2d zeichen element activieren"/-->
        <action
               	class="xp.CreateGridDelegate"
               	id="xp.CreateGridDelegate"
               	label="builde element automatisch in einem 4eck-bereich"
               	style="radio"
               	toolbarPath="karte/edit"
				icon="icons/elcl16/1d2d_edit_protocol_view.gif"
               	tooltip="1d 2d zeichen element activieren"/>
               	    
              </editorContribution>
     </extension>
     
     <extension
         id="org.kalypso.core.adapters"
         name="Kalypso Model 1D 2D Adapter Factory"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.kalypsodeegree.model.feature.Feature"
            class="org.kalypso.kalypsomodel1d2d.schema.binding.KalypsoModel1D2DFeatureFactory">
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.IFE1D2DNode"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.IFE1D2DEdge"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.IFE1D2DElement"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.IFE1D2DContinuityLine"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.IFE1D2DComplexElement"/>
      </factory>
   </extension>
     <extension
           point="org.eclipse.ui.popupMenus">
        <objectContribution
              adaptable="false"
              id="org.kalypso.model1d2d.objectContribution.discretisationModel"
              objectClass="org.kalypsodeegree.model.feature.Feature">
           <filter
                 name="featureType"
                 value="http://www.tu-harburg.de/wb/kalypso/schemata/1d2d#DiscretisationModel"/>
           <action
                 class="org.kalypso.kalypsomodel1d2d.ui.actions.ValidateDiscretisationModelActionDelegate"
                 id="org.kalypso.kalypsomodel1d2d.ui.actions.ValidateDiscretisationModelActionDelegate"
                 label="Modell validieren"
                 style="push"
                 tooltip="validiert das Modell"/>
           <menu
                 id="org.kalypso.model1d2d.discModelImport"
                 label="Import"
                 path="additions">
              <groupMarker name="imports"/>
              <separator name="additions"/>
           </menu>
           <action
                 class="org.kalypso.kalypsomodel1d2d.ui.actions.ImportBCE2DActionDelegate"
                 id="org.kalypso.kalypsomodel1d2d.ui.actions.ImportBCE2DActionDelegate"
                 label="BCE2D"
                 menubarPath="org.kalypso.model1d2d.discModelImport/imports"
                 style="push"
                 tooltip="ein BCE2D Modell importieren"/>
           <action
                 class="org.kalypso.kalypsomodel1d2d.ui.actions.ImportWSPMDelegateAction"
                 id="org.kalypso.kalypsomodel1d2d.ui.actions.ImportWSPMDelegateAction"
                 label="WSPM"
                 menubarPath="org.kalypso.model1d2d.discModelImport/imports"
                 style="push"
                 tooltip="ein WSPM Modell importieren"/>
        </objectContribution>
     </extension>
     <extension
         name="Workflow Views"
         point="org.eclipse.ui.views">
	      <view
	            allowMultiple="false"
	            class="xp.ModelMapEditStrategyView"
	            id="xp.ModelMapEditProtocolView"
	            name="Model Map Edit Protocol View "/>
	  </extension>
     <extension
           point="org.kalypso.model1d2d.mapEditStrategy">
     </extension>
     <extension
           point="org.kalypso.deegree.gmlWorkspaceListener">
        <listener
              class="xp.geom_to_struct.GeometryToStructUpdater"
              id="xp.geom_to_struct.geometryToStructUpdater"
              name="xp.geom_to_struct.geometryToStructUpdater"/>
     </extension>
	
</plugin>
