<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
           point="org.kalypso.simulation.core.simulation">
        <simulation
              catalogClass="org.kalypso.kalypsomodel1d2d.schema.UrlCatalog1D2D"
              simulationClass="org.kalypso.kalypsomodel1d2d.sim.SimMode1D2DCalcJob"
              typeID="KalypsoModel1D2D"/>
     </extension>
     <extension
           point="org.kalypso.contribs.java.urlCatalog">
        <catalog
              class="org.kalypso.kalypsomodel1d2d.schema.UrlCatalog1D2D"
              id="org.kalypso.kalypsomodel1d2d.schema.UrlCatalog1D2D"/>
     </extension>
     <extension
           point="org.kalypso.core.catalogContribution">
        <catalogContribution
              class="org.kalypso.kalypsomodel1d2d.ui.catalog.Model1d2dCatalogContribution"
              name="Model1d2dCatalogContribution"/>
     </extension>
     <extension
           point="org.kalypso.deegree.functionProperty">
        <function
              class="org.kalypso.kalypsomodel1d2d.schema.functions.FE1D2DEdgeTypeGeometryFunction"
              id="org.kalypso.kalypsomodel1d2d.schema.functions.FE1D2DEdgeTypeGeometry"
              name="FE1D2DEdgeTypeGeometry"/>
        <function
              class="org.kalypso.kalypsomodel1d2d.schema.functions.FE1D2D_2DElementTypeGeometry"
              id="org.kalypso.kalypsomodel1d2d.schema.functions.FE1D2D_2DElementTypeGeometry"
              name="FE1D2D_2DElementTypeGeometry"/>
        <function
              class="org.kalypso.kalypsomodel1d2d.schema.functions.NodeElevationAvailabilityInfoFunction"
              id="org.kalypso.kalypsomodel1d2d.schema.functions.NodeElevationAvailabilityInfoFunction"
              name="NodeElevationAvailabilityInfoFunction"/>
        <function
              class="org.kalypso.kalypsomodel1d2d.schema.functions.Element1DTypeGeometry"
              id="org.kalypso.kalypsomodel1d2d.schema.functions.Element1DTypeGeometry"
              name="Element1DTypeGeometry"/>
         <function
              class="org.kalypso.kalypsomodel1d2d.schema.functions.Element1DJunctionNatureTest"
              id="org.kalypso.kalypsomodel1d2d.schema.functions.Element1DJunctionNatureTest"
              name="Element1DJunctionNatureTest"/>
         <function
              class="org.kalypso.kalypsomodel1d2d.schema.functions.JunctionContextGeometry"
              id="org.kalypso.kalypsomodel1d2d.schema.functions.JunctionContextGeometry"
              name="JunctionContextGeometry"/>

         <!--function
              class="org.kalypso.kalypsomodel1d2d.schema.functions.ModelFiniteElements"
              id="org.kalypso.kalypsomodel1d2d.schema.functions.ModelFiniteElements"
              name="ModelFiniteElment"/ -->
         <function
              class="org.kalypso.kalypsomodel1d2d.schema.functions.ElementRoughnessStyleFunc"
              id="org.kalypso.kalypsomodel1d2d.schema.functions.ElementRoughnessStyleFunc"
              name="ElementRoughnessStyleFunc"/>
         <function
               class="org.kalypso.kalypsomodel1d2d.schema.functions.NodeResultVelocityFunction"
               id="org.kalypso.kalypsomodel1d2d.schema.functions.NodeResultVelocityFunction"
               name="NodeResultVelocityFunction"/>
         <function
               class="org.kalypso.kalypsomodel1d2d.schema.functions.StaticModelBBoxFunc"
               id="org.kalypso.kalypsomodel1d2d.schema.functions.StaticModelBBoxFunc"
               name="StaticModelBBoxFunc"/>
              
     </extension>     
     
     <extension
         id="org.kalypso.core.adapters"
         name="Kalypso Model 1D 2D Adapter Factory"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.kalypsodeegree.model.feature.Feature"
            class="org.kalypso.kalypsomodel1d2d.schema.binding.KalypsoModel1D2DFeatureFactory">
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IFE1D2DNode"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IFE1D2DEdge"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IEdgeInv"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IElement1D"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IFE1D2DContinuityLine"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IFE1D2DComplexElement"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IRiverChannel1D"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IFEDiscretisationModel1d2d"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IFEEdgeToEdgeJunction1D2D"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IFEEdgeToCLineJunction1D2D"/>
         <adapter type="org.kalypsodeegree.graphics.displayelements.DisplayElementDecorator"/>
         <adapter type="org.kalypso.kalypsosimulationmodel.core.flowrel.IFlowRelationship"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.flowrel.IKingFlowRelation"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.flowrel.ITeschkeFlowRelation"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.flowrel.IBoundaryCondition"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IPolyElement"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.model.IStaticModel1D2D"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.model.IControlModel1D2D"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IFE1D2DElement"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IJunctionContext1DTo2D"/>
         <adapter type="org.kalypso.kalypsomodel1d2d.schema.binding.discr.IJunctionContext1DToCLine"/>
      </factory>
   </extension>
     
     <extension
           point="org.kalypso.deegree.gmlWorkspaceListener">
        <listener
              class="org.kalypso.kalypsomodel1d2d.update.GeometryToStructUpdater"
              id="xp.geom_to_struct.geometryToStructUpdater"
              name="xp.geom_to_struct.geometryToStructUpdater"/>
     </extension>
     <extension
           point="org.eclipse.ui.viewActions">
        <viewContribution
              id="org.kalypso.ui.views.mapView.widgets1d2d"
              targetID="org.kalypso.ui.views.mapView">
         	<action
	           icon="icons/elcl16/add_2delement.gif"
	           id="org.kalypso.kalypsomodel1d2d.ui.map.CreateFE2DElementDelegate"               
	           label="2D-FE-Element hinzufügen"
	           style="radio"
	           toolbarPath="karte/edit"
	           tooltip="Ein neues FE-Element erzeugen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.CreateFE2DElementWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="Element2D"/>
	       			</class>
			</action>
			
			<action
	           icon="icons/elcl16/edit1d2d.gif"
	           id="org.kalypso.kalypsomodel1d2d.ui.map.EditFEConceptGeometryWidget"               
	           label="FE-Knoten bewegen"
	           style="radio"
	           toolbarPath="karte/edit"
	           tooltip="FE-Knote bewegen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.EditFEConceptGeometryWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="Element2D"/>
	       			</class>
			</action>
			
			
			<action
	           icon="icons/elcl16/cut.png"
	           id="org.kalypso.kalypsomodel1d2d.ui.map.DeleteFE2DElement"               
	           label="Del FE 2D"
	           style="radio"
	           toolbarPath="karte/edit"
	           tooltip="FE-Element markieren und entfernen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.del.DeleteFEElements2DWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="Element2D"/>
	       			</class>
			</action>
			
         	<action
                icon="icons/elcl16/add_contiline.gif"
                id="org.kalypso.kalypsomodel1d2d.ui.map.cline.CreateFEContlineDelegate"
                label="Kontinuitätslinie hinzufügen"
                style="radio"
                toolbarPath="karte/edit"
                tooltip="Eine neue Kontinuitätslinie definieren">
               		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.cline.CreateFEContlineWidget"/>
 	                  	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="ContinuityLine"/>
	       			</class>
         	</action>


         	<action
                icon="icons/elcl16/cut_contiline.png"
                id="org.kalypso.kalypsomodel1d2d.ui.map.cline.DeleteFEContlineDelegate"
                label="Kontinuitätslinie löschen"
                style="radio"
                toolbarPath="karte/edit"
                tooltip="Eine neue Kontinuitätslinie definieren">
               		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.del.DeleteFEContlineWidget"/>
 	                  	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="ContinuityLine"/>
	       			</class>
         	</action>


          <action
                icon="icons/elcl16/add_1delement.gif"
                id="org.kalypso.kalypsomodel1d2d.ui.map.CreateFE1DElementDelegate"
                label="1D-FE-Element hinzufügen"
                style="radio"
                toolbarPath="karte/edit"
                tooltip="Ein neues FE-Element erzeugen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.element1d.CreateFEElement1DWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="Element1D"/>
	       			</class>
			</action>    

			<action
	           icon="icons/elcl16/edit1d2d.gif"
	           id="org.kalypso.kalypsomodel1d2d.ui.map.EditFEConceptGeometryWidget_1d"               
	           label="FE-Knoten bewegen"
	           style="radio"
	           toolbarPath="karte/edit"
	           tooltip="FE-Knote bewegen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.EditFEConceptGeometryWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="Element1D"/>
	       			</class>
			</action>
			
			<action
	           icon="icons/elcl16/cut.png"
	           id="org.kalypso.kalypsomodel1d2d.ui.map.DeleteFE1DElement"               
	           label="Del FE 1D"
	           style="radio"
	           toolbarPath="karte/edit"
	           tooltip="FE-Element markieren und entfernen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.del.DeleteFEElements1DWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="Element1D"/>
	       			</class>
			</action>
          <action
                icon="icons/elcl16/flowRelation_add_teschke.gif"
                id="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.CreateTeschkeFlowrelationWidgetAction"
                label="Teschke Parameter hinzufügen"
                style="radio"
                toolbarPath="karte/edit"
                tooltip="Teschke Parameter einem FE-Knoten zuordnen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.CreateTeschkeFlowrelationWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="Parameters1D"/>
	       			</class>
			</action>    
          <action
                icon="icons/elcl16/flowrelation_addKing.gif"
                id="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.CreateKingFlowrelationWidgetAction"
                label="King Parameter hinzufügen"
                style="radio"
                toolbarPath="karte/edit"
                tooltip="King Parameter einem FE-Knoten zuordnen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.CreateKingFlowrelationWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="Parameters1D"/>
	       			</class>
			</action>    
          <action
                icon="icons/elcl16/flowRelation_edit.gif"
                id="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.EditFlowrelationWidget"
                label="Parameter bearbeiten"
                style="radio"
                toolbarPath="karte/edit"
                tooltip="Zugeordnete Parameter eines FE-Knoten bearbeiten">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.EditFlowrelationWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="Parameters1D"/>
	       			</class>
			</action>    
			<action
	           icon="icons/elcl16/flowRelation_delete.png"
	           id="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.DeleteFlowrelationWidgetAction"               
	           label="Parameter löschen"
	           style="radio"
	           toolbarPath="karte/edit"
	           tooltip="einem FE-Koten zugeordnete Parameter löschen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.DeleteFlowrelationWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="Parameters1D"/>
	       			</class>
			</action>
          <action
                icon="icons/elcl16/flowrelation_addNodalBC.gif"
                id="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.CreateNodalBCFlowrelationWidgetAction"
                label="Randbedingung hinzufügen"
                style="radio"
                toolbarPath="karte/edit"
                tooltip="neue Randbedinung einem FE-Element zuordnen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.CreateNodalBCFlowrelationWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="NodalBCDef"/>
	       			</class>
			</action>    
          <action
                icon="icons/elcl16/flowRelation_editNodalBC.gif"
                id="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.EditNodalBCFlowrelationWidget"
                label="Randbedingung bearbeiten"
                style="radio"
                toolbarPath="karte/edit"
                tooltip="Zugeordnete Randbedinung eines FE-Elements bearbeiten">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.EditFlowrelationWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="NodalBCDef"/>
	       			</class>
			</action>    
			<action
	           icon="icons/elcl16/flowRelation_deleteNodalBC.png"
	           id="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.DeleteNodalBCFlowrelationWidgetAction"               
	           label="Randbedingung löschen"
	           style="radio"
	           toolbarPath="karte/edit"
	           tooltip="einem FE-Element zugeordnete Randbedinung löschen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.kalypsomodel1d2d.ui.map.flowrel.DeleteFlowrelationWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model1d2d"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="NodalBCDef"/>
	       			</class>
			</action>
   <action
         disabledIcon="icons/dlcl16/select_profile_disable.gif"
         icon="icons/elcl16/select_profile_enable.gif"
         id="org.kalypso.kalypsomodel1d2d.ui.map.SelectProfileWidgetAction"
         label="Profil selektieren"
         style="radio"
         toolbarPath="karte/edit"
         tooltip="Profil selektieren und in der Karte anzeigen">
	           		<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommandActionDelegate">
	          			<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" 
	                     	value="org.kalypso.model.wspm.ui.view.map.SelectionOneProfileWidget"/>
                     	<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin" 
	                     	value="org.kalypso.model.wspm.ui"/>
	                    <parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.context" 
	                     	value="SelectOneProfile"/>
	       			</class>
   </action>
        </viewContribution>
     </extension>
     <extension
           point="org.eclipse.ui.newWizards">
        <wizard
              class="org.kalypso.kalypsomodel1d2d.ui.featurecontrols.TimestepChooseWizard"
              id="org.kalypso.kalypsomodel1d2d.ui.featurecontrols.TimestepChooseWizard"
              name="TimeStepWizard"/>
        <wizard
              class="org.kalypso.kalypsomodel1d2d.ui.featurecontrols.TimeStepFillerWizard"
              id="org.kalypso.kalypsomodel1d2d.ui.featurecontrols.TimeWizard"
              name="Test"/>
     </extension>
     <extension
           point="org.kalypso.core.catalogContribution">
        <catalogContribution
              class="org.kalypso.kalypsomodel1d2d.schema.KalypsoModel1D2DCatalogContribution"
              name="org.kalypso.kalypsomodel1d2d.schema.KalypsoModel1D2DCatalogContribution"/>
     </extension>
     <extension
           point="org.kalypso.ui.featureViewExtensionControl">
        <extensionControl
              class="org.kalypso.kalypsomodel1d2d.ui.featurecontrols.TimestepFillerControlFactory"
              id="org.kalypso.kalypsomodel1d2d.ui.featurecontrols.TimestepFillerControlFactory"/>
     </extension>
     <extension
           point="org.kalypso.chart.LayerProvider">
        <provider
              class="org.kalypso.kalypsomodel1d2d.ui.chart.KingLayerProvider"
              id="org.kalypso.kalypsomodel1d2d.ui.chart.KingLayerProvider">
        </provider>
     </extension>
</plugin>
