<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.kalypso.ui.kalypso"
            class="org.kalypso.workflow.ui.browser.CommandURLBrowserView"
            icon="icons/workflow_browser.gif"
            id="org.kalypso.workflow.ui.WorkflowBrowserView"
            name="Workflow Browser"/>
   </extension>
   <extension
         id="org.kalypso.workflow.editors"
         name="kalypsoworkfloweditors"
         point="org.eclipse.ui.editors">
         <editor
               default="true"
               extensions="html"
               id="org.kalypso.workflow.Launcher"
               launcher="org.kalypso.workflow.WorkflowLauncher"
               name="WorkflowLauncher">
      </editor>
   </extension>

</plugin>
