
html, body {
      
    text-align:center;
    margin:15px 0 0 0;
    padding:0;
    height:100%;
    overflow:hidden;
    scroll:auto;
    vertical-align:middle;
}


#content {
    padding:5px 0 0 0;
    height:95%;
    overflow:auto;
    vertical-align:middle;
}



#footer {
    border-top:1px solid black;
    position:fixed;
    bottom:0px;
    height:40px;
    text-align:center;
    padding:5px 25px 5px 5px;
    width:100%;
    background:#fff;
    border-top:1px solid #096;
}




/* Button-Layouts  */



/* Einfacher Button (1 Zeile=1 Button)*/
#button {
height:35px;
width:200px;
margin:0;
padding:0;
display:block;
}

/* Verzweigte Button (1 Zeile=mehrere Button) */
#button_bypass {
height:35px;
padding:0 0 0 3px;
margin:0;
display:inline;
vertical-align:bottom;
}


/* Grundlayout BUTTON bei Verlinkungen: einfache und verzweigte Button */
#button a,  #button_bypass a {

margin:0px;
padding:3px 2px 2px 2px;
font-family:arial, sans-serif;
font-size:8px;
line-height:85%;
font-weight:normal;
background:url(a_hi.gif) no-repeat 100%;
color:#fff;
text-decoration:none;
width:81px;
height:20px;
}


/* Grundlayout, AKTIVER Zustand */
#button a:active, #button_bypass a:active {
background:url(a_hi_active.gif) no-repeat 100%;
color:#fff;
text-decoration:underline;
}


/* Layout des sich verzweigenden Button: linke Hauptlinie */
.bypass_top_l {
background:url(bypass_top_l.gif) no-repeat center bottom #fff; 
}


/* Layout des sich verzweigenden Button: mittlere Hauptlinie */
.bypass_top_m {
background:url(bypass_top_m.gif) no-repeat center bottom #fff; 
}


/* Layout des sich verzweigenden Button: rechte Hauptlinie */
.bypass_top_r {
background:url(bypass_top_r.gif) no-repeat center bottom #fff; 
}


.abschluss {
background:#fff;
}


/* Layout des linken verzweigenden Button */
.bypass_l {
background:url(bypass_l.gif) no-repeat center bottom #fff; 
}

/* Layout des linken verzweigenden Button, linke Hauptlinie*/
.bypass_l_b {
background:url(bypass_l_b.gif) no-repeat center bottom #fff; 
}


/* Layout des mittleren verzweigenden Button */
.direct {
background:url(direct.gif) no-repeat center bottom #fff; 
}

/* Layout des mittleren verzweigenden Button, mittlere Hauptlinie*/
.direct_b {
background:url(direct_b.gif) no-repeat center bottom #fff; 
}



/* Layout des rechten verzweigenden Button */
.bypass_r {
background:url(bypass_r.gif) no-repeat center bottom #fff; 
}

/* Layout des rechten verzweigenden Button, rechte Hauptlinie*/
.bypass_r_b {
background:url(bypass_r_b.gif) no-repeat center bottom #fff; 
}


/* Footer-Button, selberklärend */

#footer a {
padding:2px 10px 0 2px;
width:50px;
heigth:20px;
display:inline;
}

#footer a.back {
background:url(back.gif) no-repeat center;
}
#footer a:hover.back {
background:url(back_hover.gif) no-repeat center;
}


#footer a.first {
background:url(first.gif) no-repeat center;
}
#footer a:hover.first {
background:url(first_hover.gif) no-repeat center;
}


#footer a.forward {
background:url(forward.gif) no-repeat center;
}
#footer a:hover.forward {
background:url(forward_hover.gif) no-repeat center;
}


#footer a.last {
background:url(last.gif) no-repeat center;
}
#footer a:hover.last {
background:url(last_hover.gif) no-repeat center;
}


#footer a.finish {
background:url(finish.gif) no-repeat center;
}

#footer a:hover.finish {
background:url(finish_hover.gif) no-repeat center;
}


