<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.simulation.core.simulation">
      <simulation
            typeID="org.kalypso.model.wavos.elbe.sachsen.v1"
            catalogClass="org.kalypso.model.wavos.WavosUrlCatalog"
            simulationClass="org.kalypso.model.wavos.WavosCalcJob"/>
   </extension>
</plugin>
