<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.apache.ant"
   name="%pluginName"
   version="1.6.2"
   provider-name="%providerName">

   <runtime>
      <library name="lib/ant.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-antlr.jar">
         <export name="*"/>
      </library>
	  <library name="lib/ant-apache-bcel.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-apache-bsf.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-apache-log4j.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-apache-oro.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-apache-regexp.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-apache-resolver.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-commons-logging.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-commons-net.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-icontract.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-jai.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-javamail.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-jdepend.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-jmf.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-jsch.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-junit.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-launcher.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-netrexx.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-nodeps.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-starteam.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-stylebook.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-swing.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-trax.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-vaj.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-weblogic.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-xalan1.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-xslp.jar">
         <export name="*"/>
      </library>
   </runtime>
</plugin>
