<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="product"
         name="Kalypso Enterprise"
         point="org.eclipse.core.runtime.products">
      <product
            name="Kalypso Enterprise"
            application="org.kalypso.product.application"
            description="Kalypso Enterprise Client for numerical modelling">
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="aboutImage"
               value="etc/aboutKalypso.gif">
         </property>
         <property
               name="featureImage"
               value="etc/kalypso32.gif">
         </property>
         <property
               name="windowImage"
               value="etc/kalypso16.gif">
         </property>
      </product>
   </extension>

   <extension
         id="application"
         name="Kalypso Enterprise"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.kalypso.ui.application.KalypsoApplication">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Hochwasser Vorhersage"
            icon="etc/kalypso16.gif"
            category="org.kalypso.ui.kalypso"
            class="org.kalypso.simulation.ui.startscreen.PrognoseView"
            id="org.kalypso.view.prognose">
      </view>
   </extension>

</plugin>
