<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
	<extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.renew.workflow.cases.Case"
            class="de.renew.workflow.connector.cases.CaseAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
	<extension
         point="org.eclipse.ui.commands">
      <category
            description="Category for workflow tasks"
            id="de.renew.workflow.tasks.category"
            name="de.renew.workflow.tasks.category"/>
      <category
            description="Category for workflow task groups"
            id="de.renew.workflow.taskgroups.category"
            name="de.renew.workflow.taskgroups.category"/>            
	  <command
            categoryId="de.renew.workflow.tasks.category"
            id="de.renew.workflow.connector.DeleteProject"
            name="Projekt von Workflowserver trennen"/>                     
   </extension>   	
</plugin>

