<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.renew.workflow.connectordebug.DebugView"
            id="WorkflowConnector.debugView"
            name="Debug View"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="WorkflowConnector.WorkItemContribution"
            objectClass="de.renew.workflow.connector.WorkItem">
         <action
               class="de.renew.workflow.connectordebug.RequestWorkItemActionDelegate"
               id="WorkflowConnector.RequestWorkItemAction"
               label="Request Workitem"/>
      </objectContribution>
   </extension>



</plugin>

