<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.renew.workflow.connector.debug.DebugView"
            id="WorkflowConnector.debugView"
            name="Debug View"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="WorkflowConnector.WorkItemContribution"
            objectClass="de.renew.workflow.WorkItem">
         <action
               class="de.renew.workflow.connector.debug.RequestWorkItemActionDelegate"
               id="WorkflowConnector.RequestWorkItemAction"
               label="Request Workitem"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.kalypso.kalypso1d2d.pjt.natureActions"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"/>
         <action
               enablesFor="1"
               icon="icons/connect.png"
               id="org.kalypso.kalypso1d2d.pjt.natureActions.NewProject"
               label="Verbinden"
               tooltip="Projekt mit dem Workflowserver verbinden">
			<class class="de.renew.workflow.connector.context.handlers.GenericCommandActionDelegate">
      			<parameter name="commandId" 
                 	value="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#NewProject"/>
   			</class>               
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
 	     <handler
			class="de.renew.workflow.connector.context.handlers.ActivateScenarioHandler"
			commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#ActivateScenario"/>      
 	     <handler
			class="de.renew.workflow.connector.context.handlers.NewProjectHandler"
			commandId="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#NewProject"/>      			
   </extension>   
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Category for workflow tasks"
            id="de.renew.workflow.tasks.category"
            name="de.renew.workflow.tasks.category"/>
      <category
            description="Category for workflow task groups"
            id="de.renew.workflow.taskgroups.category"
            name="de.renew.workflow.taskgroups.category"/>            
      <command
            categoryId="de.renew.workflow.tasks.category"
            id="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#NewProject"
            name="Projekt mit Workflowserver verbinden"/>
	  <command
            categoryId="de.renew.workflow.tasks.category"
            id="http://www.tu-harburg.de/wb/kalypso/kb/workflow/test#DeleteProject"
            name="Projekt von Workflowserver trennen"/>                     
   </extension>
	<extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            popupMenuId="org.kalypso.kalypso1d2d.pjt.views.ScenarioView.menu"
            viewerId="org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
      </viewer>
      <viewerContentBinding viewerId="org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
         <includes>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
            <contentExtension pattern="org.kalypso.kalypso1d2d.pjt.navigator.filters.*"/>            
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            description="Nur Workflow-Projekte anzeigen"
            id="org.kalypso.kalypso1d2d.pjt.navigator.filters.Kalypso1d2dProjects"
            name="Nur Workflow-Projekte anzeigen">
         <filterExpression>
    	    <and>
				<instanceof value="org.eclipse.core.resources.IProject"/>        
				<not>
					<test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"/>
                </not>
	        </and>
         </filterExpression>
      </commonFilter>      
      <commonFilter
            activeByDefault="true"
            description="Ressourcen ausblenden"
            id="org.kalypso.kalypso1d2d.pjt.navigator.filters.StarDotStarResources"
            name="Ressourcen ausblenden">
         <filterExpression>
     		<or>
 	        	<and>
					<instanceof value="org.eclipse.core.resources.IFolder"/>
    	     	</and>
 				<test
    	            forcePluginActivation="true"
        	        property="org.eclipse.core.resources.name"
            	    value=".*"/>    	     	
     		</or>
         </filterExpression>
      </commonFilter>
   </extension>


</plugin>

