<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.kalypso.contribs.eclipseplatform.projectTemplate">
      <project
            category="org.kalypso.kalypso1d2d.pjt.projectTemplate"
            data="/"
            description="%projectTemplate.description"
            label="%projectTemplate.label">
      </project>
   </extension>
</plugin>
