<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.model.wspm.tuhh.schema.schemata.WspmTuhhUrlCatalog"
            id="org.kalypso.model.wspm.tuhh.urlcatalog"/>
   </extension>
   <extension
      point="org.kalypso.simulation.core.simulation">
      <simulation
      	 catalogClass="org.kalypso.model.wspm.tuhh.schema.schemata.WspmTuhhUrlCatalog"
         simulationClass="org.kalypso.model.wspm.tuhh.schema.simulation.WspmTuhhCalcJob"
         typeID="WspmTuhhV1.0"/>
   </extension>
   <extension
         point="org.kalypso.deegree.functionProperty">
      <function
            class="org.kalypso.model.wspm.tuhh.schema.gml.WaterBodyParentFunctionProperty"
            id="org.kalypso.model.wspm.tuhh.schema.function.WaterBodyParentFunctionProperty"
            name="Water Body Parent"/>
   </extension>
   <extension
         point="org.kalypso.deegree.gmlWorkspaceListener">
      <listener
            class="org.kalypso.model.wspm.tuhh.schema.gml.MarkerListConsister"
            id="org.kalypso.model.wspm.tuhh.schema.gml.MarkerListConsister"
            name="Tuhh Marker List Consister">
         <qname
               localPart="ReachWspmTuhhSteadyState"
               namespace="org.kalypso.model.wspm.tuhh"/>
      </listener>
      <listener
            class="org.kalypso.model.wspm.tuhh.schema.gml.DictI18nGmlListener"
            id="org.kalypso.model.wspm.schema.gml.DictI18nGmlListener"
            name="Dict 18n listener">
         <qname
               localPart="Dictionary"
               namespace="http://www.opengis.net/gml">
         </qname>
      </listener>
   </extension>
   <extension
         point="org.kalypso.core.catalogContribution">
      <catalogContribution class="org.kalypso.model.wspm.tuhh.schema.WspmTuhhDictionaryCatalogContribution"/>
   </extension>
   
</plugin>
