<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.eind.tuhh.stationaer"
   name="Profil Kalypso 1d"
   version="1.0.0"
   provider-name="kalypso.org"
   class="org.kalypso.eind.tuhh.stationaer.Kalypso1DTUHHPlugin">
   <runtime>
      <library name="kalypso1d.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="com.bce.eind.core"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>
     <extension
           point="com.bce.eind.core.validatortype">
        <validatortype
              description="Pasche"
              id="pasche"/>
     </extension>
   <extension
         point="com.bce.eind.core.validatorrule">
      <rule
            class="org.kalypso.eind.tuhh.stationaer.rules.RuecksprungRule"
            description="Rücksprung"
            id="pasche.ruecksprung"
            type="Pasche"/>
        <rule
              class="org.kalypso.eind.tuhh.stationaer.rules.TrennerRule"
              description="Trennflächen"
              id="pasche.trenner"
              type="Pasche"/>
        <rule
              class="org.kalypso.eind.tuhh.stationaer.rules.BrueckeRule"
              description="Brücke"
              id="pasche.bruecke"
              type="Pasche"/>
        <rule
              class="org.kalypso.eind.tuhh.stationaer.rules.WehrRule"
              description="Wehr"
              id="pasche.wehr"
              type="Pasche"/>
        <rule
              class="org.kalypso.eind.tuhh.stationaer.rules.DoppelterPunktRule"
              description="DoppelterPunkt"
              id="pasche.doppelterpunkt"
              type="Pasche"/>
        <rule
              class="org.kalypso.eind.tuhh.stationaer.rules.BewuchsRule"
              description="Bewuchs"
              id="pasche.bewuchs"
              type="Pasche"/>
   </extension>
</plugin>
