<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.kalypso.model.wspm.objectContribution.calcTuhh"
            objectClass="org.kalypsodeegree.model.feature.Feature">
         <filter
               name="featureType"
               value="org.kalypso.model.wspm.tuhh#CalculationWspmTuhhSteadyState"/>
         <action
               class="org.kalypso.model.wspm.tuhh.ui.actions.CalcTuhhAction"
               icon="icons/obj16/startCalulation.gif"
               id="org.kalypso.model.wspm.calcTuhhAction"
               label="%org.kalypso.model.wspm.calcTuhhAction"
               style="push"
               tooltip="%org.kalypso.model.wspm.calcTuhhAction.tooltip"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.kalypso.model.wspm.ui.objectContribution.showProfile"
            objectClass="org.kalypsodeegree.model.feature.Feature">
         <filter
               name="featureType"
               value="org.kalypso.model.wspm.tuhh#ProfileReachSegmentWspmTuhhSteadyState"/>
         <action
               class="org.kalypso.model.wspm.ui.action.ShowProfileAction"
               icon="icons/obj16/openProfile.gif"
               id="org.kalypso.model.wspm.ui.action.ShowProfileAction"
               label="Profil anzeigen"
               tooltip="Öffnet die Profileeditor Perspektive"/>
      </objectContribution>
            <objectContribution
            adaptable="false"
            id="org.kalypso.model.wspm.ui.object.contribution.org.kalypso.ui.editor.gmleditor.ui.feature.tuhhreach"
            objectClass="org.kalypsodeegree.model.feature.Feature">
         <filter
               name="featureType"
               value="org.kalypso.model.wspm.tuhh#ReachWspmTuhhSteadyState"/>
         <action
               class="org.kalypso.model.wspm.tuhh.ui.actions.CreateProfileMapAction"
               icon="icons/elcl16/createProfileMap.gif"
               id="org.kalypso.model.wspm.ui.action.CreateProfileMapAction"
               label="Profile in neuer Karte anzeigen"
               menubarPath="org.kalypso.model.wspm.ui.wspmProfileActions"
               style="push"
               tooltip="Zeigt den selektierten Gewässerstrang in einer Karte an."/>
      </objectContribution>

            <objectContribution
                  adaptable="false"
                  id="org.kalypso.model.wspm.tuhh.ui.object.contribution.org.kalypso.ogc.gml.IKalypsoFeatureTheme.assignRoughnessToProfiles"
                  objectClass="org.kalypso.ogc.gml.IKalypsoFeatureTheme">
               <filter
                     name="featureThemeQname"
                     value="org.kalypso.model.wspm.tuhh#ProfileReachSegmentWspmTuhhSteadyState"/>
               <action
                     class="org.kalypso.model.wspm.ui.action.IntersectRoughnessMapThemeAction"
                     id="org.kalypso.model.wspm.tuhh.ui.action.IntersectRoughnessMapThemeAction"
                     label="Rauheiten zuweisen"
                     menubarPath="org.kalypso.model.wspm.ui.wspmProfileActions"
                     style="push"
                     tooltip="Weist den selektierten Profilen Rauheiten über ein Polygon-Thema zu."/>
		         <action
		               class="org.kalypso.model.wspm.tuhh.ui.actions.CreateDeviderMapThemeAction"
		               id="org.kalypso.model.wspm.tuhh.ui.action.CreateDeviderMapThemeAction"
		               label="Fließzonen erzeugen"
		               menubarPath="org.kalypso.model.wspm.ui.wspmProfileActions"
		               style="push"
		               tooltip="Erzeugt Fließzonen-Begrenzer anhand von Linien-Themen"/>
            </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.kalypso.model.wspm.tuhh.ui.wizards.WspWinExportWizard"
            icon="icons/obj16/wspwin.gif"
            id="org.kalypso.model.wspm.exportwizard.wspwin"
            name="%org.kalypso.model.wspm.exportwizard.wspwin">
         <description>
            Exportiert WSP-Modell (TU-HH) als WspWin-Projekt
         </description>
      </wizard>
   </extension>

     <extension
           point="org.kalypso.model.wspm.core.profiletype">
        <profiletype
              name="Pasche"
              description="Profile nach dem 1D-stationären Rechenkern der TUHH (nach Prof. Pasche)"
              id="org.kalypso.model.wspm.tuhh.profiletype"/>
     </extension>
   <extension
         point="org.kalypso.model.wspm.core.validatorrule">
      <rule
            class="org.kalypso.model.wspm.tuhh.ui.rules.RuecksprungRule"
            description="Rücksprung"
            id="pasche.ruecksprung"
            type="org.kalypso.model.wspm.tuhh.profiletype"/>
        <rule
              class="org.kalypso.model.wspm.tuhh.ui.rules.TrennerRule"
              description="Trennflächen"
              id="pasche.trenner"
              type="org.kalypso.model.wspm.tuhh.profiletype"/>
        <rule
              class="org.kalypso.model.wspm.tuhh.ui.rules.BrueckeRule"
              description="Brücke"
              id="pasche.bruecke"
              type="org.kalypso.model.wspm.tuhh.profiletype"/>
        <rule
              class="org.kalypso.model.wspm.tuhh.ui.rules.WehrRule"
              description="Wehr"
              id="pasche.wehr"
              type="org.kalypso.model.wspm.tuhh.profiletype"/>
        <rule
              class="org.kalypso.model.wspm.tuhh.ui.rules.DoppelterPunktRule"
              description="DoppelterPunkt"
              id="pasche.doppelterpunkt"
              type="org.kalypso.model.wspm.tuhh.profiletype"/>
        <rule
              class="org.kalypso.model.wspm.tuhh.ui.rules.BewuchsRule"
              description="Bewuchs"
              id="pasche.bewuchs"
              type="org.kalypso.model.wspm.tuhh.profiletype"/>
        <rule
              class="org.kalypso.model.wspm.tuhh.ui.rules.RauheitRule"
              description="Rauheit"
              id="pasche.rauheit"
              type="org.kalypso.model.wspm.tuhh.profiletype"/>
   </extension>
   <extension
         point="org.kalypso.core.catalogContribution">
      <catalogContribution
            class="org.kalypso.model.wspm.tuhh.ui.catalog.WspmTuhhFeatureTypeCatalogContribution"
            name="Wspm Tuhh Style Catalog"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.kalypso.ui.newwizards.kalypso/org.kalypso.wspm.ui"
            class="org.kalypso.model.wspm.tuhh.ui.wizards.NewProjectWizard"
            descriptionImage="icons/wizban/kalypso32.gif"
            finalPerspective="org.kalypso.model.wspm.ui.product.WspmPerspectiveFactory"
            hasPages="true"
            icon="icons/obj16/kalypso16.gif"
            id="org.kalypso.model.wspm.tuhh.ui.wizards.NewProjectWizard"
            name="%org.kalypso.model.wspm.tuhh.ui.wizards.NewProjectWizard"
            project="true">
         
         <description>
            Erzeugt ein neues Projekt zur 1D-Spiegellinienberechnung mit dem 1D stationärem Rechenkern der TU Hamburg-Harburg.
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.kalypso.ui.newwizards.kalypso/org.kalypso.wspm.ui"
            class="org.kalypso.model.wspm.tuhh.ui.wizards.NewProjectImportWspwinWizard"
            descriptionImage="icons/wizban/kalypso32.gif"
            finalPerspective="org.kalypso.model.wspm.ui.product.WspmPerspectiveFactory"
            hasPages="true"
            icon="icons/obj16/wspwin16.gif"
            id="org.kalypso.model.wspm.tuhh.ui.wizards.NewProjectImportWspwinWizard"
            name="%org.kalypso.model.wspm.tuhh.ui.wizards.NewProjectImportWspwinWizard"
            project="true">
         <description>
            Importiert ein bestehendes WspWin Projekt als neues Projekt zur 1D-Spiegellinienberechnung mit dem 1D stationärem Rechenkern der TU Hamburg-Harburg.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.kalypso.model.wspm.ui.product.WspmPerspectiveFactory">
         <newWizardShortcut id="org.kalypso.model.wspm.tuhh.ui.wizards.NewProjectWizard"/>
         <newWizardShortcut id="org.kalypso.model.wspm.tuhh.ui.wizards.NewProjectImportWspwinWizard"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.kalypso.model.product.configId"
            content="content/ext.xml"/>
   </extension>
   <extension
         point="org.kalypso.model.wspm.core.profileFeatureProvider">
      <profileFeatureProvider
            class="org.kalypso.model.wspm.tuhh.core.gml.TuhhSegmentProfileFeatureProvider"
            id="org.kalypso.model.wspm.tuhh.core.gml.TuhhSegmentProfileFeatureProvider"/>
   </extension>
   <extension
         point="org.kalypso.model.wspm.ui.profilChartLayerProvider">
      <profilLayerProvider
            id="org.kalypso.model.wspm.tuhh.ui.chart.TuhhProfilLayerProvider"
            profiletype="org.kalypso.model.wspm.tuhh.profiletype"
            provider="org.kalypso.model.wspm.tuhh.ui.chart.ProfilLayerProviderTuhh"/>
      <profilLayerProvider
            id="org.kalypso.model.wspm.tuhh.ui.chart.overlay.ProfilOverlayLayerProvider"
            profiletype="org.kalypso.model.wspm.tuhh.profiletype"
            provider="org.kalypso.model.wspm.tuhh.ui.chart.overlay.ProfilOverlayLayerProvider"/>
   </extension>
   <extension
         point="org.kalypso.ui.featureViewExtensionControl">
      <extensionControl
            class="org.kalypso.model.wspm.tuhh.ui.featureview.ReachSegmentsFeatureviewControlFactory"
            id="org.kalypso.model.wspm.tuhh.ui.featureview.ReachSegmentsFeatureviewControlFactory"/>
      <extensionControl
            class="org.kalypso.model.wspm.tuhh.ui.featureview.ChartFeatureControlFactory"
            id="org.kalypso.model.wspm.tuhh.ui.featureview.ChartFeatureControlFactory"/>
   </extension>
   <extension
         point="org.kalypso.chart.LayerProvider">
      <provider
            class="org.kalypso.model.wspm.tuhh.ui.featureview.TupleResultLayerProvider"
            id="org.kalypso.model.wspm.tuhh.ui.featureview.TupleResultLayerProvider"/>
      <provider
            class="org.kalypso.model.wspm.tuhh.ui.featureview.PolynomeLayerProvider"
            id="org.kalypso.model.wspm.tuhh.ui.featureview.PolynomeLayerProvider"/>
   </extension>
</plugin>
