<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="importProfileWizards" name="importProfileWizards" schema="schema/importProfileWizards.exsd"/>
   <!-- Project extensions -->
   <extension
      point="org.eclipse.core.resources.natures"
      id="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"
      name="Kalypso1D2DProjectNature">
      <runtime>
         <run class="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"/>
      </runtime>
      <requires-nature
            id="org.kalypso.afgui.ScenarioHandlingProjectNature">
      </requires-nature>
      <requires-nature
            id="de.renew.workflow.connector.WorkflowProjectNature">
      </requires-nature>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.kalypso.kalypsosimulationmodel.core.resultmeta.IResultMeta"
            class="org.kalypso.kalypso1d2d.pjt.views.contentprov.ResultMetaAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>

	<extension
       point="org.eclipse.ui.newWizards">
		<category 
            id="org.kalypso.wizard.Create1d2dpjt"
            name="%org.kalypso.wizard.Create1d2dpjt.name"
            parentCategory="org.kalypso.ui.newwizards.kalypso"/>
		<wizard
        category="org.kalypso.ui.newwizards.kalypso/org.kalypso.wizard.Create1d2dpjt"
        class="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DNewProjectWizard"
        descriptionImage="icons/kalypso1d2d.png"
        finalPerspective="org.kalypso.kalypso1d2d.pjt.perspective.Perspective"
        icon="icons/kalypso1d2d.png"
        id="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DNewProjectWizard"
        name="%org.kalypso.kalypso1d2d.pjt.Kalypso1D2DNewProjectWizard.name"
        project="true">
		<description>
				%org.kalypso.kalypso1d2d.pjt.Kalypso1D2DNewProjectWizard.description
		</description>
		</wizard>
		<wizard
        category="org.kalypso.ui.newwizards.kalypso/org.kalypso.wizard.Create1d2dpjt"
        class="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DDemoProjectWizard"
        descriptionImage="icons/kalypso1d2d.png"
        finalPerspective="org.kalypso.kalypso1d2d.pjt.perspective.Perspective"
        icon="icons/kalypso1d2d.png"
        id="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DDemoProjectWizard"
        name="%org.kalypso.kalypso1d2d.pjt.Kalypso1D2DDemoProjectWizard.name"
        project="true">
		<description>
				%org.kalypso.kalypso1d2d.pjt.Kalypso1D2DDemoProjectWizard.description
		</description>
		</wizard>
	  	<category
            id="org.kalypso.kalypsosimulationmodel.ui.shapeimportwizards"
            name="Kalypso import wizards"/>
      	<wizard
            category="org.kalypso.kalypsosimulationmodel.ui.shapeimportwizards"
            class="org.kalypso.ui.wizards.imports.roughness.ImportWizard"
            icon="icons/kalypso_gmt.gif"
            id="org.kalypso.ui.wizards.imports.roughness.ImportWizard"
            name="Roughness import wizard"
            project="false"/>
      	<wizard
            class="org.kalypso.ui.wizards.imports.elevationmodel.ImportElevationWizard"
            id="org.kalypso.ui.wizards.imports.elevationmodel.ImportElevationWizard"
            name="ElevationWizard"
            project="false"/>
        <wizard
            class="org.kalypso.kalypsomodel1d2d.ui.wizard.windmodel.ImportWindDataWizard"
            id="org.kalypso.kalypsomodel1d2d.ui.wizard.windmodel.ImportWindDataWizard"
            name="WindDataWizard"
            project="false"/>
      	<wizard
            class="org.kalypso.ui.wizards.imports.observation.ImportObservationWizard"
            id="org.kalypso.ui.wizards.imports.observation.ImportObservationWizard"
            name="Observation load"/>
        <wizard
              class="org.kalypso.kalypso1d2d.internal.export2d.Export2dWizard"
              id="org.kalypso.wizards.export2d.ExportWizard"
              name="Export 2D"
              project="false"/>
	</extension>
     <extension
           point="org.kalypso.ui.featureViewExtensionControl">
        <extensionControl
              class="org.kalypso.kalypso1d2d.pjt.wizards.RestartSelectorControlFactory"
              id="org.kalypso.kalypso1d2d.pjt.wizards.RestartSelectorControlFactory"/>
     </extension>

   <extension
         name="Workflow Views"
         point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             class="org.kalypso.ui.repository.view.RepositoryExplorerPart"
             icon="icons/obj16/repository.gif"
             id="org.kalypso.kalypso1d2d.pjt.views.TimeseriesRepositoryView"
             name="%org.kalypso.kalypso1d2d.pjt.views.TimeseriesRepositoryView.name">
             <description>%org.kalypso.kalypso1d2d.pjt.views.TimeseriesRepositoryView.description</description>
       </view>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
        <category id="org.kalypso.model.1d2d.workflow" name="1D2D Workflow Commands"/>
        <command id="org.kalypso.model.1d2d.workflow.Preprocessing" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.Preprocessing.name" description="%org.kalypso.model.1d2d.workflow.Preprocessing.description"/>
        <command id="org.kalypso.model.1d2d.workflow.DataLoad" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.DataLoad.name" description="%org.kalypso.model.1d2d.workflow.DataLoad.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ElevLoad" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ElevLoad.name" description="%org.kalypso.model.1d2d.workflow.ElevLoad.description"/>
        <command id="org.kalypso.model.1d2d.workflow.WindDataLoad" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.WindDataLoad.name" description="%org.kalypso.model.1d2d.workflow.WindDataLoad.description"/>
        <command id="org.kalypso.model.1d2d.workflow.RoughLoad" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.RoughLoad.name" description="%org.kalypso.model.1d2d.workflow.RoughLoad.description"/>
        <command id="org.kalypso.model.1d2d.workflow.TimeSerLoad" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.TimeSerLoad.name" description="%org.kalypso.model.1d2d.workflow.TimeSerLoad.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ProfileImport" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ProfileImport.name" description="%org.kalypso.model.1d2d.workflow.ProfileImport.description"/>
        <command id="org.kalypso.model.1d2d.workflow.NetCstr" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.NetCstr.name" description="%org.kalypso.model.1d2d.workflow.NetCstr.description"/>
        <command id="org.kalypso.model.1d2d.workflow.Net1DRivGroup" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.Net1DRivGroup.name" description="%org.kalypso.model.1d2d.workflow.Net1DRivGroup.description"/>
        <command id="org.kalypso.model.1d2d.workflow.Net1DImport" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.Net1DImport.name" description="%org.kalypso.model.1d2d.workflow.Net1DImport.description"/>
        <command id="org.kalypso.model.1d2d.workflow.Net1DImportWspm" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.Net1DImportWspm.name" description="%org.kalypso.model.1d2d.workflow.Net1DImportWspm.description"/>
        <command id="org.kalypso.model.1d2d.workflow.AddProfileNetworkToMap" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.AddProfileNetworkToMap.name" description="%org.kalypso.model.1d2d.workflow.AddProfileNetworkToMap.description"/>
        <command id="org.kalypso.model.1d2d.workflow.Edit1DNet" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.Edit1DNet.name" description="%org.kalypso.model.1d2d.workflow.Edit1DNet.description"/>
        <command id="org.kalypso.model.1d2d.workflow.Edit1DNetParameters" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.Edit1DNetParameters.name" description="%org.kalypso.model.1d2d.workflow.Edit1DNetParameters.description"/>
        <command id="org.kalypso.model.1d2d.workflow.Net2DGroup" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.Net2DGroup.name" description="%org.kalypso.model.1d2d.workflow.Net2DGroup.description"/>
        <command id="org.kalypso.model.1d2d.workflow.Net2DImport" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.Net2DImport.name" description="%org.kalypso.model.1d2d.workflow.Net2DImport.description"/>
        <command id="org.kalypso.model.1d2d.workflow.EditNet2D" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.EditNet2D.name" description="%org.kalypso.model.1d2d.workflow.EditNet2D.description"/>
        <command id="org.kalypso.model.1d2d.workflow.EditFlowRelations2D" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.EditFlowRelations2D.name" description="%org.kalypso.model.1d2d.workflow.EditFlowRelations2D.description"/>
        <command id="org.kalypso.model.1d2d.workflow.Chan2DGen" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.Chan2DGen.name" description="%org.kalypso.model.1d2d.workflow.Chan2DGen.description"/>
        <command id="org.kalypso.model.1d2d.workflow.DikeDitchGen" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.DikeDitchGen.name" description="%org.kalypso.model.1d2d.workflow.DikeDitchGen.description"/>
        <command id="org.kalypso.model.1d2d.workflow.BandGen" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.BandGen.name" description="%org.kalypso.model.1d2d.workflow.BandGen.description"/>
        <command id="org.kalypso.model.1d2d.workflow.AssignElevs" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.AssignElevs.name" description="%org.kalypso.model.1d2d.workflow.AssignElevs.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ShowWindData" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ShowWindData.name" description="%org.kalypso.model.1d2d.workflow.ShowWindData.description"/>
        <command id="org.kalypso.model.1d2d.workflow.TransGroup" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.TransGroup.name" description="%org.kalypso.model.1d2d.workflow.TransGroup.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ContilineGen" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ContilineGen.name" description="%org.kalypso.model.1d2d.workflow.ContilineGen.description"/>
        <command id="org.kalypso.model.1d2d.workflow.BCDef" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.BCDef.name" description="%org.kalypso.model.1d2d.workflow.BCDef.description"/>
        <command id="org.kalypso.model.1d2d.workflow.SetEltLineJunction" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.SetEltLineJunction.name" description="%org.kalypso.model.1d2d.workflow.SetEltLineJunction.description"/>
        <command id="org.kalypso.model.1d2d.workflow.SetEltLineTrans" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.SetEltLineTrans.name" description="%org.kalypso.model.1d2d.workflow.SetEltLineTrans.description"/>
        <command id="org.kalypso.model.1d2d.workflow.CalculationUnit" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.CalculationUnit.name" description="%org.kalypso.model.1d2d.workflow.CalculationUnit.description"/>
        <command id="org.kalypso.model.1d2d.workflow.RoughMod" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.RoughMod.name" description="%org.kalypso.model.1d2d.workflow.RoughMod.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ClassDefGroup" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ClassDefGroup.name" description="%org.kalypso.model.1d2d.workflow.ClassDefGroup.description"/>
        <command id="org.kalypso.model.1d2d.workflow.RCDef" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.RCDef.name" description="%org.kalypso.model.1d2d.workflow.RCDef.description"/>
        <command id="org.kalypso.model.1d2d.workflow.DataExport" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.DataExport.name" description="%org.kalypso.model.1d2d.workflow.DataExport.description"/>
        <command id="org.kalypso.model.1d2d.workflow.NetExport" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.NetExport.name" description="%org.kalypso.model.1d2d.workflow.NetExport.description"/>
        <command id="org.kalypso.model.1d2d.workflow.Processing" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.Processing.name" description="%org.kalypso.model.1d2d.workflow.Processing.description"/>
        <command id="org.kalypso.model.1d2d.workflow.CalcSet" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.CalcSet.name" description="%org.kalypso.model.1d2d.workflow.CalcSet.description"/>
        <command id="org.kalypso.model.1d2d.workflow.StartCalculationWithProblemsView" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.StartCalculationWithProblemsView.name" description="%org.kalypso.model.1d2d.workflow.StartCalculationWithProblemsView.description"/>
        <command id="org.kalypso.model.1d2d.workflow.Postprocessing" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.Postprocessing.name" description="%org.kalypso.model.1d2d.workflow.Postprocessing.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ResultDataManager" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ResultDataManager.name" description="%org.kalypso.model.1d2d.workflow.ResultDataManager.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ResultMapGroup" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ResultMapGroup.name" description="%org.kalypso.model.1d2d.workflow.ResultMapGroup.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ConfigureResultMap" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ConfigureResultMap.name" description="%org.kalypso.model.1d2d.workflow.ConfigureResultMap.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ShowResultMap" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ShowResultMap.name" description="%org.kalypso.model.1d2d.workflow.ShowResultMap.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ManageResultHydrograph" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ManageResultHydrograph.name" description="%org.kalypso.model.1d2d.workflow.ManageResultHydrograph.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ResultLengthSectionViewGroup" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ResultLengthSectionViewGroup.name" description="%org.kalypso.model.1d2d.workflow.ResultLengthSectionViewGroup.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ConfigureResultLengthSectionView" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ConfigureResultLengthSectionView.name" description="%org.kalypso.model.1d2d.workflow.ConfigureResultLengthSectionView.description"/>
        <command id="org.kalypso.model.1d2d.workflow.ShowResultLengthSectionView" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.ShowResultLengthSectionView.name" description="%org.kalypso.model.1d2d.workflow.ShowResultLengthSectionView.description"/>
        <command id="org.kalypso.model.1d2d.workflow.GenerateDifferenceResultView" categoryId="org.kalypso.model.1d2d.workflow" name="%org.kalypso.model.1d2d.workflow.GenerateDifferenceResultView.name" description="%org.kalypso.model.1d2d.workflow.GenerateDifferenceResultView.description"/>
   </extension>
   
   <extension point="org.eclipse.ui.commandImages">
        <image commandId="org.kalypso.model.1d2d.workflow.Preprocessing" icon="icons/workflow/Preprocessing.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.DataLoad" icon="icons/workflow/DataLoad.gif"/>
        <image commandId="org.kalypso.model.1d2d.workflow.ElevLoad" icon="icons/workflow/ElevLoad.gif"/>
        <image commandId="org.kalypso.model.1d2d.workflow.WindDataLoad" icon="icons/workflow/WindDataLoad.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.RoughLoad" icon="icons/workflow/RoughLoad.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.TimeSerLoad" icon="icons/workflow/TimeSerLoad.gif"/>
        <image commandId="org.kalypso.model.1d2d.workflow.ProfileImport" icon="icons/workflow/ProfileImport.png"/>
        <!--
        <image commandId="org.kalypso.model.1d2d.workflow.NetCstr" icon="icons/workflow/"/>
        -->
        <image commandId="org.kalypso.model.1d2d.workflow.Net1DRivGroup" icon="icons/workflow/Net1DRivGroup.gif"/>
        <!--
        <image commandId="org.kalypso.model.1d2d.workflow.Net1DImportWspm" icon="icons/workflow/"/>
        -->
        <image commandId="org.kalypso.model.1d2d.workflow.AddProfileNetworkToMap" icon="icons/workflow/AddProfileNetworkToMap.png"/>
        <!--
        <image commandId="org.kalypso.model.1d2d.workflow.Edit1DNet" icon="icons/workflow/"/>
        -->
        <image commandId="org.kalypso.model.1d2d.workflow.Edit1DNetParameters" icon="icons/workflow/Edit1DNetParameters.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.Net2DGroup" icon="icons/workflow/Net2DGroup.gif"/>
        <image commandId="org.kalypso.model.1d2d.workflow.Net2DImport" icon="icons/workflow/Net2DImport.gif"/>
        <!--
        <image commandId="org.kalypso.model.1d2d.workflow.EditNet2D" icon="icons/workflow/"/>
        -->
        <image commandId="org.kalypso.model.1d2d.workflow.EditFlowRelations2D" icon="icons/workflow/EditFlowRelations2D.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.Chan2DGen" icon="icons/workflow/Chan2DGen.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.BandGen" icon="icons/workflow/BandGen.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.DikeDitchGen" icon="icons/workflow/BandGen.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.AssignElevs" icon="icons/workflow/AssignElevs.gif"/>
        <image commandId="org.kalypso.model.1d2d.workflow.ShowWindData" icon="icons/workflow/ShowWindData.png"/>
        <!--
        <image commandId="org.kalypso.model.1d2d.workflow.TransGroup" icon="icons/workflow/"/>
        -->
        <image commandId="org.kalypso.model.1d2d.workflow.ContilineGen" icon="icons/workflow/ContilineGen.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.BCDef" icon="icons/workflow/BCDef.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.SetEltLineJunction" icon="icons/workflow/SetEltLineJunction.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.SetEltLineTrans" icon="icons/workflow/SetEltLineTrans.png"/>
        <image commandId="org.kalypso.model.1d2d.workflow.CalculationUnit" icon="icons/workflow/CalculationUnit.gif"/>
        <image commandId="org.kalypso.model.1d2d.workflow.RoughMod" icon="icons/workflow/RoughMod.png"/>
        <!--
        <image commandId="org.kalypso.model.1d2d.workflow.ClassDefGroup" icon="icons/workflow/"/>
        <image commandId="org.kalypso.model.1d2d.workflow.RCDef" icon="icons/workflow/"/>
        -->
        <image commandId="org.kalypso.model.1d2d.workflow.DataExport" icon="icons/workflow/DataExport.gif"/>
        <image commandId="org.kalypso.model.1d2d.workflow.NetExport" icon="icons/workflow/NetExport.gif"/>
        <image commandId="org.kalypso.model.1d2d.workflow.Processing" icon="icons/workflow/Processing.gif"/>
        <!--
        <image commandId="org.kalypso.model.1d2d.workflow.CalcSet" icon="icons/workflow/"/>
        -->
        <image commandId="org.kalypso.model.1d2d.workflow.StartCalculationWithProblemsView" icon="icons/workflow/StartCalculationWithProblemsView.gif"/>
        <image commandId="org.kalypso.model.1d2d.workflow.Postprocessing" icon="icons/workflow/Postprocessing.png"/>
        <!--
        <image commandId="org.kalypso.model.1d2d.workflow.ResultDataManager" icon="icons/workflow/"/>
        <image commandId="org.kalypso.model.1d2d.workflow.ResultMapGroup" icon="icons/workflow/"/>
        <image commandId="org.kalypso.model.1d2d.workflow.ConfigureResultMap" icon="icons/workflow/"/>
        <image commandId="org.kalypso.model.1d2d.workflow.ShowResultMap" icon="icons/workflow/"/>
        -->
        <image commandId="org.kalypso.model.1d2d.workflow.ManageResultHydrograph" icon="icons/workflow/ManageResultHydrograph.gif"/>
        <image commandId="org.kalypso.model.1d2d.workflow.ResultLengthSectionViewGroup" icon="icons/workflow/ResultLengthSectionViewGroup.gif"/>
        <!--
        <image commandId="org.kalypso.model.1d2d.workflow.ConfigureResultLengthSectionView" icon="icons/workflow/"/>
        -->
        <image commandId="org.kalypso.model.1d2d.workflow.ShowResultLengthSectionView" icon="icons/workflow/ShowResultLengthSectionView.gif"/>
        <image commandId="org.kalypso.model.1d2d.workflow.GenerateDifferenceResultView" icon="icons/workflow/GenerateDifferenceResultView.gif"/>
   </extension>

     <extension point="org.eclipse.ui.handlers">

 	 <!--*** handlers for scenario management ***-->
 	 <!--*** import handlers ***-->
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.ImportElevationHandler"
	           commandId="org.kalypso.model.1d2d.workflow.ElevLoad"/>
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.ImportWindDataHandler"
	           commandId="org.kalypso.model.1d2d.workflow.WindDataLoad"/>
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.ImportProfileHandler"
	           commandId="org.kalypso.model.1d2d.workflow.ProfileImport"/>

 	 <!--*** general net editing handler ***-->

 	 <!--*** 1D-editing handlers ***-->
	     <handler
	           class="org.kalypso.kalypso1d2d.pjt.actions.ImportWSPMHandler"
	           commandId="org.kalypso.model.1d2d.workflow.Net1DImportWspm"/>
	     <handler
               class="org.kalypso.kalypso1d2d.pjt.actions.AddProfileToMapHandler"
               commandId="org.kalypso.model.1d2d.workflow.AddProfileNetworkToMap"/>

 	 <!--*** 2D-editing handlers ***-->
	     <handler
	           commandId="org.kalypso.model.1d2d.workflow.Net2DImport">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypso1d2d.internal.importNet.Import2dElementsWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.kalypso1d2d.pjt"/>
           </class>
	     </handler>

	     <handler
	           commandId="org.kalypso.model.1d2d.workflow.Chan2DGen">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.channeledit.ChannelEditWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     <handler
	           commandId="org.kalypso.model.1d2d.workflow.BandGen">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.grid.CreateGridWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>

	     <handler
	           commandId="org.kalypso.model.1d2d.workflow.DikeDitchGen">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.dikeditchgen.GenerateDikeOrDitchWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     <handler
	     	   commandId="org.kalypso.model.1d2d.workflow.AssignElevs">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.temsys.ApplyElevationWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
	     
	     <handler
	     	   commandId="org.kalypso.model.1d2d.workflow.ShowWindData">
           <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.temsys.ShowEditWindDataWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>	     

		<!-- // Handler for "Berechnungseinheiten Modellieren"-->
	     <handler
	       	   commandId="org.kalypso.model.1d2d.workflow.CalculationUnit">
               <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.map.calculation_unit.CalculationUnitWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>

	     <!-- // Handler for "Start Calculation Widget"-->
	     <handler
	       	  commandId="org.kalypso.model.1d2d.workflow.StartCalculationWithProblemsView">
               <class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
	                 value="org.kalypso.kalypsomodel1d2d.ui.calculationUnitView.CalculationUnitPerformWidget"/>
	           <parameter
	                 name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
	                 value="org.kalypso.model1d2d"/>
           </class>
	     </handler>
       <handler
             class="org.kalypso.kalypso1d2d.pjt.actions.SelectRoughnessThemeHandler"
             commandId="org.kalypso.model.1d2d.workflow.RCDef">
       </handler>
       <handler
             class="org.kalypso.kalypso1d2d.pjt.actions.ResultDataManagerHandler"
             commandId="org.kalypso.model.1d2d.workflow.ResultDataManager">
       </handler>
       <handler
             class="org.kalypso.kalypso1d2d.pjt.actions.ConfigureResultMapHandler"
             commandId="org.kalypso.model.1d2d.workflow.ConfigureResultMap">
       </handler>
       <handler
             class="org.kalypso.ui.wizards.lengthsection.ShowResultLengthSectionViewHandler"
             commandId="org.kalypso.model.1d2d.workflow.ShowResultLengthSectionView">
       </handler>
       <handler
             class="org.kalypso.kalypso1d2d.pjt.actions.ConfigureResultLengthSectionViewHandler"
             commandId="org.kalypso.model.1d2d.workflow.ConfigureResultLengthSectionView">
       </handler>
       <handler
             class="org.kalypso.kalypso1d2d.pjt.actions.GenerateResultDifferenceViewHandler"
             commandId="org.kalypso.model.1d2d.workflow.GenerateDifferenceResultView">
       </handler>
       <handler
             commandId="org.kalypso.model.1d2d.workflow.ManageResultHydrograph">
          <class
                class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
             <parameter
                   name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget"
                   value="org.kalypso.kalypso1d2d.pjt.map.HydrographManagementWidget">
             </parameter>
             <parameter
                   name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.plugin"
                   value="org.kalypso.kalypso1d2d.pjt">
             </parameter>
          </class>
       </handler>
	</extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.kalypso.kalypso1d2d.pjt.views.ResultNavigator">
            <options>
            	<!-- Hide the "Link with Editor" action from the toolbar of the viewer -->
				<property name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
						  value="true"/>
				<!-- Hide the "Available Extensions" tab in the "Available Customizations"
					dialog (available from the "Filters" action -->
				<!--<property name="org.eclipse.ui.navigator.hideAvailableExtensionsTab"
						  value="true"/>-->
			</options>
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="false"
            description="%de.renew.workflow.connector.filters.kalypso.projects.description"
            id="de.renew.workflow.connector.filters.kalypso.projects"
            name="%de.renew.workflow.connector.filters.kalypso.projects.name">
         <filterExpression>
    	    <and>
				<instanceof value="org.eclipse.core.resources.IProject"/>
				<not>
					<test
                	    property="org.eclipse.core.resources.projectNature"
                    	value="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature"/>
                </not>
	        </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.kalypso.deegree.functionProperty">
      <function
            class="org.kalypso.ui.wizards.imports.roughness.LinkedFeaturePropertyFunction"
            id="org.kalypso.ui.wizards.imports.roughness.LinkedFeaturePropertyFunction"
            name="Linked-Feature-Property-Fetcher"/>
      <function
            class="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            id="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            name="ComputeMergedRougnessProperties"/>
      <function
            class="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            id="org.kalypso.ui.wizards.imports.roughness.RougnessValuesPropertyFunction"
            name="RougnessValuesPropertyFunction"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.kalypso.kalypso1d2d.pjt.views.TimeseriesRepositoryView">
         <command
               commandId="org.kalypso.ui.command.repositoryReload">
         </command>
         <separator
               name="org.kalypso.kalypso1d2d.pjt.views.timeseriesRepository.separator.treeNavigation"
               visible="true">
         </separator>
         <command
               commandId="org.kalypso.ui.command.repositoryCollapseAll">
         </command>
         <separator
               name="org.kalypso.kalypso1d2d.pjt.views.timeseriesRepository.separator.export"
               visible="true">
         </separator>
         <command
               commandId="org.kalypso.ui.command.repositoryExportAsFile">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="de.renew.workflow.model.workflowSystem">
      <workflowSystem
            definition="etc/workflow.xml"
            id="workflow1d2d"
            name="Workflow 1d2d-Model">
      </workflowSystem>
   </extension>
   <extension
         point="org.kalypso.core.gmlSourceProvider">
      <provider
            class="org.kalypso.ui.wizards.results.gmlsource.WspTinProvider"
            id="org.kalypso.ui.wizards.results.gmlsource.WspTinProvider"
			description="%org.kalypso.ui.wizards.results.gmlsource.WspTinProvider.description"
            label="%org.kalypso.ui.wizards.results.gmlsource.WspTinProvider.label">
         <category
               id="org.kalypso.core.tin.waterlevel">
         </category>
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            icon="icons/kalypso1d2d_small.png"
            id="org.kalypso.kalypso1d2d.pjt.natureDecorator"
            label="%org.kalypso.kalypso1d2d.pjt.natureDecorator.label"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <description>%org.kalypso.kalypso1d2d.pjt.natureDecorator.description</description>
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="org.kalypso.kalypso1d2d.pjt.Kalypso1D2DProjectNature">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
	       point="org.kalypso.core.themeInfo">
	    <themeInfo
	          class="org.kalypso.kalypso1d2d.pjt.map.NodeThemeInfo"
	          id="org.kalypso.kalypso1d2d.pjt.map.NodeThemeInfo">
	    </themeInfo>
   </extension>
   <extension
         point="org.kalypso.module.kalypsoModule"> 
      <module
            class="org.kalypso.kalypso1d2d.extension.Kalypso1d2dModule">
      </module>
   </extension>
   <extension
         point="org.kalypso.kalypso1d2d.pjt.importProfileWizards">
      <category
            id="org.kalypso.kalypso1d2d.categories.importProfilesCategory"
            name="Profile Imports">
      </category>
      <wizard
            category="org.kalypso.kalypso1d2d.categories.importProfilesCategory"
            class="org.kalypso.kalypsomodel1d2d.ui.wizard.profileImport.tripple.ImportTrippleWizard"
            icon="icons/obj16/import_tripple_profiles_wizard.gif"
            id="org.kalypso.kalypsomodel1d2d.ui.wizard.profileImport.tripple.ImportTrippleWizard"
            name="Import Tripple Profiles">
         <description>
            Import Tripple Profiles
         </description>
      </wizard>
      <wizard
            category="org.kalypso.kalypso1d2d.categories.importProfilesCategory"
            class="org.kalypso.kalypsomodel1d2d.ui.wizard.profileImport.ewawi.ImportEwawiWizard"
            icon="icons/obj16/import_ewawi_profiles_wizard.gif"
            id="org.kalypso.kalypsomodel1d2d.ui.wizard.profileImport.ewawi.ImportEwawiWizard"
            name="Import Ewawi+ Profiles">
         <description>
            Import Ewawi+ Profiles
         </description>
      </wizard>
   </extension>
</plugin>
