<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.core"
   name="KalypsoCore Plug-in"
   version="1.0.0"
   provider-name="kalypso.org">

   <runtime>
      <library name="lib/coreBinding.jar">
         <export name="*"/>
      </library>
      <library name="kalypsocore.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.kalypso.contribs.eclipseplatform" export="true"/>
      <import plugin="org.kalypso.deegree" export="true"/>
      <import plugin="org.kalypso.repository" export="true"/>
      <import plugin="org.kalypso.jwsdp"/>
   </requires>

   <extension-point id="nativeObsAdapter" name="Adapter für native Zeitreihen" schema="schema/nativeObsAdapter.exsd"/>

   <extension
         point="org.kalypso.core.nativeObsAdapter">
      <adapter
            label="%org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter.n.label"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="N"/>
      <adapter
            label="%org.kalypso.ogc.sensor.adapter.NativeObservationCSVAdapter.n.label"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationCSVAdapter"
            axisType="N"/>
      <adapter
            label="%org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter.q.label"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="Q"/>
      <adapter
            label="%org.kalypso.ogc.sensor.adapter.NativeObservationCSVAdapter.q.label"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationCSVAdapter"
            axisType="Q"/>
      <adapter
            label="%org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter.t.label"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="T"/>
      <adapter
            label="%org.kalypso.ogc.sensor.adapter.NativeObservationEx2Adapter.t.label"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationEx2Adapter"
            axisType="T"/>
      <adapter
            label="%org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter.v.label"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="V"/>
      <adapter
            label="%org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter.w.label"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="W"/>
      <adapter
            label="%org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter.e.label"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationGrapAdapter"
            axisType="E"/>
      <adapter
            label="%org.kalypso.ogc.sensor.adapter.NativeObservationEx2Adapter.e.label"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationEx2Adapter"
            axisType="E"/>
   </extension>

</plugin>
