<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.core"
   name="KalypsoCore Plug-in"
   version="0.0.1"
   provider-name="org.kalypso">

   <runtime>
      <library name="KalypsoCore.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxb-api.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxb-impl.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxb-libs.jar">
         <export name="*"/>
      </library>
      <library name="lib/jaxb-xjc.jar">
         <export name="*"/>
      </library>
      <library name="lib/jax-qname.jar">
         <export name="*"/>
      </library>
      <library name="lib/namespace.jar">
         <export name="*"/>
      </library>
      <library name="lib/relaxngDatatype.jar">
         <export name="*"/>
      </library>
      <library name="lib/xercesImpl.jar">
         <export name="*"/>
      </library>
      <library name="lib/xsdlib.jar">
         <export name="*"/>
      </library>
      <library name="lib/dom.jar">
         <export name="*"/>
      </library>
      <library name="lib/junit.jar">
         <export name="*"/>
      </library>
      <library name="lib/coreBinding.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.kalypso.deegree"/>
      <import plugin="org.kalypso.util"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

</plugin>
