<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.kalypso.statistics.project.KalypsoStatisticsProjectNature"
         name="KalypsoStatisticsProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.kalypso.statistics.project.KalypsoStatisticsProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.kalypso.afgui.ScenarioHandlingProjectNature">
      </requires-nature>
      <requires-nature
            id="de.renew.workflow.connector.WorkflowProjectNature">
      </requires-nature>
   </extension>
   <extension
         point="org.kalypso.module.kalypsoModule">
      <module
            class="org.kalypso.statistics.extension.KalypsoStatisticsModule">
      </module>
   </extension>
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.kalypso.statistics.gui.perspectives.KalypsoStatisticsPerspective"
            icon="icons/kalypsoStatistics.png"
            id="org.kalypso.statistics.gui.perspectives.KalypsoStatisticsPerspective"
            name="%org.kalypso.statistics.gui.perspectives.KalypsoStatisticsPerspective.name">
      </perspective>      
   </extension>
   <extension
         point="de.renew.workflow.model.workflowSystem">
      <workflowSystem
            definition="etc/workflow.xml"
            id="workflowKalypsoStatistics"
            name="Workflow Kalypso Statistics">
      </workflowSystem>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.kalypso.statistics.gui.views.nodes.NodesListView"
            id="org.kalypso.statistics.gui.views.nodes.NodesListView"
            name="%org.kalypso.statistics.gui.views.nodes.NodesListView.name"
            restorable="true">
      </view>
      <view
            class="org.kalypso.statistics.gui.views.timeseries.TimeseriesListView"
            id="org.kalypso.statistics.gui.views.timeseries.TimeseriesListView"
            name="%org.kalypso.statistics.gui.views.timeseries.TimeseriesListView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.kalypso.statistics.command.handler.NotImplementedHandler"
            id="org.kalypso.statistics.command.handler.NotImplementedHandler"
            name="org.kalypso.statistics.command.handler.NotImplementedHandler">
      </command>
      <command
            defaultHandler="org.kalypso.statistics.command.handler.SelectAllHandler"
            id="org.kalypso.statistics.command.handler.SelectAllHandler"
            name="org.kalypso.statistics.command.handler.SelectAllHandler">
      </command>
      <command
            defaultHandler="org.kalypso.statistics.command.handler.SelectNoneHandler"
            id="org.kalypso.statistics.command.handler.SelectNoneHandler"
            name="org.kalypso.statistics.command.handler.SelectNoneHandler">
      </command>
      <command
            defaultHandler="org.kalypso.statistics.command.handler.DeleteSelectedRecordsHandler"
            id="org.kalypso.statistics.command.handler.DeleteSelectedRecordsHandler"
            name="org.kalypso.statistics.command.handler.DeleteSelectedRecordsHandler">
      </command>
      <command
            defaultHandler="org.kalypso.statistics.command.handler.ImportNodesHandler"
            id="org.kalypso.statistics.command.handler.ImportNodesHandler"
            name="org.kalypso.statistics.command.handler.ImportNodesHandler">
      </command>
      <command
            defaultHandler="org.kalypso.statistics.command.handler.ImportTimeseriesHandler"
            id="org.kalypso.statistics.command.handler.ImportTimeseriesHandler"
            name="org.kalypso.statistics.command.handler.ImportTimeseriesHandler">
      </command>
      <command
            defaultHandler="org.kalypso.statistics.command.handler.PreProcessSelectedDischargeTimeseriesHandler"
            id="org.kalypso.statistics.command.handler.PreProcessSelectedDischargeTimeseriesHandler"
            name="org.kalypso.statistics.command.handler.PreProcessSelectedDischargeTimeseriesHandler">
      </command>
      <command
            defaultHandler="org.kalypso.statistics.command.handler.ChartDisplaySelectedTimeseriesHandler"
            id="org.kalypso.statistics.command.handler.ChartDisplaySelectedTimeseriesHandler"
            name="org.kalypso.statistics.command.handler.ChartDisplaySelectedTimeseriesHandler">
      </command>
      <command
            defaultHandler="org.kalypso.statistics.command.handler.CreateExtremsTimeseriesHandler"
            id="org.kalypso.statistics.command.handler.CreateExtremsTimeseriesHandler"
            name="org.kalypso.statistics.command.handler.CreateExtremsTimeseriesHandler">
      </command>
      <command
            defaultHandler="org.kalypso.statistics.command.handler.TrendAdjustmentHandler"
            id="org.kalypso.statistics.command.handler.TrendAdjustmentHandler"
            name="org.kalypso.statistics.command.handler.TrendAdjustmentHandler">
      </command>
      <command
            defaultHandler="org.kalypso.statistics.command.handler.RemoveOutliersHandler"
            id="org.kalypso.statistics.command.handler.RemoveOutliersHandler"
            name="org.kalypso.statistics.command.handler.RemoveOutliersHandler">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      	<wizard
            class="org.kalypso.statistics.gui.wizards.importNodesFromSHP.ImportNodesFromShapeWizard"
            id="org.kalypso.statistics.gui.wizards.importNodesFromSHP.ImportNodesFromShapeWizard"
            name="org.kalypso.statistics.gui.wizards.importNodesFromSHP.ImportNodesFromShapeWizard"/>
      	<wizard
            class="org.kalypso.statistics.gui.wizards.importTimeseriesExternal.ImportObsWizard"
            id="org.kalypso.statistics.gui.wizards.importTimeseriesExternal.ImportObsWizard"
            name="org.kalypso.statistics.gui.wizards.importTimeseriesExternal.ImportObsWizard"/>
      	<wizard
            class="org.kalypso.statistics.gui.wizards.createExtremsTimeseries.CreateExtemsTimeseriesWizard"
            id="org.kalypso.statistics.gui.wizards.createExtremsTimeseries.CreateExtemsTimeseriesWizard"
            name="org.kalypso.statistics.gui.wizards.createExtremsTimeseries.CreateExtemsTimeseriesWizard"/>
      	<wizard
            class="org.kalypso.statistics.gui.wizards.trendAdjustment.TrendAdjustmentWizard"
            id="org.kalypso.statistics.gui.wizards.trendAdjustment.TrendAdjustmentWizard"
            name="org.kalypso.statistics.gui.wizards.trendAdjustment.TrendAdjustmentWizard"/>
   </extension>
      <extension
         point="org.kalypso.core.nativeObsAdapter">
      <adapter
            axisType="ZML"
            class="org.kalypso.ogc.sensor.adapter.NativeObservationZmlAdapter"
            label="ZML Format">
      </adapter>
   </extension>
   <extension
         point="de.openali.odysseus.chart.factory.LayerProvider">
      <provider
            class="org.kalypso.statistics.gui.chart.StatisticsDBChartLayerProvider"
            id="org.kalypso.statistics.gui.chart.StatisticsDBChartLayerProvider"/>
   </extension>
   <!--
   <extension
         point="de.openali.odysseus.chart.factory.MapperProvider">
      <provider
            class="org.kalypso.chart.ext.observation.mapper.provider.MarkerIconMapperProvider"
            id="org.kalypso.mapperprovider.observation.MarkerIconMapperProvider">
      </provider>
   </extension>
   -->
</plugin>
