<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.kalypso.wizard.CreateFloodRiskProject"
   name="KalypsoCreateFloodRiskProject Plug-in"
   version="1.0.0"
   provider-name=""
   class="org.kalypso.KalypsoCreateFloodRiskProjectPlugin">

   <runtime>
      <library name="KalypsoCreateFloodRiskProject.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.kalypso.ui" export="true"/>
      <import plugin="org.kalypso.jwsdp"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.kalypso.floodrisk"/>
   </requires>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%KalypsoCreateFloodRiskProject.name"
            id="KalypsoCreateFloodRiskProject"/>
      <wizard
            class="org.kalypso.wizard.KalypsoFloodRiskProjectWizard"
            project="true"
            icon="icons/kalypso16.gif"
            category="org.kalypso"
            name="%org.kalypso.wizard.KalypsoFloodRiskProjectWizard.name"
            id="org.kalypso.wizard.KalypsoFloodRiskProjectWizard"/>
   </extension>

</plugin>
