<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- local connection properties -->
		<property name="hibernate.connection.url">jdbc:hsqldb:file:c:\sdk\work\db\projects</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.pool_size">1</property>
		<property name="hibernate.connection.autocommit">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>


		<!-- dialect for HypersonicSQL -->
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<property name=""></property>

	</session-factory>
</hibernate-configuration>