<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.model.rcm.internal.UrlCatalogRcm"
            id="org.kalypso.model.rcm.UrlCatalogRcm">
      </catalog>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.kalypsodeegree.model.feature.Feature"
            class="org.kalypso.model.rcm.RcmFeatureAdapterFactory">
         <adapter
               type="org.kalypso.model.rcm.binding.IOmbrometer">
         </adapter>
         <adapter
               type="org.kalypso.model.rcm.binding.IRainfallGenerator">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.kalypso.model.rcm.ant.RainfallGenerationTask"
            library="lib/anttasks.jar"
            name="kalypso.rainfallGeneration">
      </antTask>
   </extension>

</plugin>
